@using PersonalWebsiteMVC.Areas.Photos.Models
@using RestSharp
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Microsoft.Extensions.Configuration
@using X.PagedList.Mvc
@inject IConfiguration _config
@model PhotosViewModel

<div id="photoContent">
	<div class="flex flex-1 flex-row justify-between">
	<h1>@Model.SinglePhoto!.Name</h1>
		<a href="#" id="closeLightbox" title="Close photo"><i class="fa fa-window-close fa-3x" style="color: darkgreen;"></i></a>
	</div>

	
	<div class="photoWithArrows">
		<div class="featherlight-previous">
			<span><<</span>
		</div>
		<img src="@GetThumbs(Model.SinglePhoto!.ImageUrl!)">
		
		<div class="featherlight-next" title="next">
			<span>>></span>
		</div>
	</div>
	<a href="#" id="viewComments">View Comments</a>
	<a href="#" id="hideComments">Hide Comments</a>
</div>

<partial name="~/Areas/Photos/Views/Album/Comments.cshtml" model="Model" />



@functions {
	string GetThumbs(string path)
	{
		var client = new RestClient("https://eapi.pcloud.com");
		var request = new RestRequest("getthumblink");
		request.AddParameter("access_token", _config["PCloud:Local:AccessToken"]);
		request.AddParameter("path", path);
		request.AddParameter("size", "600x400");
		var response = client.Execute(request);
		var result = JsonConvert.DeserializeObject(response.Content!);
		JToken json = JToken.Parse(result!.ToString()!);
		var url = "https://" + json["hosts"]![0] + json["path"];
		return url;
	}
}