<!DOCTYPE html>

<html>
<head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, viewport-fit=cover">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/ekko-lightbox/ekko-lightbox.css">
    <link rel="stylesheet" href="/css/Blog.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <main>
        <header>
            <nav>
                <ul>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="">Home</a></li>
                    <li><a asp-action="About" asp-controller="Home">About</a></li>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="Blog">Blog</a></li>
                    <li><a asp-controller="Photos" asp-action="Index" asp-area="Photos">Photos</a></li>
                    <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        @RenderBody()

        <footer>
            Copyright &copy; douglasmcgregor.co.uk 2024
        </footer>
    </main>

    <script src="/lib/jquery/jquery.min.js"></script>
   
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js"></script>
    <script src="/lib/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script src="/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", false)
</body>
</html>
