@using PersonalWebsiteMVC.Components.Mobile
@using MudBlazor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/tailwindcss/tailwind.min.css">
    <link rel="stylesheet" href="/lib/flowbite/flowbite.min.css">
    <link rel="stylesheet" href="/css/BlogV1.css">

    <title>Document</title>
</head>

<body>

    @{
        RenderBody();
    }

    <component type="typeof(Mobile)" render-mode="Server" />

<script src="/lib/flowbite/flowbite.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="_framework/blazor.server.js"></script>
   



</body>

</html>