@using Microsoft.AspNetCore.Components

@{
	ViewData["Title"] = "Home Page";
	var data = new ImportMapDefinition(
	new Dictionary<string, string>
	{
		{ "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
		{ "ckeditor5/", "/lib/ckeditor5/" },
	}, null, null);
}

<!DOCTYPE html>
<head>
    <title>Douglas McGregor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lib/ckeditor5/ckeditor5.css">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/BlogV1.css">

</head>

<body>



    @RenderBody()

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback" async defer></script>
     <script type="importmap" asp-importmap="@data"></script>
     <script type="module">
        import { 
            ClassicEditor, 
            Essentials, 
            Paragraph, 
            Bold, 
            Italic, 
            Font
        } from 'ckeditor5';

        ClassicEditor 
            .create(document.querySelector('#ckeditor1'), { 
                licenseKey: 'GPL', 
                plugins: [ Essentials, Paragraph, Bold, Italic, Font ], 
                toolbar: []
            })
            .then(editor => { 
                window.editor = editor;
            })
            .catch(error => { 
                console.error(error);
            });
    </script>
    
    <script src="/js/site.js" asp-append-version="true"></script>
     @RenderSection("Scripts", required: false)
</body>

</html>