@using Microsoft.AspNetCore.Components

@{
	ViewData["Title"] = "Home Page";
	var data = new ImportMapDefinition(
	new Dictionary<string, string>
	{
		{ "ckeditor5", "/lib/ckeditor5/ckeditor5.js" },
		{ "ckeditor5/", "/lib/ckeditor5/" },
	}, null, null);
}

<!DOCTYPE html>
<html>
<head>
    <title>Douglas McGregor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="keywords" content="douglas, mcgregor, douglas mcgregor, dotnet 9, asp.net core, asp.net, html5, css, javascript, react, web, developer, web developer, graduate">
     <meta name="description" content="Welcome to my personal website.  Here you will find blog posts on my journey through web development.  You will also find photo galleries of holiday snaps.">
     <meta name="robots" content="noindex,nofollow">
     <meta property="og:title" content="Douglas McGregor">
     <meta property="og:url" content="http://www.douglasmcgregor.co.uk">
     <meta property="og:image" content="http://www.douglasmcgregor.co.uk/images/me.jpg">
      <meta property="og:description" content="Welcome to my personal website.  This is a blog about my journey in web developement along with photographs of holiday snaps and a personal touch.">
     <link rel="author" href="http://www.douglasmcgregor.co.uk">
     <link rel="canconial" href="http://www.douglasmcgregor.co.uk">
    <link rel="stylesheet" href="/lib/ckeditor5/ckeditor5.css">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/BlogV1.css">

</head>

<body>



    @RenderBody()

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback" async defer></script>
     <script type="importmap" asp-importmap="@data"></script>
     <script type="module">
        import { 
            ClassicEditor, 
            Essentials, 
            Paragraph, 
            Bold, 
            Italic, 
            Font
        } from 'ckeditor5';

        ClassicEditor 
            .create(document.querySelector('#ckeditor1'), { 
                licenseKey: 'GPL', 
                plugins: [ Essentials, Paragraph, Bold, Italic, Font ], 
                toolbar: [],
            
            })
            .then(editor => { 
                window.editor = editor;
            })
            .catch(error => { 
                console.error(error);
            });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
     @RenderSection("Scripts", required: false)
</body>

</html>