@using DeviceDetectorNET
@addTagHelper *, PersonalWebsiteMVC

<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/Blog.min.css">
</head>
<body>


    @RenderBody()


    
    @TempData["Message"]


    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/ckeditor5/ckeditor.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/site.js" asp-append-version="true"></script>
    
    @RenderSection("Scripts", false)

</body>
</html>