<!DOCTYPE html>
<head>
    <title>Douglas McGregor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/BlogV1.css">
</head>
<body>

@TempData["Message"]
	
@RenderBody()

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/js/site.js"></script>
</body>
</html>