<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/tailwindcss/tailwind.min.css">
    <link rel="stylesheet" href="/lib/flowbite/flowbite.min.css">
    <link rel="stylesheet" href="/css/LandingPage.min.css" asp-append-version="true">
</head>
<body>
     <header>
          <div class="MobileHeader"><partial name="MobileHeader" /></div>
          <div class="TabletHeader"><partial name="TabletHeader" /></div>
     </header>

     <section id="About">
          <h2>About Me</h2>
          <article>
               <h3>Web Developer</h3>
          </article>
          <article>
          </article>
     </section>

     @RenderBody()

     <script src="/js/site.js" asp-append-version="true"></script>
</body>
</html>
