<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/tailwindcss/tailwind.min.css">
    <link rel="stylesheet" href="/lib/flowbite/flowbite.min.css">
    <link rel="stylesheet" href="/css/LandingPage.min.css" asp-append-version="true">
</head>
<body>
    <header>
        <div class="MobileHeader"><partial name="MobileHeader" /></div>
        <div class="TabletHeader"><partial name="TabletHeader" /></div>
    </header>

    <div id="About">
        <section>
            <h2>Who Am I?</h2>
        </section>
        <section>
           
        </section>
        <section>

        </section>
        <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1440 320"><path fill="lightblue" fill-opacity="1" d="M0,32L1440,224L1440,0L0,0Z" width="100%"></path></svg>
    </div>

    <div id="Blog"><partial name="_BlogPartial" /></div>

    @RenderBody()


    <script src="/lib/jquery/dist/jquery.min.js"></script>

    <script src="/lib/smooth-scroll/smooth-scroll.min.js"></script>
    <script src="/lib/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
</body>
</html>
