
<section>
     <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.1935 1.06968L30.1931 1.06935C30.1466 1.02484 30.0847 1 30.0203 1C29.9559 1 29.894 1.02484 29.8475 1.06935L29.847 1.06981L1.08187 28.549C1.05744 28.5724 1.038 28.6005 1.02474 28.6316C1.01147 28.6627 1.00465 28.6962 1.00469 28.73L1.00469 28.7313L1 54.5217C1 54.5218 1 54.5219 1 54.5219C1.00005 55.5827 1.42147 56.6 2.17157 57.3502C2.92172 58.1003 3.93914 58.5217 5 58.5217H20.0156C20.4135 58.5217 20.795 58.3637 21.0763 58.0824C21.3576 57.8011 21.5156 57.4196 21.5156 57.0217V35.7717C21.5156 35.175 21.7527 34.6027 22.1746 34.1807C22.5966 33.7588 23.1689 33.5217 23.7656 33.5217H36.2656C36.8624 33.5217 37.4347 33.7588 37.8566 34.1807C38.2786 34.6027 38.5156 35.175 38.5156 35.7717V57.0217C38.5156 57.4196 38.6737 57.8011 38.955 58.0824C39.2363 58.3637 39.6178 58.5217 40.0156 58.5217H55.025C56.0859 58.5217 57.1033 58.1003 57.8534 57.3502C58.6036 56.6 59.025 55.5826 59.025 54.5217V28.7311V28.73C59.025 28.6962 59.0182 28.6627 59.005 28.6316C58.9918 28.6007 58.9724 28.5727 58.9482 28.5494L30.1935 1.06968ZM30.1935 1.06968L58.9478 28.549L30.1935 1.06968Z" fill="#50C878" stroke="black" stroke-width="2" />
     </svg>

     <svg width="80" height="75" viewBox="0 0 80 75" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 55V48.3333H70V55H10ZM10 38.3333V31.6667H70V38.3333H10ZM10 21.6667V15H70V21.6667H10Z" fill="#FFD233" />
     </svg>


</section>

<section>
     <h1>Hi</h1>
     <img src="/images/me.jpeg" alt="Me">
     <h2>I'm Douglas</h2>
     <h3>Thanks for visiting!</h3>
</section>