@*
     For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
     <nav>
          <ul>
               <li>
                    <a href="#Home" class="home">
                         <svg preserveAspectRatio="none" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M30.1935 1.06968L30.1931 1.06935C30.1466 1.02484 30.0847 1 30.0203 1C29.9559 1 29.894 1.02484 29.8475 1.06935L29.847 1.06981L1.08187 28.549C1.05744 28.5724 1.038 28.6005 1.02474 28.6316C1.01147 28.6627 1.00465 28.6962 1.00469 28.73L1.00469 28.7313L1 54.5217C1 54.5218 1 54.5219 1 54.5219C1.00005 55.5827 1.42147 56.6 2.17157 57.3502C2.92172 58.1003 3.93914 58.5217 5 58.5217H20.0156C20.4135 58.5217 20.795 58.3637 21.0763 58.0824C21.3576 57.8011 21.5156 57.4196 21.5156 57.0217V35.7717C21.5156 35.175 21.7527 34.6027 22.1746 34.1807C22.5966 33.7588 23.1689 33.5217 23.7656 33.5217H36.2656C36.8624 33.5217 37.4347 33.7588 37.8566 34.1807C38.2786 34.6027 38.5156 35.175 38.5156 35.7717V57.0217C38.5156 57.4196 38.6737 57.8011 38.955 58.0824C39.2363 58.3637 39.6178 58.5217 40.0156 58.5217H55.025C56.0859 58.5217 57.1033 58.1003 57.8534 57.3502C58.6036 56.6 59.025 55.5826 59.025 54.5217V28.7311V28.73C59.025 28.6962 59.0182 28.6627 59.005 28.6316C58.9918 28.6007 58.9724 28.5727 58.9482 28.5494L30.1935 1.06968ZM30.1935 1.06968L58.9478 28.549L30.1935 1.06968Z" fill="#50C878" stroke="black" stroke-width="2" />
                         </svg>
                    </a>
                    <a href="#Home" class="home">Home</a>
               </li>
               <li>
                    <a href="#About" class="about"><svg preserveAspectRatio="none" enable-background="new 0 0 48 48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="m37 40h-26l-6 6v-34c0-3.3 2.7-6 6-6h26c3.3 0 6 2.7 6 6v22c0 3.3-2.7 6-6 6z" fill="#2196f3" /><g fill="#fff"><path d="m22 20h4v11h-4z" /><circle cx="24" cy="15" r="2" /></g></svg></a>
                    <a href="#About" class="about">About</a>
               </li>
               <li>
                    <a href="#Blog" class="blog"><svg preserveAspectRatio="none" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" style="fill: silver;"><path d="m4 24h10v2h-10z" /><path d="m4 18h10v2h-10z" /><path d="m26 14h-20a2 2 0 0 1 -2-2v-6a2 2 0 0 1 2-2h20a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2zm-20-8v6h20v-6z" /><path d="m26 28h-6a2 2 0 0 1 -2-2v-6a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2zm-6-8v6h6v-6z" /><path d="m0 0h32v32h-32z" fill="none" /></svg></a>
                    <a href="#Blog" class="blog">Blog</a>
               </li>
               <li>
                    <a href="#Portfolio" class="portfolio"><svg preserveAspectRatio="none" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" fill="#f3cf3d" r="256" /><path d="m511.639 269.621-107.197-105.141-5.775 26.187-90.549-62.374-107.118 9.707-4.906 17.595-5.094 28.738-26.052 125.282 19.222 19.222-77.344 53.324 129.739 129.109c6.415.482 12.896.73 19.435.73 136.815 0 248.558-107.327 255.639-242.379z" opacity=".1" /><path d="m199.015 169.702v-18.98c0-5.926 4.986-10.729 11.139-10.729h91.693c6.153 0 11.141 4.804 11.141 10.729v18.98h7.496v-24.532c0-6.961-5.644-12.604-12.604-12.604h-103.758c-6.961 0-12.604 5.643-12.604 12.604v24.532z" fill="#42536c" /><path d="m204.122 129.414h105.854v13.975h-105.854z" fill="#57687c" /><path d="m106.319 164.704h299.361v217.882h-299.361z" fill="#42536c" /><path d="m106.319 254.876c40.465 11.713 92.679 18.769 149.681 18.769s109.217-7.056 149.681-18.769v-90.172h-299.362z" fill="#57687c" /><g fill="#e6e7e8"><path d="m247.223 281.563h17.557v2.886h-17.557z" /><path d="m247.223 246.677v32.411h17.557v-32.411zm8.777 30.569c-1.678 0-3.039-1.36-3.039-3.038 0-1.679 1.361-3.039 3.039-3.039s3.039 1.36 3.039 3.039c0 1.678-1.361 3.038-3.039 3.038z" /></g></svg></a>
                    <a href="#Portfolio" class="portfolio">Portfolio</a>
               </li>
               <li>
                    <a href="#Contact" class="contact"><svg style="fill: gold;" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m28 6h-24a2 2 0 0 0 -2 2v16a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2v-16a2 2 0 0 0 -2-2zm-2.2 2-9.8 6.78-9.8-6.78zm-21.8 16v-15.09l11.43 7.91a1 1 0 0 0 1.14 0l11.43-7.91v15.09z" /><path d="m0 0h32v32h-32z" fill="none" /></svg></a>
                    <a href="/Contact" class="contact">Contact</a>
               </li>
               <li>
                    <a href="#Guestbook" class="guestbook">
                         <svg preserveAspectRatio="none" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 45.919 45.919" xml:space="preserve" fill="#ffa500" stroke="#ffa500"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path style="fill:#030104;" d="M45.168,9.366c-1.169,0-2.339,0-3.509,0c0.211,0.225,0.406,0.462,0.577,0.712 c-0.171-0.25-0.366-0.487-0.577-0.711c-0.531-0.566-1.159-1.053-1.762-1.461c-1.683-1.139-3.655-1.883-5.629-2.322 c-3.858-0.858-8.545-0.481-11.033,2.964c-0.024,0.035-0.054,0.065-0.079,0.101l0,0c0.025-0.036,0.054-0.067,0.08-0.102 c-1.073-1.533-2.724-2.529-4.522-3.002C14.782,4.51,10.134,5.629,6.76,7.782C6.073,8.22,5.389,8.747,4.821,9.366 c-0.414,0.45-0.761,0.949-1.003,1.501c-0.064,0.145-0.126,0.291-0.174,0.443c-0.198,0.629-0.115,1.34-0.115,1.989 c0,7.048,0,14.096,0,21.145c0,0.674,0,1.349,0,2.021c0,0.299,0.325,0.604,0.633,0.482c2.302-0.903,4.793-1.489,7.241-1.795 c3.713-0.465,8.195-0.228,10.8,2.763c-5.107,0-10.213,0-15.32,0c-1.794,0-3.588,0-5.383,0c0-5.134,0-10.267,0-15.399 c0-3.883,0-7.766,0-11.649c0.772,0,1.545,0,2.318,0c0.242-0.552,0.589-1.051,1.001-1.5c-1.356,0-2.712,0-4.069,0 C0.341,9.367,0,9.708,0,10.117c0,5.833,0,11.666,0,17.499c0,4.135,0,8.268,0,12.399c0,0.409,0.341,0.75,0.75,0.75 c4.689,0,9.379,0,14.068,0c7.811,0,15.622,0,23.432,0c2.307,0,4.611,0,6.917,0c0.204,0,0.356-0.075,0.476-0.183 c0.018-0.014,0.037-0.024,0.053-0.04c0.015-0.017,0.023-0.032,0.037-0.048c0.107-0.119,0.186-0.272,0.186-0.479 c0-5.833,0-11.666,0-17.499c0-4.133,0-8.266,0-12.399C45.918,9.707,45.577,9.366,45.168,9.366z M42.672,10.866 c0.582,0,1.164,0,1.746,0c0,5.583,0,11.166,0,16.749c0,3.439,0,6.879,0,10.316c-0.03-0.003-0.052-0.017-0.084-0.017 c-4.763,0-9.526,0-14.29,0c-1.951,0-3.901,0-5.853,0c2.896-2.41,7.142-2.608,10.749-2.333c2.474,0.188,4.996,0.626,7.369,1.365 c0.312,0.099,0.633-0.164,0.633-0.48c0-6.191,0-12.383,0-18.575c0-1.488,0-2.976,0-4.464c0-0.645,0.074-1.335-0.074-1.969 C42.819,11.254,42.753,11.058,42.672,10.866c-0.085-0.202-0.204-0.391-0.32-0.58C42.468,10.475,42.586,10.663,42.672,10.866z M23.53,9.896c0.001,0.232,0.033,0.033,0.104-0.103c0.134-0.257,0.291-0.501,0.456-0.739c1.147-1.648,3.08-2.464,5.005-2.758 c2.086-0.318,4.271,0.007,6.273,0.608c1.828,0.548,3.658,1.406,5.089,2.69c0.522,0.469,1.026,1.033,1.303,1.689 c0.06,0.143,0.104,0.291,0.144,0.44c0.016,0.053,0.039,0.301,0.039,0.169c0,0.067,0,0.134,0,0.202c0,0.977,0,1.954,0,2.932 c0,6.925,0,13.85,0,20.774c0,0.003,0,0.007,0,0.01c-2.317-0.662-4.746-1.056-7.14-1.238c-3.778-0.287-8.175,0.045-11.208,2.539 c-0.01-4.379-0.021-8.758-0.032-13.137c1.1,1.176,2.2,2.35,3.299,3.524c0.443,0.473,0.887,0.946,1.33,1.42 c0.179,0.19,0.529,0.198,0.707,0c0.894-0.996,1.787-1.993,2.681-2.989c0.187-0.208,0.194-0.5,0-0.707 c-2.679-2.861-5.356-5.723-8.034-8.584c-0.005-1.874-0.009-3.748-0.014-5.622c-0.001-0.317-0.002-0.633-0.002-0.95 C23.53,10.009,23.53,9.953,23.53,9.896z M16.218,14.664c-0.325-0.348-0.651-0.695-0.976-1.043c0.73-0.684,1.461-1.367,2.191-2.051 c4.114,4.394,8.227,8.789,12.339,13.183c0.258,0.277,0.518,0.554,0.775,0.83c-0.67,0.747-1.34,1.495-2.011,2.242 C24.431,23.437,20.324,19.05,16.218,14.664z M11.925,34.092C9.433,34.341,6.899,34.9,4.529,35.76c0-5.957,0-11.914,0-17.872 c0-1.488,0-2.976,0-4.464c0-0.406,0-0.812,0-1.218c0-0.349-0.012-0.316,0.079-0.632c0.429-1.487,1.977-2.553,3.239-3.284 c1.8-1.042,3.839-1.677,5.892-1.972c1.997-0.288,4.176-0.186,6.038,0.647c0.892,0.399,1.672,0.978,2.313,1.714 c0.218,0.25,0.399,0.526,0.568,0.811c0.112-0.268,0.278-0.519,0.437-0.748c-0.157,0.229-0.324,0.481-0.437,0.749 c-0.073,0.174-0.129,0.352-0.128,0.532c0.001,0.296,0.001,0.592,0.002,0.889c0.003,1.253,0.006,2.506,0.009,3.76 c0.001,0.298,0.001,0.597,0.002,0.895c-1.21-1.293-2.421-2.587-3.632-3.88c-0.367-0.393-0.734-0.785-1.1-1.177 c-0.191-0.204-0.513-0.181-0.707,0c-0.973,0.911-1.947,1.822-2.92,2.733c-0.164,0.153-0.179,0.335-0.119,0.493 c0.02,0.074,0.054,0.147,0.118,0.215c2.793,2.984,5.585,5.968,8.378,8.952c0.011,4.522,0.022,9.045,0.033,13.568 c0,0.142,0,0.283,0.001,0.425c0.001,0.449,0.003,0.896,0.003,1.348c0-0.45-0.002-0.898-0.003-1.348 C19.867,34.165,15.689,33.716,11.925,34.092z M44.334,39.414c0.468,0,0.708-0.348,0.721-0.707 C45.042,39.067,44.803,39.414,44.334,39.414z"></path> <path style="fill:#030104;" d="M29.022,28.907c-0.285,0.275-0.125,0.718,0.222,0.836c1.208,0.416,2.417,0.832,3.625,1.25 c0.368,0.129,0.707-0.266,0.614-0.614c-0.334-1.267-0.668-2.531-1-3.797c-0.062-0.239-0.242-0.347-0.431-0.354 c-0.135-0.021-0.278,0.01-0.405,0.133C30.772,27.21,29.897,28.058,29.022,28.907z M32.278,29.734 c-0.656-0.228-1.313-0.453-1.971-0.681c0.476-0.461,0.951-0.923,1.428-1.384C31.917,28.357,32.097,29.045,32.278,29.734z"></path> <path style="fill:#030104;" d="M16.085,9.348c-1,0.879-2,1.759-3,2.638c-0.485,0.426,0.225,1.131,0.707,0.707 c1-0.879,2-1.759,3-2.638C17.277,9.628,16.567,8.924,16.085,9.348z"></path> </g> </g> </g></svg>
                    </a>
                    <a href="#Guestbook" class="guestbook">Guestbook</a>
               </li>
          </ul>
     </nav>
</section>

<div id="container">
     <section>
          <h1>Hi</h1>

     </section>

     <section>
          <article>
               <img src="/images/me.jpeg" alt="Douglas McGregor">
          </article>
          <article>
               <h2>I'm Douglas</h2>
               <h3>Thanks for visiting!</h3>
          </article>
     </section>
     <section>
          <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Read On</button>
     </section>
</div>

<svg preserveAspectRatio="none" class="bg" viewBox="0 0 390 748" fill="none" xmlns="http://www.w3.org/2000/svg">
     <path fill-rule="evenodd" clip-rule="evenodd" d="M390 0H0V526V540V741.592L16.25 723.626C32.5 705.66 65 669.728 97.5 681.705C111.184 686.748 124.868 700.285 138.553 713.822C157.368 732.434 176.184 751.047 195 747.58C212.024 744.443 229.048 723.232 246.071 702.02C261.548 682.737 277.024 663.454 292.5 657.75C325 645.773 357.5 693.682 373.75 717.637L390 741.592V540V526V0Z" fill="#FFA500" />
</svg>