@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section>
     <nav>
          <ul>
          <li><a href="/Home">
     <svg width="61" height="60" viewBox="0 0 61 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.1935 1.06968L30.1931 1.06935C30.1466 1.02484 30.0847 1 30.0203 1C29.9559 1 29.894 1.02484 29.8475 1.06935L29.847 1.06981L1.08187 28.549C1.05744 28.5724 1.038 28.6005 1.02474 28.6316C1.01147 28.6627 1.00465 28.6962 1.00469 28.73L1.00469 28.7313L1 54.5217C1 54.5218 1 54.5219 1 54.5219C1.00005 55.5827 1.42147 56.6 2.17157 57.3502C2.92172 58.1003 3.93914 58.5217 5 58.5217H20.0156C20.4135 58.5217 20.795 58.3637 21.0763 58.0824C21.3576 57.8011 21.5156 57.4196 21.5156 57.0217V35.7717C21.5156 35.175 21.7527 34.6027 22.1746 34.1807C22.5966 33.7588 23.1689 33.5217 23.7656 33.5217H36.2656C36.8624 33.5217 37.4347 33.7588 37.8566 34.1807C38.2786 34.6027 38.5156 35.175 38.5156 35.7717V57.0217C38.5156 57.4196 38.6737 57.8011 38.955 58.0824C39.2363 58.3637 39.6178 58.5217 40.0156 58.5217H55.025C56.0859 58.5217 57.1033 58.1003 57.8534 57.3502C58.6036 56.6 59.025 55.5826 59.025 54.5217V28.7311V28.73C59.025 28.6962 59.0182 28.6627 59.005 28.6316C58.9918 28.6007 58.9724 28.5727 58.9482 28.5494L30.1935 1.06968ZM30.1935 1.06968L58.9478 28.549L30.1935 1.06968Z" fill="#50C878" stroke="black" stroke-width="2" />
     </svg></a>
     <a href="/Home">Home</a>
</li>
          <li>
               <a href="/About"><svg enable-background="new 0 0 48 48" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><path d="m37 40h-26l-6 6v-34c0-3.3 2.7-6 6-6h26c3.3 0 6 2.7 6 6v22c0 3.3-2.7 6-6 6z" fill="#2196f3" /><g fill="#fff"><path d="m22 20h4v11h-4z" /><circle cx="24" cy="15" r="2" /></g></svg></a>
               <a href="/About">About</a>
          </li> 
          <li> 
               <a href="/Blog"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m4 24h10v2h-10z" /><path d="m4 18h10v2h-10z" /><path d="m26 14h-20a2 2 0 0 1 -2-2v-6a2 2 0 0 1 2-2h20a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2zm-20-8v6h20v-6z" /><path d="m26 28h-6a2 2 0 0 1 -2-2v-6a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2zm-6-8v6h6v-6z" /><path d="m0 0h32v32h-32z" fill="none" /></svg></a>
               <a href="/Blog">Blog</a>
          </li>
          <li>
               <a href="/Portfolio"><svg enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><circle cx="256" cy="256" fill="#f3cf3d" r="256" /><path d="m511.639 269.621-107.197-105.141-5.775 26.187-90.549-62.374-107.118 9.707-4.906 17.595-5.094 28.738-26.052 125.282 19.222 19.222-77.344 53.324 129.739 129.109c6.415.482 12.896.73 19.435.73 136.815 0 248.558-107.327 255.639-242.379z" opacity=".1" /><path d="m199.015 169.702v-18.98c0-5.926 4.986-10.729 11.139-10.729h91.693c6.153 0 11.141 4.804 11.141 10.729v18.98h7.496v-24.532c0-6.961-5.644-12.604-12.604-12.604h-103.758c-6.961 0-12.604 5.643-12.604 12.604v24.532z" fill="#42536c" /><path d="m204.122 129.414h105.854v13.975h-105.854z" fill="#57687c" /><path d="m106.319 164.704h299.361v217.882h-299.361z" fill="#42536c" /><path d="m106.319 254.876c40.465 11.713 92.679 18.769 149.681 18.769s109.217-7.056 149.681-18.769v-90.172h-299.362z" fill="#57687c" /><g fill="#e6e7e8"><path d="m247.223 281.563h17.557v2.886h-17.557z" /><path d="m247.223 246.677v32.411h17.557v-32.411zm8.777 30.569c-1.678 0-3.039-1.36-3.039-3.038 0-1.679 1.361-3.039 3.039-3.039s3.039 1.36 3.039 3.039c0 1.678-1.361 3.038-3.039 3.038z" /></g></svg></a>
               <a href="/Portfolio">Portfolio</a></li>
          <li>
               <a href="/Contact"><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="m28 6h-24a2 2 0 0 0 -2 2v16a2 2 0 0 0 2 2h24a2 2 0 0 0 2-2v-16a2 2 0 0 0 -2-2zm-2.2 2-9.8 6.78-9.8-6.78zm-21.8 16v-15.09l11.43 7.91a1 1 0 0 0 1.14 0l11.43-7.91v15.09z" /><path d="m0 0h32v32h-32z" fill="none" /></svg></a>
               <a href="/Contact">Contact</a>
          </li>
          <li> 
                    <img src="/icons/guestbook.svg">
                    <a href="/Guestbook">Guestbook</a>
</li>
          </ul>
      </nav>
</section>