@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@using HtmlAgilityPack
@using System.Text
@model SearchModel

<h1 class="bg bg-info p-1">Create</h1>
<a asp-action="Index" asp-controller="Search" asp-area="Admin">Back</a>



@{
     var home = ParseHtml("http://localhost:5051/", "Home");
     var about = ParseHtml("http://localhost:5051/Home/About", "About");
     @about
}

<form method="post" asp-action="CreateIndex" asp-controller="Search" asp-area="Admin">
    <div>
        <label>Title:</label>
        <textarea id="ckeditor1" asp-for="Body" value="@about">@about</textarea>
    </div>
    <button type="submit">Submit</button>
</form>

@functions {
     private string ParseHtml(string url, string name)
     {
          var web = new HtmlWeb();
          var doc = web.Load(url);
          var nodes = doc.DocumentNode.SelectSingleNode("//body");
          var result = nodes.SelectNodes("//p");
          StringBuilder sb = new StringBuilder();
          foreach (var node in result)
          {
               sb.Append(node.InnerText);
          }
          return sb.ToString();
     }
}

@section Scripts {
    <script>
        window.editor.setData('Hello World!')
        console.log("Hello World!");
    </script>
}