@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http
@using Elastic.Clients.Elasticsearch
@using Elastic.Clients.Elasticsearch.QueryDsl
@using HtmlAgilityPack
@using System.Net

<h1 class="bg bg-info p-1">Search</h1>
<p><a asp-action="Create" asp-controller="Search" asp-area="Admin">Create</a> new search document.</p>

@TempData["Message"]

@if (ViewBag.Exists == false)
{
    @ViewBag.Form
}
else
{

	foreach (var item in ViewBag.Files)
	{
		var url = $"{ViewBag.Url}/{item}";
        @url
        <br>
	}

	var settings = new Elastic.Clients.Elasticsearch.ElasticsearchClientSettings(new Uri("http://localhost:9200"))
		.Authentication(new Elastic.Transport.BasicAuthentication("elastic", "Inkyfrog1"));
	var client = new Elastic.Clients.Elasticsearch.ElasticsearchClient(settings);

	// https://www.bytefish.de/blog/elasticsearch_code_search_part1_backend_elasticsearch.html
	var request = client.SearchAsync<SearchModel>(s => s.Query(q => q
	.QueryString(new QueryStringQuery()
	{
		AllowLeadingWildcard = true,
		Query = "*:*"
	})
	)
	);

	if (request.Result.Documents.Count() == 0)
	{
		@GetHtml(ViewBag.Files[0])

	}


}


@functions {
	string GetHtml(string url)
	{
		var html = new HtmlDocument();
		html.LoadHtml(url);
		return html.DocumentNode.InnerHtml;
	}
}


@section Scripts {

    <script>
		$(function () {
			$("button").on('click', function (e) {
				e.preventDefault();

				$.ajax({
					method: "POST",
					url: "@Url.Action("CreateIndex", "Search")",
					data: { 'name': $("#name").val() },
					async: false,
					cache: false,
					success: function (message) {
						console.log(message);
						window.location.reload();
					},
					error: function (err) {
						console.log(err);
					}
				});
			});
		});
    </script>
}

