@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http
@using Elastic.Clients.Elasticsearch
@using Elastic.Clients.Elasticsearch.QueryDsl
@using HtmlAgilityPack
@using System.Net
@using System.Linq
@inject IWebHostEnvironment _env

<h1 class="bg bg-info p-1">Search</h1>
<p><a asp-action="Create" asp-controller="Search" asp-area="Admin">Create</a> new search document.</p>

<p>@TempData["Message"]</p>


@{
	var exclude = new List<string>() { "App.razor" };
	string path = System.IO.Path.Combine(_env.ContentRootPath, "Components");
	DirectoryInfo dirs = new DirectoryInfo(path);
	List<FileInfo> files = new List<FileInfo>();
	files.AddRange(dirs.GetFiles().ToList());
	foreach (FileInfo file in files.Except(exclude))
	{
	}
}



@functions {
	string GetHtml(string url)
	{
		var html = new HtmlDocument();
		html.LoadHtml(url);
		return html.DocumentNode.InnerHtml;
	}
}


@section Scripts {

	<script>
		$(function () {
			$("button").on('click', function (e) {
				e.preventDefault();

				$.ajax({
					method: "POST",
					url: "@Url.Action("CreateIndex", "Search")",
					data: { 'name': $("#name").val() },
					async: false,
					cache: false,
					success: function (message) {
						console.log(message);
						window.location.reload();
					},
					error: function (err) {
						console.log(err);
					}
				});
			});
		});
	</script>
}

