@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Login
@inject IHttpContextAccessor _http

<h1 class="bg-info text-white">Login</h1>
<div class="text-danger" asp-validation-summary="All"></div>

 @if (_http.HttpContext!.User.Identity!.IsAuthenticated)
 {
    <p>Hello @_http.HttpContext!.User.Identity!.Name</p>
    <form asp-controller="Account" asp-action="AppLogout" asp-route-returnUrl="/" method="post">
        <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
    </form>
 }
 else
 {
<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" value="/">
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="john@johndoe.com">
    </div>
    <div class="form-group">
        <label asp-for="Password">Password:</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="********">
    </div>
    <button class="btn btn-primary" type="submit">Log In</button>
</form>
 }