@using PersonalWebsiteMVC.Models
@using PersonalWebsiteMVC.Components
@using System.ComponentModel

@inject ApplicationDbContext db
@inject IHttpContextAccessor http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

@Message

<EditForm Model="Model" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <AntiforgeryToken />
    <div>
        <label>Name:</label>
        <InputText @bind-Value="@Model!.CommentAuthor" placeholder="John Doe" />
        <p class="error">
            <ValidationMessage For="() => Model.CommentAuthor" />
        </p>
    </div>
    <div>
        <label>Email:</label>
        <InputText @bind-Value="Model.CommentAuthorEmail" placeholder="john@johndoe.com" />
        <p class="error">
            <ValidationMessage For="() => Model.CommentAuthorEmail" />
        </p>
    </div>
    <div>
        <label>Website:</label>
        <InputText @bind-Value="Model.CommentAuthorUrl" placeholder="https://www.johndoe.com" />
        <p class="error">
            <ValidationMessage For="() => Model.CommentAuthorUrl" />
        </p>
    </div>
    <div>
        <label>Comment:</label>
        <CKEditorComponent @bind-Value="Model.CommentContent" />
    
    <p class="error">
        <ValidationMessage For="() => Model.CommentContent" />
    </p>
    </div>
   

</EditForm>

@code {
    public string? recaptchaValue { get; set; }
    public string? receivedValue { get; set; }

    private void HandleValue(string value)
    {
        receivedValue = value;
        Message = value;
        Console.WriteLine(receivedValue);
    }

    public string? Message;
    [SupplyParameterFromQuery(Name = "id")]
    public int PostID { get; set; }

    public Comments? Model { get; set; }

    protected EditContext? Context;
    protected ValidationMessageStore? Store;



    protected override void OnInitialized()
    {
        Model ??= new();
        Context = new(Model);
        Store = new(Context);

    }

    public async Task Save()
    {
        // Captcha can be checked here with captchaResponse variable

        if (recaptchaValue is not null)
        {

            db.Comments.Add(
            new Comments
            {
                CommentAuthor = Model!.CommentAuthor,
                CommentAuthorEmail = Model.CommentAuthorEmail,
                CommentAuthorUrl = Model.CommentAuthorUrl,
                CommentContent = Model.CommentContent,
                CommentAuthorIP = http.HttpContext!.Connection?.RemoteIpAddress!.ToString(),
                CommentDate = DateTime.Now,
                PostID = PostID

            }
            );
            await db.SaveChangesAsync();

            await JS.InvokeVoidAsync("scrollIntoView", "Comments");
        }
    }


}