@page "/post"
@inject ApplicationDbContext _db
@inject NavigationManager nav
@inject IJSRuntime JS

@if (Id > 0)
{
    var uri = nav.ToAbsoluteUri(nav.Uri);
    if (uri.Fragment.Contains("Comments"))
    {

    }
    else
    {
        var post = _db.Posts.Where(p => p.PostID == Id).FirstOrDefault();
        <div id="SinglePost">
            <NavLink href="/">Back</NavLink>
            <h1>@post!.PostTitle</h1>
            <p>@((MarkupString)post.PostContent!)</p>

            <BlogComments PostID="@post.PostID" />
        </div>
    }
}

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; } 

    public async Task HandleBack()
    {
        await JS.InvokeVoidAsync("goBack");
        StateHasChanged();
    }
}