@inject NavigationManager NavigationManager
<div id="Sidebar">
   
    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <img src="/images/me.jpg">
    </MudHidden>

    <p class="text-xl">Connect with me on social media:</p>
    <div class="socialMedia">
        <SocialMedia />
    </div>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.Uri;
        StateHasChanged();
    } 
}