@using System.Net.Http
@using System.Text.Json
@using System.Text.Json.Serialization
@using PersonalWebsiteMVC.Areas.pCloud.Models
@inject IHttpClientFactory _httpClientFactory

<h1 class="bg bg-info p-1">Albums</h1>

<a href="#" id="login">Login</a>

<div id="Albums">
</div>

<div id="Photos">
</div>


@section Scripts {
}