@using System.Net.Http
@using System.Text.Json
@using System.Text.Json.Serialization
@using PersonalWebsiteMVC.Areas.pCloud.Models
@using Microsoft.AspNetCore.Http
@inject IHttpClientFactory _httpClientFactory

<h1 class="bg bg-info p-1">Albums</h1>

<a href="#" id="login">Login</a>



<div id="Gallery">
	<ul>

		<li><a href="#" id="selectAll">Select All</a></li>
		<li><a href="#" id="addToDb">Add to Database</a></li>
		<li><a href="#" id="delFromDb">Delete from Database</a></li>
	</ul>
	<section>
	</section>
	<section>
	</section>
</div>




@section Scripts {
	<script>
		let add = [];
		let del = [];

		// JS for selecting all checkboxes
		$("#selectAll").on('click', function (e) {
			$("#Gallery section:nth-of-type(1)").find("figure").find("figcaption").find("input[type='checkbox']").each(function (index, item) {
				$(item).prop('checked', true);
			});

			$('input:checkbox:checked').map(function () {
				// Check if album is in database before doing anything else
				let name = this.value;
                $.getJSON("/pCloud/Albums/CheckInDb", { name: name }, function (message) {
                    console.log(message);
					if (message === true) {
						// If album is in database, get ID using JSON
						$.ajax({
							method: "POST",
							url: "/pCloud/Albums/GetID",
							data: { name: name },
							async: false,
							cache: false,
							success: function (message) {
                                console.log(message);
								if (message) {
									// Album is in database, add album to del array
									del.push({ 'AlbumID': message });
								} else {
									// Album is not in database, push to add array
									add.push({ 'Name': name });
								}
							},
							error: function (error) {
								console.log(error);
							}
						});

                    } else {
                        add.push({'Name': name});
                        
					}
				});
			}).get();
		});


		$("#addToDb").on('click', function (e) {
			e.preventDefault();
            //console.log(add);

			$.ajax({
				url: "/pCloud/Albums/AddMultipleAlbumsToDb",
				method: "POST",
				contentType: "application/json",
				data: JSON.stringify(add),
				async: false,
				cache: false,
				success: function (message) {
					console.log(message);
				},
				error: function (error) {
					console.log(error);
				}
			});

        });

        $("#delFromDb").on('click', function (e) {
            $.ajax({
                url: "/pCloud/Albums/DelMultipleFromDb",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(del),
                async: false,
                cache: false,
                success: function (message) {
                    console.log(message);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });

	</script>


	<script type="text/javascript" src="https://unpkg.com/pcloud-sdk-js@latest/dist/pcloudsdk.js"></script>

	<script>
          var token = localStorage.getItem('pcloud_token');
          var locationid = 2;
          var client = pCloudSdk.createClient(token, 'oauth', locationid);

          function children(metadata) {
              return Promise.resolve(metadata.contents);
          }

          function files(metadata) {
              return children(metadata).then(filter(f => !f.isfolder));
          }

          function withThumbs(metadata) {
              return children(metadata).then(filter(f => f.thumb));
          }

          function filter(f) {
              return (iterable) => {
                  var ret = [];

                  for (var n in iterable) {
                      if (f(iterable[n])) {
                          ret.push(iterable[n]);
                      }

                  }
                  return ret;
              }
          }

          function length(array) {
              return Promise.resolve(array.length);
          }

          function map(f) {
              return (array) => {
                  return Promise.resolve(array.map(f));
              }
          }

          function size(metadata) {
              return metadata.size;
          }

          function name(metadata) {
              return metadata.name;
          }

          function fileid(metadata) {
              return metadata.fileid;
          }

          function sum(iterable) {
              var ret = 0;
              for (var n in iterable) {
                  ret += iterable[n];

                  console.log(iterable[n]);
              }
              return Promise.resolve(ret);
          }

          function folderSize(folderid) {
              return client.listfolder(0).then(files).then(map(size)).then(sum);
          }

          function folderItems(folderid) {
              return client.listfolder(0).then(children).then(map(@ViewBag.Name));
          }





          var url = new URL(window.location.href);
           var name = url.searchParams.get('name');

          if (url.searchParams.has('name')) {

              var id = Number(url.searchParams.get('id'));
              var strName = url.searchParams.get('name');

              client.listfolder(id).then(a => {
                  a.contents.forEach(values => {
                      if (values.name.includes("JPEG")) {
                          console.log(values);
                            $("#Photos").append(`

                                <img src="https://filedn.eu/liszIfBDSLvHUF11ARlaYWB/Gallery/@ViewBag.Name/${values.name}">

                            `);
                      }
                  });
              });

          } else {
              var folderId = 19500076302;
              client.listfolder(folderId).then(a => {

                  a.contents.forEach(values => {
                      //console.log(values);

                      if ($.get('/pCloud/Albums/CheckInDb') === true) {
                      } else {
                          $("#Gallery section:nth-of-type(1)").append(`
                                <figure>
                                    <svg enable-background="new 4 8 40 32" xmlns="http://www.w3.org/2000/svg" viewBox="4 8 40 32">
                        <path d="m40 12h-18l-4-4h-10c-2.2 0-4 1.8-4 4v8h40v-4c0-2.2-1.8-4-4-4z" fill="#ffa000"></path>
                        <path d="m40 12h-32c-2.2 0-4 1.8-4 4v20c0 2.2 1.8 4 4 4h32c2.2 0 4-1.8 4-4v-20c0-2.2-1.8-4-4-4z"
                            fill="#ffca28"></path>
                    </svg>

                                    <figcaption>
                                        <a href="/pCloud/Photos/${values.folderid}/${values.name}">${values.name}</a>
                                        <input type="checkbox" name="cbName" value="${values.name}">
                                    </figcaption>
                            </figure>
                          `);
                      }

                  });
              });
          }
	</script>

	<script>
		$("#login").on('click', function (e) {
			e.preventDefault();
			var REDIRECT_URI = 'https://www.douglasmcgregor.co.uk/pcloud/';
			var CLIENT_ID = 'GJR8uDME26u'
			window.location.href = `https://my.pcloud.com/oauth2/authorize?client_id=${CLIENT_ID}&redirect_uri=${REDIRECT_URI}&response_type=token`;

			const hash = window.location.hash;
			const params = new URLSearchParams(hash.substring(1));
			const token = params.get('access_token');

			// Store access token in local store for future use
			if (token) {
				localStorage.setItem('pcloud_token', token);
			} else {
				console.error('No token found in redirect URL');
			}
		});
	</script>
}