@using System.Net.Http
@using System.Text.Json
@using System.Text.Json.Serialization
@using PersonalWebsiteMVC.Areas.pCloud.Models
@inject IHttpClientFactory _httpClientFactory

<h1 class="bg bg-info p-1">Albums</h1>

@{
    string username = "douglas@douglasmcgregor.co.uk";
    string password = "Inkyfrog1";
    string albumsPath = "/My Pictures";
    string url = $"https://eapi.pcloud.com/listfolder?getauth=1&username={username}&password={password}&path={albumsPath}";

    var httpClient = _httpClientFactory.CreateClient();
    HttpRequestMessage request = new(method: HttpMethod.Get, requestUri: url);
    HttpResponseMessage response = await httpClient.SendAsync(request);
    response.EnsureSuccessStatusCode();
    var result = await response.Content.ReadAsStringAsync();
    var apiResponse = JsonSerializer.Deserialize<ApiResponse>(result, new JsonSerializerOptions
    {
        PropertyNameCaseInsensitive = true
    });
    var albums = apiResponse!.Metadata.Contents;
    foreach (var item in albums)
    {
        if (item.Isfolder == true)
        {
            @item.Name
            @item.Id
        }
    }
}