@using System.Net.Http
@using System.Text.Json
@using System.Text.Json.Serialization
@using PersonalWebsiteMVC.Areas.pCloud.Models
@inject IHttpClientFactory _httpClientFactory

<h1 class="bg bg-info p-1">Albums</h1>

<a href="#" id="login">Login</a>

<div id="Albums">
</div>

<div id="Photos">
</div>


@section Scripts {
     <script type="text/javascript" src="https://unpkg.com/pcloud-sdk-js@latest/dist/pcloudsdk.js"></script>

     <script>
         var urlParams = new URLSearchParams(window.location.search);
          if (urlParams.get('name') === null) { 
          } else {
              $("#Albums").remove();
              var url = "https://eapi.pcloud.com/listfolder?path=/My Pictures/" + urlParams.get('name');
              $.getJSON(url, { 
                  username: "douglas@douglasmcgregor.co.uk",
                  password: "Inkyfrog1",
              }, function(data) { 
                    var content = data.metadata.contents;
                    $(content).each(function(index, value) {
                        if (value.name.includes("JPEG")) { 
                        //console.log(value);
                            // Make API call to get thumbnails
                            $.getJSON("https://api.pcloud.com/getthumblink", { 
                                username: "douglas@douglasmcgregor.co.uk", 
                                password: "Inkyfrog1",
                                fileid: value.fileid,
                                path: value.path,
                                size: value.size
                            }, function(data1) {
                                console.log(data1);
                            });
                        }
                    });
              });
          }

          $.getJSON("https://eapi.pcloud.com/listfolder?path=/My Pictures", {
              username: "douglas@douglasmcgregor.co.uk",
              password: "Inkyfrog1"
          }, function(data) {
              var content = data.metadata.contents;

              $(content).each(function(index, value) {
                  if (value.isfolder === true)
                  {
                      $("#Albums").append(`
                          <a href="?name=${value.name}">${value.name}</a><br>
                      `);
                     
                  }
              });
          });
     

     </script>
}