<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath="dotnet"
						arguments=".\PersonalWebsiteMVC.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="OutOfProcess">

				<environmentVariables>
					<environmentVariable name="ConnectionStrings__DefaultConnection" value="Data Source=www.douglasmcgregor.co.uk;Initial Catalog=PersonalWebsiteMVC;User ID=Douglas;Password=Inkyfrog1;Connect Timeout=30;Encrypt=False;Trust Server Certificate=True; MultipleActiveResultSets=True" />
				</environmentVariables>			

			</aspNetCore>
			
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule" />
			</modules>
		
		</system.webServer>
	</location>
</configuration>