<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>

			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath="dotnet"
						arguments=".\PersonalWebsiteMVC.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="OutOfProcess">

				<environmentVariables>
					<environmentVariable name="ConnectionStrings__DefaultConnection" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PersonalWebsiteReact;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False;Command Timeout=30" />
				</environmentVariables>			

			</aspNetCore>
			
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule" />
			</modules>
		
		</system.webServer>
	</location>
</configuration>