@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.JSInterop
@using PersonalWebsiteMVC.Models
@inject ApplicationDbContext _db
@inject IJSRuntime JS
@inject IHttpContextAccessor _http
@inject NavigationManager _nav

<div id="Comments">
    @if (_db.Comments.Count() == 0)
    {
        <h2>Comments</h2>
        <p>No comments have been found at this time. Be the first to add a comment using the form below.</p>
        <CommentForm />
    }
    else
    {
        <h3>Comments</h3>
        if (Model.Count() == 0)
        {
            <p>No comments have been found for this post. Be the first to add a comment using the form below.</p>
            <CommentForm />
        }
        else
        {
            <div id="Comments">
                @foreach (Comments comment in Model)
                {

                    <MudText>
                        <div class="flex flex-row flex-1 mb-5">
                            <img src="http://www.gravatar.com/avatar/?d=mp" class="mr-10">
                            Posted by @comment.CommentAuthor on @comment.CommentDate.ToString("dddd dd MMMM yyyy")
                        </div>
                        <p class="text-xl">@((MarkupString)comment.CommentContent!)</p>

                    </MudText>
                }
            </div>
            <CommentForm />
        }
    }

</div>


@code {
    //private EditContext? editContext;
    private List<Comments> Model = new List<Comments>();
    [Parameter]
    public int PostID { get; set; }
    protected override void OnInitialized()
    {
        Model = _db.Comments.Where(c => c.PostID == PostID).ToList();
    }
}