@using PersonalWebsiteMVC.Models
@using PersonalWebsiteMVC.Components
@using Sitko.Blazor.CKEditor
@using Sitko.Blazor.CKEditor.Bundle
@using System.ComponentModel
@inject IJSRuntime JS

@Message


<EditForm Model="Model" OnSubmit="Save">
    

    <label>Name:</label>
    <InputText @bind-Value="@Model.CommentAuthor" placeholder="John Doe" />
    

    <label>Email:</label>
    <InputText @bind-Value="Model.CommentAuthorEmail" placeholder="john@johndoe.com" />

    <label>Website:</label>
    <InputText @bind-Value="Model.CommentAuthorUrl" placeholder="https://www.johndoe.com" />

    <label>Comment:</label>
    <InputTextArea @bind-Value="Model.CommentContent" placeholder="This is a great website..." />

    <div id="google_recaptcha"></div>
  
    <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Add Comment</MudButton>
</EditForm>

@code {
    public string Message = string.Empty;
   

    public Comments Model { get; set; } = new Comments();

    protected EditContext? Context;
    protected ValidationMessageStore? Store;

    private void ValidateForm(object sender, ValidationRequestedEventArgs args)
    {
        Store!.Clear();
        if (string.IsNullOrWhiteSpace(Model.CommentAuthor))
            Store.Add(() => Model.CommentAuthor!, "You must provide a name.");
    }

    protected override void OnInitialized()
    {
        Model ??= new();
        Context = new(Model);
        Context.OnValidationRequested += ValidateForm!;
        Store = new(Context);
    }

    public void Dispose()
    {
        if (Context is not null)
            Context.OnValidationRequested -= ValidateForm!;
    }

    public async Task Save()
    {
        // Captcha can be checked here with captchaResponse variable
        if (captchaResponse is not null)
        {
            Message = Model.CommentAuthor!;
        }
        await Task.CompletedTask;
    }

    private string captchaResponse = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender) 
    {
        if (firstRender)
        {
            await JS.InvokeAsync<int>("googleRecaptcha", DotNetObjectReference.Create(this), "google_recaptcha", "6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public void CallbackOnSuccess(string response)
    {
        captchaResponse = response;
       
    }

    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public void CallbackOnExpired(string response)
    {
        captchaResponse = "Captcha has expired";
    }

    private void ShowResponse() 
    {
        captchaResponse = $"The response for the Google reCaptcha widget: {captchaResponse}";
    }
}