@using System.Text.RegularExpressions
@using PersonalWebsiteMVC.Data
@inject ApplicationDbContext _db
@inject NavigationManager nav

@if (_db.Posts.Count() == 0) { 
    <p>No posts have been found just now.  Please check back later.</p>
}