@inherits LayoutComponentBase
@using PersonalWebsiteMVC.Components.Mobile  

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />


<!-- Only for large screens -->
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <p>I am a desktop device.</p>
</MudHidden>

<!-- Breakpoint for mobile devices. -->
<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <Mobile />
    
</MudHidden>

<!-- Breakpoint for tablet devices -->
<MudHidden Breakpoint="Breakpoint.Xs">
   @Body
</MudHidden>