@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime 

@if (!mobile)
{
    <p>I am a mobile device.</p>
}

@code {
    private string isDevice { get; set; }
    public bool mobile { get; set; }

    public async Task FindResponsiveness()
    {
        mobile = await jsRuntime.InvokeAsync<bool>("isDevice");
        isDevice = mobile ? "Mobile" : "Desktop";
    }
}



