@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <Mobile />
</MudHidden>

<MudHidden Breakpoint="Breakpoint.Xs">
    
    <header>
        <div id="topNav">
            <section>
            <article>
            
                <input type="search" placeholder="Search the website...">
                <MudIcon Icon="@Icons.Material.Filled.Search" Class="SearchIcon" />
       
            </article>
            <article>
                <a href="#">Login</a>  
                <a href="#">Register</a>
            </article>
            </section>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @Body
    </main>
    <footer>
        Copyright &copy; douglasmcgregor.co.uk 2024
    </footer>
</MudHidden>