@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime
@inject IDialogService Dialog

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <Mobile />
</MudHidden>



<MudHidden Breakpoint="Breakpoint.Md">
	<p>I am a tablet device.</p>
	
</MudHidden>

<MudHidden Breakpoint="Breakpoint.MdAndUp">
	<p>I am a desktop device.</p>
</MudHidden>



@code { 
	public async Task OpenDialog()
	{
		await jsRuntime.InvokeVoidAsync("HideIcon");
		var options = new DialogOptions { CloseOnEscapeKey = true };
		var dialog = Dialog.Show<MobileNav>("", options);
		var result = await dialog.Result;
	}
}