@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <Mobile />
</MudHidden>

<MudHidden Breakpoint="Breakpoint.Xs">
    <header>
    
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="headerBackground"></div>
    </header>
    <main>
        <h1>Welcome</h1>
    </main>
    <footer>
        Copyright &copy; douglasmcgregor.co.uk 2024
    </footer>
</MudHidden>