@inherits LayoutComponentBase
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using PersonalWebsiteMVC.Components

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


@Message

<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <!-- Breakpoint for mobile devices -->
    @if (IsBlog)
    {
        <header>
            <MudIcon Icon="@Icons.Material.Filled.Menu" Class="Menu" @onclick="OpenDialog" />
        </header>
        <SinglePost PostId="PostId" />
        <footer>
            Copyright &copy; douglasmcgregor.co.uk 2024
        </footer>
    }
    else
    {
        <Mobile />
    }
</MudHidden>



<MudHidden Breakpoint="Breakpoint.MdAndUp">
    <!-- Breakpoint for tablet devices -->
    <header>
        <div id="topNav">
            <section>
                <article>
                    <input type="search" placeholder="Search the website....">
                    <MudIcon Icon="@Icons.Material.Filled.Search" Class="SearchIcon" />
                </article>
                <article>
                    <AuthorizeView>
                        <Authorized>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink href="/Login" NavLinkMatch="NavLinkMatch.All">Login</NavLink>
                            <a href="#">Register</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </article>
            </section>
        </div>
        <Navbar />
    </header>

</MudHidden>

<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <!-- Breakpoint for desktop devices -->
    <header>
        <div id="topNav">
            <section>
                <article>
                    <input type="search" placeholder="Search the website....">
                    <MudIcon Icon="@Icons.Material.Filled.Search" Class="SearchIcon" />
                </article>
                <article>
                    <AuthorizeView>
                        <Authorized>
                            Hello @_http.HttpContext!.User.Identity!.Name
                            <a href="/Logout">Logout</a>
                        </Authorized>
                        <NotAuthorized>
                            <a href="/Login">Login</a>
                            <a href="#">Register</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </article>
            </section>
        </div>
        <Navbar />
    </header>
    <main>
        @Body
    </main>
    <footer>
        Copyright &copy; douglasmcgregor.co.uk 2024
    </footer>
</MudHidden>



@code {
    public string? Message { get; set; }

    [Inject]
    public NavigationManager _nav { get; set; } = default!;
    [Inject]
    public IJSRuntime jsRuntime { get; set; } = default!;
    [Inject]
    public IDialogService Dialog { get; set; } = default!;
    [Inject]
    public IHttpContextAccessor _http { get; set; } = default!;

    public bool IsBlog { get; set; } = false;
    public int PostId { get; set; } = 0;

    protected override void OnInitialized()
    {
        var uri = _nav.ToAbsoluteUri(_nav.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var id))
        {
            IsBlog = true;
            PostId = Convert.ToInt32(id);
        }
    }


    public async Task OpenDialog()
    {
        await jsRuntime.InvokeVoidAsync("HideIcon");
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = Dialog.Show<MobileNav>("", options);
        var result = await dialog.Result;
    }

    public void Navigate(string url) {
        _nav.NavigateTo(url, true);
    }
}