@inherits LayoutComponentBase
@using MudBlazor
@inject IDialogService Dialog
@inject IJSRuntime JS
 

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudHidden Breakpoint="Breakpoint.SmAndUp">

	<Mobile />
	
</MudHidden>

<MudHidden Breakpoint="Breakpoint.Xs">
	<header>
	</header>
	<main>
		@Body
	</main>
	<footer>
	</footer>
</MudHidden>










