@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime 

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <Mobile />
</MudHidden>

<MudHidden Breakpoint="Breakpoint.Xs">
    <p>I am a desktop device.</p>
</MudHidden>