@inherits LayoutComponentBase
@using PersonalWebsiteMVC.Components.Mobile
@inject IJSRuntime jsRuntime
@inject ICurrentDeviceService CurrentDeviceService


@if (Mobile)
{
    <Mobile />
}

@if (Tablet)
{
    <p>I am a tablet device.</p>
}

@if (Desktop)
{
    <nav>
        <ul>
            <li>
                <NavLink href="/">Home</NavLink>
            </li>
            <li>
                <NavLink href="/about">About</NavLink>
            </li>
            <li>
                <NavLink href="/blog">Blog</NavLink>
            </li>
            <li>
                <NavLink href="/photos">Photos</NavLink>
            </li>
            <li>
                <NavLink href="/contact">Contact</NavLink>
            </li>
        </ul>
    </nav>
    <header>
    </header>
    <main>
    @Body
    </main>
    <footer>
        Copyright &copy; douglasmcgregor.co.uk 2025
    </footer>
}



@code {
    public string UserAgent { get; set; } = string.Empty;
    bool AndroidPhone { get; set; }
    bool AndroidTablet { get; set; }
    bool Blackberry { get; set; }
    bool BlackberryPhone { get; set; }
    bool BlackberryTablet { get; set; }
    bool Desktop { get; set; }
    bool FireFoxOs { get; set; }
    bool FireFoxOsPhone { get; set; }
    bool FireFoxOsTablet { get; set; }
    bool iOS { get; set; }
    bool iPad { get; set; }
    bool iPhone { get; set; }
    bool iPod { get; set; }
    bool Landscape { get; set; }
    bool MacOs { get; set; }
    bool MeeGo { get; set; }
    bool Mobile { get; set; }
    bool NodeWebkit { get; set; }
    string Orientation { get; set; }
    string OS { get; set; }
    bool Portrait { get; set; }
    bool Tablet { get; set; }
    bool Television { get; set; }
    string Type { get; set; }
    bool Windows { get; set; }
    bool WindowsPhone { get; set; }
    bool WindowsTablet { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            UserAgent = await CurrentDeviceService.GetUserAgent();
            AndroidPhone = await CurrentDeviceService.AndroidPhone();
            AndroidTablet = await CurrentDeviceService.AndroidTablet();
            AndroidPhone = await CurrentDeviceService.AndroidPhone();
            Blackberry = await CurrentDeviceService.Blackberry();
            BlackberryPhone = await CurrentDeviceService.BlackberryPhone();
            BlackberryTablet = await CurrentDeviceService.BlackberryTablet();
            Desktop = await CurrentDeviceService.Desktop();
            iOS = await CurrentDeviceService.iOS();
            iPad = await CurrentDeviceService.iPad();
            iPhone = await CurrentDeviceService.iPhone();
            iPod = await CurrentDeviceService.iPod();
            Landscape = await CurrentDeviceService.Landscape();
            MacOs = await CurrentDeviceService.MacOs();
            MeeGo = await CurrentDeviceService.MeeGo();
            Mobile = await CurrentDeviceService.Mobile();
            Orientation = await CurrentDeviceService.Orientation();
            OS = await CurrentDeviceService.OS();
            Portrait = await CurrentDeviceService.Portrait();
            Tablet = await CurrentDeviceService.Tablet();
            Television = await CurrentDeviceService.Television();
            Type = await CurrentDeviceService.Type();
            Windows = await CurrentDeviceService.Windows();
            WindowsPhone = await CurrentDeviceService.WindowsPhone();
            WindowsTablet = await CurrentDeviceService.WindowsTablet();
            StateHasChanged();
        }
    }
}
