@inherits LayoutComponentBase
@using MudBlazor.Services
@using MudBlazor 

<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <p>This is a mobile device.</p>
</MudHidden>

    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />