@inherits LayoutComponentBase
@using PersonalWebsiteMVC.Components.Mobile
@using MudBlazor.Services
@implements IBrowserViewportObserver
@implements IAsyncDisposable


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />



<!-- Only for large screens -->
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    @Body
</MudHidden>

<!-- Breakpoint for mobile devices. -->
<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <Mobile />

</MudHidden>

<!-- Breakpoint for tablet devices -->
@if (_width >= 600 && _width < 768)
{
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Photos</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <header>
        <div class="overlay">
            <h1>Welcome</h1>
        </div>
    </header>
    <main>
    @Body
    </main>
}

@code {
    [Inject]
    private IBrowserViewportService? BrowserViewportService { get; set; }

    private int _width = 0;
    private int _height = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && BrowserViewportService != null)
        {
            await BrowserViewportService.SubscribeAsync(this, fireImmediately: true);
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public async ValueTask DisposeAsync() => await BrowserViewportService!.UnsubscribeAsync(this);

    Guid IBrowserViewportObserver.Id { get; } = Guid.NewGuid();

    Task IBrowserViewportObserver.NotifyBrowserViewportChangeAsync(BrowserViewportEventArgs browserViewportEventArgs)
    {
        _width = browserViewportEventArgs.BrowserWindowSize.Width;
        _height = browserViewportEventArgs.BrowserWindowSize.Height;

        return InvokeAsync(StateHasChanged);
    }
}