@inherits LayoutComponentBase
@using PersonalWebsiteMVC.Components.Mobile  

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />



<!-- Only for large screens -->
<MudHidden Breakpoint="Breakpoint.SmAndDown">
    <p>I am a desktop device.</p>
</MudHidden>

<!-- Breakpoint for mobile devices. -->
<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <h1 class="text-4xl bold underline">Hello World!</h1>
    
</MudHidden>

<!-- Breakpoint for tablet devices -->
<MudHidden Breakpoint="Breakpoint.Xs">
    <p>I am a tablet device.</p>
</MudHidden>