@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudHidden Breakpoint="Breakpoint.SmAndUp">
    <Mobile />
</MudHidden>

<MudHidden Breakpoint="Breakpoint.Xs">
    <header>
        <div id="topNav">
            <section>
                <article>
                   <div class="input-container">
                        <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Primary" Class="SearchIcon" />
                  
                    <input type="search" placeholder="Search the website...">
                    </div>
                </article>
                <article>
                </article>
            </section>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="headerBackground"></div>
    </header>
    <main>
        @Body
    </main>
    <footer>
        Copyright &copy; douglasmcgregor.co.uk 2024
    </footer>
</MudHidden>