@*
     For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@model PersonalWebsiteMVC.Models.Gallery

<form method="post">
     <div asp-validation-summary="All" class="text-danger"></div>
     <div class="form-group">
          <label asp-for="GalleryName"></label>
          <input asp-for="GalleryName" />
     </div>
     <div class="form-group">
          <label asp-for="GalleryLocation"></label>
          <input asp-for="GalleryLocation" />
     </div>
     <div class="form-group">
          <label asp-for="GalleryDescription"></label>
          <textarea asp-for="GalleryDescription" rows="5" cols="30"></textarea>
     </div>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
