@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@model Album
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Http
@inject IWebHostEnvironment env
@inject IHttpContextAccessor http



<h1 class="bg bg-info p-1">Update Album</h1>
<a asp-action="Index" asp-area="Admin" asp-controller="Gallery" class="btn btn-secondary">Back</a>

@TempData["Message"]

<form method="post" asp-action="UpdateAlbum" asp-area="Admin" asp-controller="Gallery" name="UpdateForm" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label>Name:</label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label>Description:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Location:</label>
        <input type="text" asp-for="Location" class="form-control autocomplete">
    </div>
    <div class="form-group">
        <label>Cover Photo:</label>
        <input type="file" asp-for="CoverPhoto" name="coverPhoto" class="form-control">
    </div>
    <div class="form-group">
        <label>Keywords:</label>
        <input asp-for="Keywords" class="form-control">
     </div>
    <input type="hidden" name="AlbumID" value="@Model.AlbumID">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#fileManager">Manage Photos</button>
</form>




@section Scripts { 
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAleDWdvOSaSXhU1ppugKYwiehOQ8e0ZWM&loading=async&libraries=places&callback=initialize">
    </script>

    <script>

        function initialize() {
            const center = { lat: 50.064192, lng: -130.605469 };
            // Create a bounding box with sides ~10km away from the center point
            const defaultBounds = {
                north: center.lat + 0.1,
                south: center.lat - 0.1,
                east: center.lng + 0.1,
                west: center.lng - 0.1,
            };
            const input = document.querySelector(".autocomplete");
            const options = {
                bounds: defaultBounds,
                componentRestrictions: { country: "uk" },
                fields: ["address_components", "geometry", "icon", "name"],
                strictBounds: false,
            };
            const autocomplete = new google.maps.places.Autocomplete(input, options);
        }
    </script>
}