
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@using System.Collections
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor http

<h2>Hello @http.HttpContext.User.Identity.Name, welcome to the Admin section.</h2>

<h3>Environment Variables</h3>
<div class="server-info">
<table>
@foreach (DictionaryEntry item in System.Environment.GetEnvironmentVariables())
{
     <tr>
        <td>@item.Key</td>
        <td>@item.Value</td>
    </tr>
}
</table>
</div>