@page "/blog"
@page "/blog/{Page:Int}"
@using Microsoft.AspNetCore.WebUtilities
@using PersonalWebsiteMVC.Models
@using System.Text.RegularExpressions
@inject ApplicationDbContext _db
@inject NavigationManager nav


@if (Model.Count() == 0) 
{
    
        <h1 class="text-4xl text-black">Blog</h1>
        <p>No posts have been found just now.  Please check back later.</p>

}
else 
{
    if (Id > 0) 
    {
        var uri = nav.ToAbsoluteUri(nav.Uri);
        if (uri.Fragment.Contains("Comments"))
        {
        }
        else
        {
            var post = _db.Posts.Where(p => p.PostID == Id).FirstOrDefault();
            <div id="SinglePost">
                <h1>@post!.PostTitle</h1>
                <p>@((MarkupString)post.PostContent!)</p>

                <BlogComments PostID="@post.PostID" />
            </div>
        }
    }
    else 
    {
    
            <h1>Blog</h1>

            <section>
                @foreach (var item in Model)
                {
                    var result = Truncate(item.PostContent!, 150);

                    <section>

                        @if (item.FeaturedImage != null)
                        {
                            // Media card header image here
                        }

                        <div id="PostContent">
                        
                            <h2>@item.PostTitle</h2>
                            @RemoveHTMLTags(result)
                            
                            
                        </div>
                    </section>
                }
            </section>
        
    }
}

@functions {
    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
    }

    public static string RemoveHTMLTags(string html) 
    {
        return Regex.Replace(html, "<.*?>", string.Empty);
    } 
}


@code {
    [SupplyParameterFromQuery(Name="id")]
    public int Id { get; set; } = 0;

    public IEnumerable<PersonalWebsiteMVC.Models.Posts> Model { get; set; } = Enumerable.Empty<PersonalWebsiteMVC.Models.Posts>();

    [Parameter]
    public int page { get; set; }

    PagingInfo pagingInfo = new PagingInfo();

    protected override void OnParametersSet()
    {
        CreatePagingInfo();
    }

    public void CreatePagingInfo()
    {
        var AllPosts = _db.Posts;

        int PageSize = 3; 
        page = page == 0 ? 1 : page;
        pagingInfo.CurrentPage = page;
        pagingInfo.TotalItems = AllPosts.Count();
        pagingInfo.ItemsPerPage = PageSize;

        var skip = PageSize * (Convert.ToInt32(page) - 1);
        Model = AllPosts.Skip(skip).Take(PageSize).ToList();
    }

    public async Task ViewPost(int id)
    {
        var query = new Dictionary<string, string>
            {
                {"id", id.ToString() },
            };
        nav.NavigateTo(QueryHelpers.AddQueryString("Blog", query!));
        await Task.CompletedTask;
    }
}