@page "/"

<div id="Home">
    <MudHidden Breakpoint="Breakpoint.MdAndUp">
        <section>
            <h1>Welcome!</h1>
            <p>Hi I'm Douglas, welcome to the site!  Here you will find my latest blog posts and photo albums of places visited over the years.  Please feel free to browse around and leave a comment.  Thanks for visiting!</p>
        </section>
        <section>
            <img src="images/me.jpg">
        </section>
    </MudHidden>

    <MudHidden Breakpoint="Breakpoint.SmAndDown">
        <h1>Welcome!</h1>

        <p>Hi I'm Douglas, welcome to the site!  Here you will find my latest blog posts and photo albums of places visited over the years.  Please feel free to browse around and leave a comment.  Thanks for visiting!</p>
    </MudHidden>
</div>