<div id="Home">
    <div class="overlay">
        <section>
            <h1 class="text-6xl text-white">Hi, I'm Douglas</h1>
            <img src="/images/me.jpg">
            <h2 class="text-white">Thanks for visiting!</h2>
        </section>
    </div>
</div>