@using PersonalWebsiteMVC.Components.Mobile
@inject IDialogService DialogService


<header>


</header>

<div id="Home">
    <div class="overlay">
        <NavMenu />
        <h1 class="text-4xl text-white">Hi, I'm Douglas</h1>
        <img src="/images/me.jpg">
        <h2 class="text-3xl text-white">Thanks for visiting!</h2>
        <button type="button"
            class=" text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow--800/80 font-medium rounded-lg text-xl px-5 py-2.5 text-center me-2 mb-2">
            About Me

        </button>
    </div>
</div>



