<div id="Home">
    <div class="overlay">
        <h1 class="text-3xl text-white underline">Hi, I'm Douglas</h1>
        <img src="/images/me.jpg">
        <h2 class="text-white">Thanks for visiting!</h2>

    </div>
</div>