@inject IJSRuntime JS
@using SuperSimpleBlazorModal

<a href="#" @onclick="ShowModal">
    <svg class="menuIcon" stroke-width="1.5" viewBox="0 0 24 24" fill="#FFFF00" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 5H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 12H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</a>

<SimpleModal
    @ref="ModalRef"
    Id="MySimpleModal"
    ExtraCssClass="mobileNav"
    OnModalStateChange="ModalStateChanged"
    OpenOnFirstRender="false"
    >

    <h1>My Modal</h1>
    
</SimpleModal>


@code {
    private SimpleModal? ModalRef;

    async Task ShowModal()
    {
        await ModalRef.ShowModal();
    }

    async Task CloseModal()
    {
        await ModalRef.CloseModal();
    }

    void ModalStateChanged(bool isOpen)
    {
        // do stuff when modal state changes
    }
}