@inject IJSRuntime JS
@inject IDialogService DialogService

<a href="#" @onclick="Open">
    <svg class="menuIcon" stroke-width="1.5" viewBox="0 0 24 24" fill="#FFFF00" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 5H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 12H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</a>

<MudDialog @bind-Visible="_visible" Class="mobileNav">
    <DialogContent>
        <a href="#" @onclick="Close"><span class="closeIcon">&times;</span></a>
        <ul>
            <li><NavLink href="#Home">Home</NavLink></li>
            <li><NavLink href="#About">About</NavLink></li>
            <li><NavLink href="#Blog">Blog</NavLink></li>
            <li><NavLink href="#Contact">Contact</NavLink></li>
        </ul>
    </DialogContent>
</MudDialog>

@code {
    private bool _visible;

    private void Open() => _visible = true;
    private void Close() => _visible = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("scrollToHash");
        }

    }

    
}