@inject IJSRuntime JS


<a href="#" @onclick="OnShowModalClick">
    <svg class="menuIcon" stroke-width="1.5" viewBox="0 0 24 24" fill="#FFFF00" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 5H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 12H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</a>

<Modal @ref="modal" UseStaticBackdrop="true" CloseOnEscape="true" Id="myModal">
    <BodyTemplate>
        <div class="mobileNav">
            <ul>
                <li>
                    <NavLink href="" @onclick="OnHideModalClick"><span class="closeIcon">&times;</span></NavLink>
                </li>
                <li>
                    <NavLink href="#Home" @onclick="(() => HandleNav(Home))">Home</NavLink>
                </li>
                <li>
                    <NavLink href="#About" @onclick="(() => HandleNav(About))">About</NavLink>
                </li>
                <li>
                    <NavLink href="#Blog" @onclick="(() => HandleNav(Blog))">Blog</NavLink>
                </li>
                <li>
                    <NavLink href="#Contact" @onclick="(() => HandleNav(Contact))">Contact</NavLink>
                </li>
            </ul>
        </div>
    </BodyTemplate>
</Modal>


@code {
    private Modal modal;

    public string Home { get; set; } = "Home";
    public string About { get; set; } = "About";
    public string Blog { get; set; } = "Blog";
    public string Contact { get; set; } = "Contact";

    public async Task OnShowModalClick()
    {
        await modal?.ShowAsync();
    }

    public async Task OnHideModalClick()
    {
        await modal?.HideAsync();
    }

    public async Task HandleNav(string name)
    {
        await OnHideModalClick();
        try
        {
            await JS.InvokeAsync<string>("ScrollIntoView", name);
        }
        catch (JSException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
