@page "/About"

<h1>About</h1>

<p>Just finished my third year at university studying web and mobile development.  Very happy to say that I've passed all modules with five As and two Bs!!  Been over the moon about it ever since.</p>

<p>Prior to that I did the first and second year in college learning web design and new web technologies like PHP and React.  In the first year there was a module called UX design that answered a lot of questions for me about web design like using the Adobe Colour Wheel for themes.</p>



@code {

}
