<!DOCTYPE html>
<html>
<head>
	<link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/Blog.css">
	<HeadOutlet />
</head>
<body>
	<Routes @rendermode="InteractiveServer" />

	
	@DateTime.Now


	<script src="_framework/blazor.server.js"></script>
	<script src="/site.js"></script>
</body>
</html>