@using MudBlazor

<MudHidden Breakpoint="Breakpoint.Sm">
    <p>This is a mobile device.</p>
</MudHidden>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<script src="_framework/blazor.server.js"></script> 