@using Microsoft.AspNetCore.Components.Forms
@using Sitko.Blazor.CKEditor
@using Sitko.Blazor.CKEditor.Bundle
@using MailKit 
@using PersonalWebsiteMVC.Services 
@page "/Contact"



<div id="Contact">

    <h1>Contact</h1>

    <section>
        <article>

            <p>I would love to hear from you.  Please fill out the form below and I will get back to you as soon as possible.</p>

            <EditForm Model="Model" FormName="ContactForm" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div>
                    <label for="Your Name">Your Name:</label>
                    <InputText @bind-Value="Model.Name" placeholder="John Smith" />
                </div>
                <div>

                    <label for="Your Email">Your Email Address:</label>
                    <InputText type="email" @bind-Value="Model.Email" placeholder="john@johnsmith.com" />
                </div>
                <div>
                    <label for="Your Website">Your Website:</label>
                    <InputText @bind-Value="Model.Website" placeholder="https://www.johnsmith.com" />
                </div>
                <div>

                    <label for="Your Message">Your Message:</label>
                    <CKEditor @bind-Value="@Model.Message" Config="configCustom" Class="ckEditor"></CKEditor>
                </div>


                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled">Contact</MudButton>
            </EditForm>

        </article>
        <article>
        </article>
    </section>

</div>

@code {
    [Inject]
    private PersonalWebsiteMVC.Services.IMailService mailService { get; set; } = default!;

    private CKEditorConfig? config;
    private CKEditorConfig? configCustom;

    ContactFormModel Model = new ContactFormModel();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        config = CKEditorBundleOptions.DefaultConfig.WithHtmlEditing();
        configCustom = CKEditorBundleOptions.DefaultConfig;
        configCustom.Toolbar = new CKEditorToolbar
        {
            Items = []
        };

    }

    public async Task HandleValidSubmit()
    {
        await mailService.SendMailAsync(Model.Name!, Model.Email!, "Contact Form", Model.Message!);
    }

    public async Task HandleInvalidSubmit()
    {
        await Task.CompletedTask;
    }
}