@page "/"

<div id="Home">
    <section>
        <article>
            <p>Aute labore sint culpa sint exercitation do aliqua nisi et voluptate ea aute. Deserunt irure duis non et
                velit Lorem culpa. Laborum sunt sit commodo mollit. Pariatur adipisicing consequat ullamco exercitation
                fugiat et id occaecat et fugiat enim. Mollit sunt adipisicing commodo cupidatat.</p>

            <p>Sint cupidatat enim cupidatat quis nostrud nostrud labore non anim ea. Dolor dolore incididunt
                exercitation Lorem officia ad id in incididunt Lorem. Ipsum cupidatat officia ea duis eiusmod quis nulla
                nostrud ipsum amet ad aliquip. Incididunt sit amet aute proident sit eiusmod Lorem aute esse.</p>

            <p>Ipsum incididunt commodo dolor anim sint esse. Et pariatur ut eiusmod laborum nisi. Cillum consectetur
                aliqua nisi nisi ullamco laboris ut. Est tempor amet esse amet Lorem ex exercitation nulla culpa
                proident et proident eiusmod cupidatat. Adipisicing exercitation aliquip nisi eiusmod duis ea occaecat
                excepteur consequat elit fugiat excepteur. Eiusmod enim consectetur Lorem dolor.</p>
        </article>
    </section>
</div>