@page "/"

    <div id="Home">
        <section>
            <article>
                <h1>Hi, I'm Douglas!</h1>
                <h2>Thanks for visiting.</h2>
            </article>
            <article>
                <img src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109?f=y&d=mp
" />
            </article>
        </section>
    </div>