@page "/"

<div id="Home" class="flex flex-row flex-1">
    <section>
        <h1>Welcome</h1>
        <p>Hi, I'm, Douglas! Welcome to my personal website.</p>

        <p>I am a student at the University of the West of Scotland (UWS) graduating next month with a BSc Honours in
            Web
            and
            Mobile Development.</p>
    </section>
    <section>
        <img src="/images/me.jpg">
    </section>
</div>