
@using System.Text.RegularExpressions
@inherits Mobile


<div id="Home">
	<div class="overlay">
		<section>

			<MudText Typo="Typo.h3">Hi, I'm Douglas!</MudText>
			<MudImage Src="images/me.jpg" />
			<MudText Typo="Typo.h4">Thanks for visiting!</MudText>
			<MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AboutMe">About Me</MudButton>
		</section>
	</div>


</div>

<div id="About">

	<MudText Typo="Typo.h2">About Me</MudText>


	<p>Exerci et stet nonumy tempor gubergren eirmod clita sed dolor amet tempor duo lorem nonumy dolore in dolor vero eos</p>

	<p>Amet invidunt accusam delenit vero gubergren et eum accusam elitr labore rebum eirmod magna et aliquyam at illum erat voluptua eros sea dolores eos est sea ipsum takimata erat gubergren</p>

	<p>Aliquam vel duo stet dolor et amet ipsum accusam diam diam nostrud diam commodo stet dignissim ipsum stet erat wisi sea iusto eos vel vel ipsum sit dolor nostrud lorem sea consetetur ea kasd nonumy</p>


</div>

<div id="Blog">


</div>



@functions {
	public static string Truncate(string value, int maxChars)
	{
		return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
	}

	public static string RemoveHTMLTags(string html)
	{
		return Regex.Replace(html, "<.*?>", string.Empty);
	}
}

