
@using System.Text.RegularExpressions
@inject IJSRuntime JS 
@inject ApplicationDbContext db 


<div id="Home">
    <div class="overlay">
        <header>
            <MudIcon Icon="@Icons.Material.Outlined.Menu" Class="Menu" />
        </header>
        <section>

            <MudText Typo="Typo.h3">Hi, I'm Douglas!</MudText>
            <MudImage Src="images/me.jpg" />
            <MudText Typo="Typo.h4">Thanks for visiting!</MudText>
            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AboutMe">About Me</MudButton>
        </section>
    </div>


</div>

<div id="About">

	<MudText Typo="Typo.h2">About Me</MudText>


	<p>Exerci et stet nonumy tempor gubergren eirmod clita sed dolor amet tempor duo lorem nonumy dolore in dolor vero eos</p>

	<p>Amet invidunt accusam delenit vero gubergren et eum accusam elitr labore rebum eirmod magna et aliquyam at illum erat voluptua eros sea dolores eos est sea ipsum takimata erat gubergren</p>

	<p>Aliquam vel duo stet dolor et amet ipsum accusam diam diam nostrud diam commodo stet dignissim ipsum stet erat wisi sea iusto eos vel vel ipsum sit dolor nostrud lorem sea consetetur ea kasd nonumy</p>

	<MudButton OnClick="Blog" Color="Color.Primary" Variant="Variant.Filled">Blog</MudButton>

</div>

<div id="Blog">
	<h1>Blog</h1>

	@Message

	@foreach (Posts post in AllPosts)
	{
		@post.PostTitle
	}

</div>



@functions {
	public static string Truncate(string value, int maxChars)
	{
		return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
	}

	public static string RemoveHTMLTags(string html)
	{
		return Regex.Replace(html, "<.*?>", string.Empty);
	}
}


@code { 
	public string? Message { get; set; }

	public List<Posts> AllPosts { get; set; } = new List<Posts>();

	public async Task AboutMe()
	{
		await JS.InvokeVoidAsync("SmoothScroll", "About");
	}

	public async Task Blog()
	{
		await JS.InvokeVoidAsync("SmoothScroll", "Blog");
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await Task.CompletedTask;

	}

	protected override void OnInitialized()
	{
		if (db.Posts.Count() == 0)
		{
			Message = "No posts have been found just now.  Please check back later.";
		}
		else
		{
			foreach (Posts post in db.Posts)
			{
				AllPosts.Add(post);
			}
		}
	}
}
}
