
@using System.Text.RegularExpressions
@using PersonalWebsiteMVC.Components.Partial
@using MudBlazor
@using MudBlazor.Services
@inject IJSRuntime JS
@inject ApplicationDbContext db
@inject IDialogService Dialog
@inject NavigationManager nav

<header>
    
    <MudIcon Variant="Variant.Filled" Icon="@Icons.Material.Filled.Menu" @onclick="OpenDialog" Size="Size.Large" Class="Menu" />
</header>

<div id="Home">
    <div class="wave-container">
       <section>
        <h1>Hi, I'm Douglas!</h1>
        <img src="/images/me.jpg" alt="Me">
        <h2>Thanks for visiting.</h2>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="AboutMe">About Me</MudButton>
        </section>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffa500" fill-opacity="1" d="M0,96L48,101.3C96,107,192,117,288,138.7C384,160,480,192,576,192C672,192,768,160,864,149.3C960,139,1056,149,1152,165.3C1248,181,1344,203,1392,213.3L1440,224L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
    </div>
</div>

<div id="About">

    <h1>About Me</h1>


    <p>Exerci et stet nonumy tempor gubergren eirmod clita sed dolor amet tempor duo lorem nonumy dolore in dolor vero eos</p>

    <p>Amet invidunt accusam delenit vero gubergren et eum accusam elitr labore rebum eirmod magna et aliquyam at illum erat voluptua eros sea dolores eos est sea ipsum takimata erat gubergren</p>

    <p>Aliquam vel duo stet dolor et amet ipsum accusam diam diam nostrud diam commodo stet dignissim ipsum stet erat wisi sea iusto eos vel vel ipsum sit dolor nostrud lorem sea consetetur ea kasd nonumy</p>

    <MudButton OnClick="Blog" Color="Color.Primary" Variant="Variant.Filled">Blog</MudButton>

</div>


<Blog />
<Contact />

<footer>
    Copyright &copy; douglasmcgregor.co.uk 2024
</footer>



@code {
    public string? Message { get; set; }
    [SupplyParameterFromQuery(Name ="id")]
    public int? PostID { get; set; }

    public async Task AboutMe()
    {
        await JS.InvokeVoidAsync("SmoothScroll", "About");
    }

    public async Task Blog()
    {
        await JS.InvokeVoidAsync("SmoothScroll", "Blog");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var uri = nav.ToAbsoluteUri(nav.Uri);
        if (firstRender)
        {
            await JS.InvokeVoidAsync("DetectScroll");

            if (uri.Fragment.Contains("Home"))
            {
                await JS.InvokeVoidAsync("SmoothScroll", "Home");

            }

            if (uri.Fragment.Contains("About"))
            {
                await JS.InvokeVoidAsync("SmoothScroll", "About");
            }

            if (uri.Fragment.Contains("Blog"))
            {
                if (PostID > 0)
                {
                    await JS.InvokeVoidAsync("SmoothScroll", "SinglePost");
                }
                else
                {
                    await JS.InvokeVoidAsync("SmoothScroll", "Blog");
                }
            }

            if (uri.Fragment.Contains("Comments"))
            {
                await JS.InvokeVoidAsync("SmoothScroll", "Comments");
            }

            if (uri.Fragment.Contains("Contact"))
            {
                await JS.InvokeVoidAsync("SmoothScroll", "Contact");
            }
        }

    }



    public async Task OpenDialog()
    {
        await JS.InvokeVoidAsync("HideIcon");
        var options = new DialogOptions { CloseOnEscapeKey = true, };
        var dialog = Dialog.Show<MobileNav>("", options);
        var result = await dialog.Result;
    }


}

