@using Microsoft.AspNetCore.Mvc.Rendering
@using PersonalWebsiteMVC.Models

<p class="text-xl">You are on page @PI.CurrentPage of @PI.TotalPages.</p>

<div class="pagingDiv">@((MarkupString)CreatePaging())</div>

@code {
    [Parameter]
    public PagingInfo PI { get; set; } = default!;
    [Parameter]
    public bool PageClassesEnabled { get; set; } = false;
    [Parameter]
    public string PageClass { get; set; } = default!;
    [Parameter]
    public string PageClassSelected { get; set; } = default!;
    [Parameter]
    public string PageName { get; set; } = string.Empty;
    [SupplyParameterFromQuery(Name="id")]
    public int Id { get; set; } = 0;

    public string CreatePaging()
    {
        TagBuilder result = new TagBuilder("div");
        string anchorInnerHtml = ""; 

        for (int i = 1; i <= PI.TotalPages; i++)
        {
            TagBuilder tag = new TagBuilder("a");
            anchorInnerHtml = AnchorInnerHtml(i, PI);

            if (anchorInnerHtml == "...")
                tag.Attributes["href"] = "#";
            else if (i == 1)
                if (PageName == "photos") 
                {
                tag.Attributes["href"] = "/" + PageName;
                } 
                else
                {
                    tag.Attributes["href"] = "/" + PageName; 
                }
            else 
                tag.Attributes["href"] = "/" + PageName + "/" + i;

            if (PageClassesEnabled)
            { 
                tag.AddCssClass(PageClass);
                tag.AddCssClass(i == PI.CurrentPage ? PageClassSelected : "");
            }

            tag.InnerHtml.Append(anchorInnerHtml);

            if (anchorInnerHtml != "")
                result.InnerHtml.AppendHtml(tag);
        }

        System.IO.StringWriter writer = new System.IO.StringWriter();
        result.InnerHtml.WriteTo(writer, System.Text.Encodings.Web.HtmlEncoder.Default);
        return writer.ToString();
    } 

    public static string AnchorInnerHtml(int i, PagingInfo pagingInfo) 
    {
        string anchorInnerHtml = "";
        if (pagingInfo.TotalPages <= 10)
            anchorInnerHtml = i.ToString();
        else
        {
            if (pagingInfo.CurrentPage <= 5)
            {
                if ((i <= 8) || (i == pagingInfo.TotalPages))
                    anchorInnerHtml = i.ToString();
                else if (i == pagingInfo.TotalPages - 1)
                    anchorInnerHtml = "";
            }
            else if ((pagingInfo.CurrentPage < 5) && (pagingInfo.TotalPages - pagingInfo.CurrentPage <= 5))
            { 
                if ((i == 1) || (i == pagingInfo.TotalPages || ((pagingInfo.CurrentPage - i >= -3) && (pagingInfo.CurrentPage - i <= 3))))
                    anchorInnerHtml = i.ToString();
                else if ((i == pagingInfo.CurrentPage - 4) || (i == pagingInfo.CurrentPage + 4))
                    anchorInnerHtml = "..";
                }
                else if (pagingInfo.TotalPages - pagingInfo.CurrentPage < 5)
                {
                    if ((i == 1) || (pagingInfo.TotalPages - i <= 7))
                        anchorInnerHtml = i.ToString();
                    else if (pagingInfo.TotalPages - i == 8)
                        anchorInnerHtml = "..";
                    }
                }
                return anchorInnerHtml;

        }
    }
}