@inject IJSRuntime JS
@using System.ComponentModel
@using Microsoft.Extensions.Options
@using System.Text.Json

<div id="google_recaptcha"></div>


@code {
    private string? captchaResponse;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Value { get; set; }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try  {
            await JS.InvokeAsync<int>("googleRecaptcha", DotNetObjectReference.Create(this), "google_recaptcha", "");
            } catch (JSException ex) 
            {
                Console.WriteLine(ex.Message);
            }
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public void CallbackOnSuccess(string response)
    {
        captchaResponse = response;
        ValueChanged.InvokeAsync(captchaResponse);
    }

    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public void CallbackOnExpired(string response)
    {
    }
}