@inject IJSRuntime JSRuntime
@using System.ComponentModel

<div id="google_recaptcha"></div>


@code {
    // https://akifmt.github.io/dotnet/2023-08-11-blazor-implementing-google-recaptcha-v3/
     private string captchaResponse;
     [Parameter]
     public EventCallback<string> CaptchaValue { get; set; }

     protected override async Task OnAfterRenderAsync(bool firstRender)
     {
        if (firstRender)
        {
          await JSRuntime.InvokeAsync<int>("googleRecaptcha", DotNetObjectReference.Create(this), "google_recaptcha", "6Lcu4zIqAAAAAGwRGrbhwICreateT_VWW4NVA5tbnSKgDB");
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    public void CallbackOnSuccess(string response)
    {
        captchaResponse = response;
    }

    public void CallbackOnExpired(string response)
    {
    }
}