@inject IJSRuntime JSRuntime
@using System.ComponentModel

<div id="google_recaptcha"></div>



@code {
    private string? captchaResponse;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    [Parameter]
    public string? Value { get; set; }
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnCaptchaValueChanged(string newValue)
    {
        Value = newValue;
        await ValueChanged.InvokeAsync(captchaResponse);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            await JSRuntime.InvokeAsync<int>("googleRecaptcha", DotNetObjectReference.Create(this), "google_recaptcha",
            "6Lcu4zIqAAAAAGwRGrbhwIT_VWW4NVA5tbnSKgDB");

        }
        await base.OnAfterRenderAsync(firstRender);
    }

    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public async Task CallbackOnSuccess(string response)
    {
        captchaResponse = response;
        Console.WriteLine(captchaResponse);
        await OnCaptchaValueChanged(response);
    }

    [JSInvokable, EditorBrowsable(EditorBrowsableState.Never)]
    public void CallbackOnExpired(string response)
    {

    }
}