@using PersonalWebsiteMVC.Components.Layout


<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(BlogLayout)" />
	</Found>
	<NotFound>

		<p>There's nothing on this page!</p>

	</NotFound>
</Router>
