
<Router AppAssembly="@typeof(App).Assembly">
	<Found Context="routeData">
		<RouteView RouteData="@routeData" DefaultLayout="@typeof(PersonalWebsiteMVC.Components.Layout.BlogLayout)">
			<LayoutView>
				<p>Welcome to my website!</p>
			</LayoutView>
		</RouteView>
			<FocusOnNavigate RouteData="@routeData" />
	</Found>
	<NotFound>
	
			<p>There's nothing on this page!</p>
		
	</NotFound>
</Router>