

<Router AppAssembly="@typeof(BlogLayout).Assembly">
	<Found Context="routeData">
		<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(BlogLayout)">
			<NotAuthorized>
				
			</NotAuthorized>
		</AuthorizeRouteView>
		<FocusOnNavigate RouteData="@routeData" Selector="h1" />
	</Found>
	<NotFound>
		<p>Sorry, the page does not exist.</p>
	</NotFound>

</Router>