@using System.Text.RegularExpressions

@layout BlogLayout


@if (_db.Posts.Count() == 0)
{
    <MudText Color="Color.Primary" Typo="Typo.h1">Blog</MudText>
    <MudText Typo="Typo.body1">No posts have been found just now.  Please check back later.</MudText>
}
else
{
    if (Id > 0)
    {
        var uri = _nav.ToAbsoluteUri(_nav.Uri);
        if (uri.Fragment.Contains("Comments"))
        {
            <BlogComments PostID="Id" />
        }
        else
        {
            var post = _db.Posts.Where(p => p.PostID == Id).FirstOrDefault();
            <div id="SinglePost">
                <h1>Blog</h1>
                <h2>@post!.PostTitle</h2>
                <img src=@($"Uploads/{post.FeaturedImage}")>
                @((MarkupString)post.PostContent!)
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => ViewComments(post.PostID))">Comments</MudButton>
            </div>
        }
    }
    else
    {
        <div id="Blog">
                <h1>Blog</h1>

            
                @foreach (var item in _db.Posts)
                {
                 
                        try
                        {
                            var result = Truncate(item.PostContent!, 200);

                            <MudCard Class="BlogItem">
                                <MudCardMedia Image=@($"/Uploads/{item.FeaturedImage}") Height="200" />
                                <MudCardContent>
                                   <h2>@item.PostTitle</h2>
                                   <p>@RemoveHTMLTags(result)</p>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="(() => ViewPost(item.PostID))">Read More</MudButton>
                                </MudCardActions>
                            </MudCard>
                        }
                        catch (NullReferenceException ex)
                        {
                            @ex.Message
                        }
                    
                }
            <button class="loadMorePosts">Load More</button>    
        </div>

    }
}

@functions { 
    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return Regex.Replace(html, "<.*?>", string.Empty);
    }
}


@code { 
        [SupplyParameterFromQuery(Name="id")]
        public int Id { get; set; } = new();
    public string? Message { get; set; }
    [Inject]
    public ApplicationDbContext _db { get; set; } = default!;
    [Inject]
    public NavigationManager _nav { get; set; } = default!;
    [Inject]
    public IJSRuntime JS { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await JS.InvokeVoidAsync("LoadMore");
        }
        catch (JSDisconnectedException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }


#pragma warning disable
    public async Task ViewPost(int id)
    {
        var query = new Dictionary<string, string>
        {
            {"id", id.ToString() },
        };
        _nav.NavigateTo(QueryHelpers.AddQueryString("#Blog", query));
        await JS.InvokeVoidAsync("location.reload");
    }

    public async Task ViewComments(int id)
    {
        var query = new Dictionary<string, string>
        {
            {"id", id.ToString() }
        };
        _nav.NavigateTo(QueryHelpers.AddQueryString("#Comments", query));
        await JS.InvokeVoidAsync("location.reload");
    }
}