
<div id="SinglePost">



    <section>
        <article>

            <h1>@Post!.PostTitle</h1>

            @((MarkupString)Post.PostContent!)
        </article>
    </section>

    <hr>

    <BlogComments PostID="PostId" />

</div>

@code {
    [Parameter]
    public int PostId { get; set; } = 0;
    public string? Message { get; set; }
    [Inject]
    public ApplicationDbContext _db { get; set; } = default!;
    [Inject]
    public NavigationManager _nav { get; set; } = default!;
    public Posts? Post { get; set; } = new Posts();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Message = PostId.ToString();
        GetPost();
    }

    public void GetPost()
    {
        var post = _db.Posts.Where(p => p.PostID == PostId).FirstOrDefault();
        Post = post;
    }

    public void GoBack()
    {
        _nav.NavigateTo("#Blog", true);
    }
}