@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "About Me";
     ViewData["Description"] = "I'm Douglas - a web developer with a background in classical music.";
     ViewData["Keywords"] = "graduated, first, class, honours, university, web, developer, classical, music, James, Horner, notation, film, compositions, orchestra, clarinet, lecturer, Titanic, Braveheart, scores";
}

<div id="About">
    <h1>About Me</h1>

    <p>I graduated from the University of the West of Scotland last year with a first-class honours degree in Web and Mobile Development, and I am currently working towards securing a role as a web developer.  During my time at university, I achieved 100% in Creative Technologies Professionalism, 95% in Internet Scripting (ASP.NET Core), 93% in Website Development, and 80% for my dissertation - results I am very proud of.</p>


    <p>I grew up with a love of classical music.  I learned piano in primary school and clarinet in secondary school.  Musicals by Peter Rose and Anne Conlon inspired me to study music more deeply, particuarly to understand how it all works - music notation, orchestration and composition.  Today, James Horner is my go-to composer; his scores for films such as Titanic and Braveheart are especially memorable to me.  I still try to play the piano every day, and it always helps me feel lighter.</p>

    <p>In addition to my degree in Web and Mobile Development, I also hold a BMus in Classical Music.  During that course, one of my compositions was performed by a string orchestra - a moment I'll always remember.  A lecturer also commented positively on my use of the triangle in an orchestration exercise, which has stayed with me.  Looking ahead, I hope to learn the violin and perhaps one day join an orchestra.  I have especially fond memories of playing the clarinet in wind bands.</p>

    <p>In my spare time, I enjoy reading to relax.  Alongside playing the piano, I continue to study full orchestral scores and keep printed books and PDFs on my iPad.  I am passionate about continuing to learn - particuarly new technologies - and I am commited to building a career as a web developer where I can grow, contribute and keep improving.</p>

</div>
