@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "About Me";
}

<div id="About">
    <h1>About Me</h1>

    <b>Introduction</b>

    <p>I'm Douglas, a web developer with a <b>First Class Honours degree</b> from the University of the West of Scotland (UWS).  During my studies, I achieved <b>95% for the Internet Scripting (ASP.NET Core) module</b>, which gave me a strong technical foundation in building reliable, modern web applications.  I'm particularly interested in creating practical solutions that not only work well, but are enjoyable to use.</p>

    <b>Purpose of the Website</b>

    <p>This site brings together three parts of my life: portfolio, blog and photo gallery.  In the portfolio, I showcase my project and highlight the skills I've developed along the way.  Through the blog, I document my learning journey in web development and share resources that might help others starting out or exploring similar paths.  The photo gallery adds a more personal dimension - snapshots that reflect moments, places and experiences beyond coding.</p>

    <b>A Personal Note</b>

    <p>Before turning to web development, I studied composition at the University of Hull, and music is still an important part of my life.  I play the piano reguarly and plan to take up the clarinet again soon.</p>

</div>
