@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "About Me";
}

<div id="About">
    <h1>About Me</h1>

    <p>I'm Douglas, a web developer with a passion for technology, design and problem solving.</p>  
    
    <p>I graduated in 2025 with a <b>First Class Honours</b> degree from the University of the West of Scotland.  During my studies, I achieved <b>95% in Internet Scripting (ASP.NET Core)</b> module - a result that made teaching myself ASP.NET years before starting the course feel completely worthwhile.</p>
    
    <p>Outside of development, I love playing the <b>piano</b> and spending time with my <b>books</b> - both help me slow down, recharge and stay inspired creatively.</p>

    <p>I'm always open to new opportunities to learn, collaborate and grow.  If you'd like to connect or discuss a project, I'd be happy to hear from you.</p>

</div>
