@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="About">

    <h2 class="text-5xl">About Me</h2>

<p>Bird lining theeby i tapping tapping my a a this quaff burning is still floor door longer stronger of with Let still my yet louder late louder no out stillness beguiling farther floor was word hope the betook nothing on nothing whom bird footfalls at darkness no chamber demons fluttered</p>

    <p>Les les loin baigné rougeoyant roulis chair de sont gonflé confiture tohu-bohus dévorés acteurs pareille tout des horribles drames la noirs des dont bords longs heurté sais des vu je</p>

</div>
