@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="About">
    <h1>About Me</h1>

    <p>I'm Douglas - a web developer with a unique blend of technical precision and creative depth.  My journey began in music, where I earned a degree and honed the discipline of composition, performance and emotional expression.  That foundation continues to shape how I approach the software: with empathy, structure and a deep respect for clarity.</p>

    <p>I later pursued a degree in Web and Mobile Development at the University of the West of Scotland, graduating with <b>First Class Honours</b>.  Having taught myself ASP.NET long before the course, I acheived <b>95% in the Internet Scripting module</b> and affirming my path as a developer who thrives both on logic and empathy.</p>

    <p>Today I specialize in building modular, scalable web applications using ASP.NET Core, Blazor, Ajax and expressive frontend architecture.  My work is grounded in clean designm, intuitive user experience, and a belief that technology should feel as good as it functions.</p>

    <p>Whether I'm programming in C# or debugging a complex UI flow, I bring the same care and intention I once and still bring to the piano - crafting interfaces that resonate.</p>


</div>
