@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ContactFormModel


<div id="Contact">


     <h1>Contact</h1>

     <p>It would be great to hear from you.  Please send me a message if you're interested in working together or just want to say hello.</p>

     @TempData["Message"]

     <form method="post">

          <div>
               <label>Name:</label>
               <div class="flex flex-col flex-1">
                    <input id="name" name="name" placeholder="John Smith" data-val-required="The name field is required." data-val="true">
                    <span class="error" data-valmsg-for="name" data-valmsg-replace="true"></span>
               </div>
          </div>
          <div>
               <label>Email:</label>
               <div class="flex flex-col flex-1">
                    <input id="email" name="email" placeholder="john@johnsmith.com" data-val-required="The email field is required" data-val-email="The email field is not a valid email address." data-val="true">
                    <span class="error" data-valmsg-for="email" data-valmsg-replace="true"></span>
               </div>
          </div>
          <div>
               <label>Website:</label>
               <input id="website" name="website" placeholder="https://www.johnsmith.com">
               <span class="error"></span>
          </div>

          <div>
               <label>Message:</label>
               <div class="flex flex-col flex-1">
                    <textarea class="ckeditor1" name="message" placeholder="What a great website..." data-val="true" data-val-required="The message field is  required."></textarea>
                    <span class="error" data-valmsg-for="message" data-valmsg-replace="true"></span>
               </div>
          </div>

          <div>
               <div id="g-recaptcha" data-sitekey="6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz" class="recaptcha">
               </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
     </form>

</div>

@section Scripts {
     <script type="module">
          let form = $('#Contact').find("form");
          $.validator.unobtrusive.parse(form);
          form.validate().settings.ignore = ":hidden:not(textarea)";
          let textarea = form.find('.ckeditor1')[0];

          if (textarea)
          {
              ClassicEditor.create(textarea,  {
                  licenseKey: 'GPL',
                  plugins: [
                      window.CKEditorEssentials,
                      window.CKEditorParagraph,
                      window.CKEditorBold,
                      window.CKEditorItalic,
                      window.CKEditorFont
                  ]
              })
              .then(editor => {
                  textarea._ckeditor = editor;

                  editor.model.document.on('change:data', () => {
                      const $textarea = $(textarea);

                      $textarea.val(editor.getData());

                      if (form.data('validator')) {
                          form.validate().element($textarea);
                      }
                  });
              })
              .catch(error =>  {
                  console.error(error);
              });
          }


     </script>
}
