@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ContactFormModel


<div id="Contact">

    
            <h1>Contact</h1>

            <p>It would be great to hear from you.  Please send me a message if you're interested in working together or just want to say hello.</p>

            @TempData["Message"]

            <form method="post" novalidate>
                
                <div>
                    <label>Name:</label>
                    <input id="name" name="txtName" placeholder="John Smith" required>
                    <span class="error"></span>
                </div>
                <div>
                    <label>Email:</label>
                    <input id="email" name="txtEmail" placeholder="john@johnsmith.com" required>
                    <span class="error"></span>
                </div>
                <div>
                    <label>Website:</label>
                    <input id="website" name="txtWebsite" placeholder="https://www.johnsmith.com">
                    <span class="error"></span>
                </div>

                <div>
                    <label>Message:</label>

                    <textarea id="ckeditor1" name="txtMessage" placeholder="What a great website..." required></textarea>
                    <span class="error"></span>
                </div>

                <div>
                    <div id="g-recaptcha" data-sitekey="6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz" class="recaptcha">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      
</div>

@section Scripts { 
    <script>
        $("form").on('submit', function(e) { 
            e.preventDefault();
            
            let name = document.querySelector("#name");
            let email = document.querySelector("#email");
            let website = document.querySelector("#website");
            let captcha = document.querySelector(".g-recaptcha-response");

            let oldSummary = document.getElementById("errorsSummary");
            if (oldSummary) { 
                oldSummary.remove();
            }

            let errors = [];

            if (!name.validity.valid) { 
                $("#name").parent().find('.error').text('Please enter your name.');
                $("#name").addClass('inputError');
                errors.push("Please enter your name.");
            } else { 
                $("#name").parent().find('.error').text('');
                $("#name").removeClass('inputError');
            } 

            if (!email.validity.valid) { 
                $("#email").parent().find('.error').text('Please enter your email address');
                $("#email").addClass('inputError');
                errors.push("Please enter your email address.");
            } else { 
                $("#email").parent().find('.error').text('');
                $("#email").removeClass('inputError');
            }

            if (editor.getData() === '') { 
                $(".ck").parent().find('.error').text('Please enter a message.');
                $(".ck").addClass('inputError');
                errors.push("Please enter a message.");
            } else { 
                $(".ck").parent().find('.error').text('');
                $(".ck").removeClass('inputError');
            }

            if (errors.length === 0) { 
                $.ajax({
                    method: "POST", 
                    url: "/Contact/SubmitForm", 
                    data: { name: name.value, email: email.value, website: website.value, message: window.editor.getData(), captchaResponse: captcha.value },
                    cache: false,
                    async: false,
                    success: function(message) { 
                        if (message.error) { 
                            $("form").before(`<p>${message.error}</p>`); 
                        } else { 
                            $("form").before().empty();
                            $("form").before(`<p>Hi ${name.value}, thanks for your email.  A reply will be sent if necessary.</p>`);
                        }
                    }, 
                    error: function(error) { 
                        console.log(error);
                    } 
                });
            }
        });
    </script>
}
