
<h1>Welcome</h1>

<p>Hello and welcome to the site!  This is my first post.  My aim for this website is to post helpful articles on web development, and without getting too personal, interesting bits of life from outside the box.  Thanks for visiting!</p>