

<div id="Home">

    <h1>Welcome</h1>

    <p>Hi I'm Douglas, welcome to my space.</p>

    <p>I'm a web developer with a strong foundation in ASP.NET Core and full-stack technologies, creating clean,
        scalable solutions that solve real problems.</p>

    <p>But more than just code, this site reflects my journey: one shaped by perseverance, learning and the belief that
        empathy belongs in every project.</p>

    <p>Whether you're here to explore my portfolio or understand the person behind the work - I'm glad you're here.</p>

</div>