@{
     ViewData["Title"] = "Home";
}

<div id="Home">

    <h1>Welcome</h1>

    <p>Hi, I'm Douglas!  Welcome to my website.</p>

    <p>The purpose of this site is to showcase my portfolio to potential employers.  I will also be sharing useful things in my blog on my journey through web development.</p>

    <p>Please feel free to browse around and reach out to say hello.</p>

    <p>Thank you for visiting.</p>

</div>