

<div id="Home">
<section>
    <h1>Welcome!</h1>
</section>
<section>
    <article>
        <p>Hi, I'm Douglas, thanks for visiting!</p>

    </article>
    <article>
        <img src="/images/me.jpg">
    </article>
</section>
</div>