@{
     ViewData["Title"] = "Home";
}

<div id="Home">

    <h1>Welcome</h1>

    <p>Hi, I'm Douglas - welcome to the site!  I'm a web developer with a background in classical music.</p>

    <p>Here you'll find blog posts where I share my thoughts on various topics, particuarly the problems I solve along my web development journey in the hope of making things easier for others.  You'll also find my portfolio of websites I've created, as well as a personal photo gallery.</p>

    <p>Please feel free to browse around, leave a comment or get in touch.  Thank you for visiting.</p>

</div>