@page "/Home"

    <div id="Home">
        <section>
            <h1>Welcome</h1>
        </section>
        <section>
            <article>
                <h1>Hi, I'm Douglas!</h1>
                <h2>Thanks for visiting.</h2>
            </article>
            <article>
                <img src="/images/me.jpg">
            </article>
        </section>

    </div>