
<div id="Home">
    <section>
        <article>
            <h1>Welcome</h1>

           <p>Hi, I'm Douglas - a web developer with a background in music and a sharp focus on ASP.NET web development.  I build modular, scalable interfaces using Blazor, AJAX, and Razor views, crafting code that's clean, expressive and resillient.  My work blends frontend finesse with backend reliability, always striving for performance, clarity, and a touch of intuitive rhythm.</p>

           <p>Whether debugging a pagination flow or layering in shimmer animations for soulful UI, I treat each project as a composition - balancing structure, elegance, and meaningful interaction.</p>
        </article>
        <article
            @DateTime.Now
        </article>
    </section>
</div>