@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PersonalWebsiteMVC.Areas.Photos.Models.PhotosViewModel


<div id="Photos">
    <h1>@Context.Request.Query["name"]</h1>

    @foreach (var item in Model.PagedPhotos!)
    {
        @item.Name
    }

</div>