<a href="#" onclick="showDialog()">
    <svg width="30" height="30" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
        class="menuIcon">
        <path d="M3 5H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 12H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3 19H21" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</a>

<dialog id="myNav">
    <div class="mobileNav">
        
        <ul>
            <li><a href="#" class="closeIcon" onclick="closeDialog()">&times</a></li>
            <li><a href="#Home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Blog">Blog</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </div>
</dialog>