@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ContactFormModel
<div id="Contact">
    <section>
        <h1>Contact</h1>

        <form method="post" asp-controller="Contact" asp-action="ContactForm">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div>
                <label asp-for="Name">Name:</label>
                <input asp-for="Name" placeholder="John Smith" value="John Smith">
            </div>
            <div>
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" type="email" placeholder="john@@johnsmith.com" value="john@@johnsmith.com">
            </div>
            <div>
                <label asp-for="Website">Website:</label>
                <input asp-for="Website" type="text" placeholder="https://www.johnsmith.com" value="https://www.johnsmith.com">
            </div>
            <div>
                <label asp-for="Message">Message:</label>
                <textarea asp-for="Message" id="ckeditor1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#00ffff" fill-opacity="1" d="M0,192L48,176C96,160,192,128,288,101.3C384,75,480,53,576,69.3C672,85,768,139,864,170.7C960,203,1056,213,1152,197.3C1248,181,1344,139,1392,117.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
</div>