@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using PersonalWebsiteMVC.Models 
@model IEnumerable<Album>  

<div id="Albums">

    <section>
        <h1>Photo Albums</h1>

    </section>
    <section>
        @if (Model.Count() == 0)
        {
            <p>No albums have been found just now.  Please check back later.</p>
        }
        else
        {
            foreach (Album album in Model)
            {
                <img src="@album.CoverPhoto">
            }
        }
    </section>
</div>