@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>@ViewBag.Name</h1>

<img src="@ViewBag.Image">

<form method="post" asp-action="MakeCoverPic" asp-area="pCloud" asp-controller="Photos">
    <input type="hidden" name="CoverPic" value="@ViewBag.Image">
    <input type="hidden" name="AlbumName" value="@ViewBag.AlbumName">
    <p>Make cover photo?</p>
    <button type="submit" class="btn btn-primary">Yes</button>
</form>