<div id="Sidebar">
    <section>
        <h3>Let's Connect</h3>

        <p>Interested in working together or just want to say hello?</p>

        <a asp-action="Contact" asp-controller="Home">Contact Me</a>
    </section>

    <section>
        <h3>Social Media</h3>

        <p>Follow me on Social Media:</p>

    </section>

    <section>
        <h3>Login</h3>
    </section>
</div>