<div id="Sidebar">


     <section>
         
               <img src="/images/me.jpg">
        
     </section>
     


     <section>
          <h3>Social Media</h3>

          <p>Follow me on Social Media:</p>
          <div class="socialMedia">
               <partial name="~/Views/Shared/Sidebar/SocialMedia.cshtml" />
          </div>
     </section>
    

</div>