
@{
     ViewData["Title"] = "About";
     Layout = "~/Views/Shared/_PersonalWebsite1.cshtml";
}

<h1>About</h1>

<p>This website is the result of me spending a long time teaching myself web development.  It uses ASP.NET Core and SQL Server on the backend, and Bootstrap with HTML5 and CSS3 on the front end.</p>
