@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Components
@inject IHttpContextAccessor _http
@inject ApplicationDbContext _db
@{
     ViewData["id"] = Context.GetRouteValue("id");
}


@model PersonalWebsiteMVC.Areas.Blog.Models.BlogCommentViewModel

<div id="SinglePost">

     @if (Model.Post is not null)
     {
          <h1>@Model.Post.PostTitle</h1>
          @Html.Raw(Model.Post.PostContent)
          <partial name="~/Areas/Blog/Views/Shared/Comments.cshtml" view-data="ViewData" />

     }
     else
     {
          var post = _db.Posts.Where(p => p.PostID == Convert.ToInt32(ViewData["id"])).FirstOrDefault();

          <div class="postContent">
               <h1>@post!.PostTitle</h1>
               @Html.Raw(post.PostContent)
          </div>

          <partial name="~/Areas/Blog/Views/Shared/Comments.cshtml" view-data="ViewData" model="@Model" />
     }

</div>


@section Scripts {

     <script type="module">
          var form = $('#SinglePost').find('form');
          $.validator.unobtrusive.parse(form);
          form.validate().settings.ignore = ":hidden:not(textarea)";

          let textarea = form.find('.ckeditor1')[0];
          
          ClassicEditor.create(textarea, { 
              licenseKey: 'GPL',
              plugins: [
                  window.CKEditorEssentials, 
                  window.CKEditorParagraph, 
                  window.CKEditorBold,
                  window.CKEditorItalic, 
                  window.CKEditorFont
              ]
          })
          .then(editor => { 
              textarea._ckeditor = editor;

              editor.model.document.on('change:data', () => { 

                  const $textarea = $(textarea);

                  $textarea.val(editor.getData());

                  if (form.data('validator')) { 
                      form.validate().element($textarea);
                  }
              });
          });
            
     </script>
}