


#Gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 1em;

    img {
        width: 100%;
    }

    figure {
        position: relative;
    }

    figcaption {
        color: white;
        position: relative;
        text-align: center;
        padding: 15px;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;

        a {
            color: white;
            text-decoration: underline;
        }

        a:hover {
            text-decoration: none;
        }

       
    }
}

.overlay {
    background-color: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index: 10000;
}

#myModal {
    z-index: 10000 !important;
    border: none !important;

    
}

.modal {
    height: revert !important;
    position: absolute !important;
    top: 0 !important;
}

.modal-content {
    border: 0 !important;
}

.modal-body {
    border: 0 !important;

    img { 
        width: 100% !important;
    }
}
