html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

img {
  width: 100%;
}

figure {
  margin: revert !important;
}

#Photos {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
#Photos section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#Photos section:nth-of-type(1) ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 3em;
  list-style-type: none;
}
#Photos section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  position: relative;
  width: 100%;
}
#Photos section:nth-of-type(2) figure {
  position: relative;
}
#Photos section:nth-of-type(2) div {
  position: absolute;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 100000 !important;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 3em;
}
#Photos section:nth-of-type(2) img {
  position: relative;
  cursor: initial;
}
#Photos section:nth-of-type(2) figcaption {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 5px;
}
#Photos section:nth-of-type(2) ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style-type: none;
  justify-content: space-between;
  gap: 2em;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  z-index: 3000;
  position: absolute;
  pointer-events: none;
}

#DbLinks {
  border-top: 1px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 1em;
}

#Gallery {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}
#Gallery section:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#Gallery section:nth-of-type(1) figure {
  position: relative;
}
#Gallery section:nth-of-type(1) figure div {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
}
#Gallery section:nth-of-type(1) figure img {
  width: 100%;
}
#Gallery section:nth-of-type(1) figure svg {
  width: 100%;
}
#Gallery figcaption {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#Gallery figcaption div {
  display: none !important;
}
#Gallery figcaption ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: flex-start;
  text-align: center;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  #Gallery figcaption ul {
    flex-direction: row;
    gap: 1em;
  }
}
#Gallery div:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5em;
  z-index: 5000;
  color: white;
}
#Gallery div:nth-of-type(1) svg {
  z-index: -1;
}
#Gallery div:nth-of-type(1) .overlay {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  position: relative;
}
#Gallery div:nth-of-type(1):nth-of-type(2) {
  position: relative;
  display: flex;
}

#photoModal {
  /* This needs display to be set to none other wise it messes up functionality of mouseenter on some elements */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 300px;
  width: 800px;
  min-width: 800px;
  min-height: 100vh;
  z-index: 10000;
  display: none;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#photoModal h1 {
  display: block;
}

.featherlight-content header {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 2em;
}
.featherlight-content header h1 {
  display: block !important;
}
@media only screen and (min-width: 600px) {
  .featherlight-content header {
    flex-direction: row;
  }
}/*# sourceMappingURL=Admin.css.map */