


#Gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 1em;


    img {
        width: 100%;
        position: relative;
    }

    figure {
        position: relative;
        margin: 0 !important;
   

        div {
            &:nth-of-type(1) { 
                position: absolute; 
                top: 0;
                width: 100%;
                align-items: center;
                text-align: center;
                display: none;
                flex-direction: column;
                flex: 0;
                gap: 1em;
                color: white;
                padding-top: 2em;
                padding-bottom: 2em;
            }

            &:nth-of-type(2) { 
                display: flex; 
                gap: 1em;
            }
        }

        p { 
            position: relative;
            z-index: 500 !important;
        }

    
       
    }

    figcaption {
    }

  
}

#DbLinks {
    border-top: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
}

.overlay {
    position: absolute !important; 
    top: 0; 
    left: 0; 
    background-color: rgba(0,0,0,0.6);
 
}

#myModal {
    z-index: 10000 !important;
    border: none !important;

    
}

.modal {
    z-index: 10000 !important;
    position: absolute !important;
    top: 0 !important;
    max-width: unset !important;
    height: 100vw !important;

    /* max-width: unset is required both in root element and modal-dialog to work properly */
    .modal-dialog { 
        max-width: unset !important;
    }

    .modal-body { 
        height: 40vw !important;
    }
}

#Albums { 
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    position: relative;
    align-items: center;

    figcaption { 
        text-align: center;
    }

    svg { 
        width: 100%;
    }
}



