
figure {
    margin: revert !important;
}


#Gallery {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 1em;



    figure {
        position: relative;
        margin: 0 !important;
        object-fit: contain;

        img { 
            width: 100%;
            position: relative;
            object-fit: contain;
        }

        div {
            &:nth-of-type(1) {
                position: absolute;
                top: 0;
                width: 100%;
                align-items: center;
                text-align: center;
                display: none;
                flex-direction: column;
                flex: 0;
                gap: 1em;
                color: white;
                padding-top: 2em;
                padding-bottom: 2em;
            }

            &:nth-of-type(2) {
                display: flex;
                gap: 1em;
            }
        }

        p {
            position: relative;
            z-index: 500 !important;
        }
    }
    
  
}

#DbLinks {
    border-top: 1px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
}

.overlay {
    position: relative;
    width: inherit;
    background-color: rgba(0,0,0,0.6);
    z-index: 10000 !important;
    text-align: center;
}

#myModal {
    z-index: 10000 !important;
    border: none !important;
}

.modal {
    z-index: 10000 !important;
    position: absolute !important;
    top: 0 !important;
    max-width: unset !important;
    height: 100vh !important;
    /* max-width: unset is required both in root element and modal-dialog to work properly */
    .modal-dialog {
        max-width: unset !important;
    }

    .modal-body {
        height: 40vw !important;
    }
}

#Albums {
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: 1em;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;

    svg {
        display: flex;
        margin: 0;
        border: none;
    }

    figure {
        position: relative;
        margin: 0 !important;
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;

        img { 
            width: 100%;
        }
    }

    figcaption {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;


        div {
            display: none !important;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            flex: 0;
            align-items: flex-start;
            width: 100%;
            margin-left: 0;
            padding-left: 0;

            @media only screen and (min-width: 600px) {
                flex-direction: row;
                gap: 1em;
            }
        }
    }



    div {
        &:nth-of-type(1) {
           
        }

        &:nth-of-type(2) {
            position: relative;
            display: flex;
        }
    }

    .overlay {
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;
        color: white;
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0;
        bottom: 9em;
    }
}

#photoModal {
    position: absolute; 
    top: 0;
    bottom: 0;
    height: 50vh;
    border: 0;
    overflow-y: scroll !important;

    img { 
        width: 100%;
    }

    .modal-content { 
        border: 0 !important;
    }

    .modal-open { 
        overflow-y: scroll !important;
    }

}