* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;
    align-items: center;
    position: relative;
  

    .Menu {
        font-size: 5em !important;
        display: flex;
        margin: 0 auto;
    }
}

form { 
    display: flex; 
    flex-direction: column;
    flex: 0; 
    gap: 2em;
}

footer  {
    display: flex; 
    flex-direction: column;
    flex: 0; 
    align-items: center;
    clear: both;
    background-color: burlywood;
    padding-top: 1em;
    padding-bottom: 1em;
}

#Home { 
    display: flex; 
    flex-direction: column;
    flex: 0;
    align-items: center;
    gap: 2em;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/ireland.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    position: relative;

   

    section { 
        display: flex; 
        flex-direction: column;
        flex: 0;
        align-items: center;
        gap: 4em;
        height: 90vh;
    }

    img { 
        width: 50%; 
        border-radius: 50%;
    }
}

#About { 
    display: flex;
    flex-direction: column;
    flex: 0; 
    align-items: center;
    background-color: orange;
    height: 100vh;

    p {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        font-size: large;
    }
}

#Blog { 
    display: flex; 
    flex-direction: column;
    flex: 0; 
    height: 100%;
    background-color: yellow !important;
    position: relative;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;

    h1, h2 { 
        display: flex; 
        margin: 0 auto;
    }
   
   
  
    .mud-card-content, .mud-card-actions { 
        background-color: yellow !important;
    }
}


#SinglePost {
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 2em;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    background-color: yellow;

    button { 
        display: flex; 
        align-self: flex-start;
    }

    img { 
        height: 200px;
        width: 100%;
        display: flex; 
    }

}

#Contact { 
    display: flex; 
    flex-direction: column;
    flex: 0;
    gap: 2em;
    background-color: lightskyblue;
    height: 100vh;

    button { 
        display: flex; 
        align-self: flex-start;
    }
}

.overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0,0,0,0.5);
 }

.sticky { 
    position: sticky;
    top: 0;
    display: flex; 
    z-index: 20000 !important;
    background-color: rgba(0,0,0,0.6);
}

.Menu { 
    color: white;
    font-size: 10em;
}

.MobileMenu { 
    background-color: rgba(0,0,0,0.6);
    z-index: 2000 !important;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    color: white;
    display: flex; 
    flex-direction: column;
    flex: 0; 
    gap: 2em;
    align-items: center;
    width: 100vw;

    ul { 
        display: flex; 
        flex-direction: column;
        flex: 0; 
        align-items: center;
        gap: 2em;
        position: relative;
        z-index: 20000 !important;
    }

    a { 
        color: white;
        font-size: xx-large;
        position: relative;
        z-index: 20000 !important;
    }
}
