@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert !important;
  font-weight: revert !important;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
form input {
  padding: 10px 10px 10px 10px;
  border: 1px solid black;
  align-items: center;
}
form textarea {
  border: 1px solid black;
}
form button {
  border: 1px solid black;
  padding: 10px 10px 10px 10px;
  background-color: orange;
  font-size: large;
}
@media only screen and (min-width: 768px) {
  form { 
    gap: 2em;
  }

  form button {
    width: 5em;
  }
}
form div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form div textarea {
  margin-top: 1em;
}
form div .ck-editor__editable {
  min-height: 200px;
  min-width: 20em !important;
  min-height: 150px;
  overflow-y: auto;
  flex-direction: column !important;
}
form div .error {
  color: brown;
  font-weight: bold;
}
@media only screen and (min-width: 768px) {
  form { 
    gap: 1em;
  }
  
  form div {
    flex-direction: row;
  }

  form input { 
    width: 20em;
  }

  form label { 
    width: 8em;
  }
}

.inputError {
  border: 3px solid red;
}

#Home {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-image: url("/images/mobile-home-background.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: #F29F05;
  color: white;
  gap: 2em;
}
#Home img {
  width: 50%;
  border-radius: 50%;
  align-self: center;
  display: flex;
  margin: 0 auto;
}
#Home h1 {
  font-size: 38pt !important;
  margin-bottom: 0 !important;
}
#Home h2 {
  font-size: 30pt !important;
}
@media only screen and (min-width: 600px) {
  #Home {
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
    font-size: large;
    background-color: revert;
    background-image: none;
    width: revert;
    padding-left: 1em;
  }
  #Home section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  #Home section p {
    padding-right: 2em;
    margin-bottom: 1em;
    font-size: 15pt !important;
  }
  #Home section:nth-of-type(1) {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex: 0;
    gap: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  #Home section:nth-of-type(1) p {
    font-size: x-large;
  }
  #Home section:nth-of-type(1) h1 {
    font-size: 42pt !important;
  }
  #Home section:nth-of-type(2) {
    background-color: lightgreen;
    flex: 0;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
@media only screen and (min-width: 600px) {
  #Home {
    height: revert;
  }
}
@media only screen and (min-width: 768px) {
  #Home {
    background-size: 100%;
    background-position: center;
    padding-left: 1em;
    color: black;
    gap: 1em;
  }
  #Home h1 {
    font-size: 38pt !important;
  }
  #Home section {
    background-color: revert !important;
  }
  #Home p {
    font-size: 16pt;
    line-height: 2;
    padding-right: 2em;
  }
}

#About {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  min-height: 100vh;
}
#About section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2em;
  background-color: #F29F05;
  padding-top: 6em;
}
@media only screen and (min-width: 768px) {
  #About section {
    padding-left: 1em;
    padding-right: 1em;
  }
}
#About section p {
  padding-left: 1em;
  padding-right: 1em;
}
#About svg {
  position: absolute;
  bottom: 0;
  margin-bottom: 0 !important;
}
#About h1 {
  font-size: 40pt !important;
  color: black !important;
  display: flex;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  #About h1 {
    margin: 0;
    padding: 0;
  }
}
#About p {
  color: black !important;
  font-size: 15pt;
}
@media only screen and (min-width: 768px) {
  #About p {
    line-height: 2;
  }
}
@media only screen and (max-width: 600px) {
  #About {
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  #About {
    gap: 1em;
    padding-left: 1em;
    padding-right: 2em;
  }
}

#Blog {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: black !important;
  position: relative;
  overflow: hidden;
}
#Blog h1 {
  padding-left: 16px;
  font-size: 42pt !important;
  margin: 0 !important;
}
@media only screen and (min-width: 768px) {
  #Blog h1 {
    padding-left: 0;
  }
}
#Blog:before {
  position: absolute;
  display: flex;
  height: 500px;
  background-color: #f2740f;
  content: "";
  width: 100vw;
  z-index: -1;
  margin-bottom: 0 !important;
}
@media only screen and (min-width: 768px) {
  #Blog:before {
    position: relative;
    height: revert;
  }
}
@media only screen and (min-width: 600px) {
  #Blog:before {
    background-color: revert;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: revert;
    z-index: revert;
    flex-direction: row;
  }
}
#Blog:after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 100px;
  width: 100vw;
  background-color: lightgreen;
  z-index: -1;
}
@media only screen and (min-width: 600px) {
  #Blog:after {
    background-color: revert;
  }
}
#Blog section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
  background-color: #f2740f;
  position: relative;
  overflow: hidden;
  width: 100vw;
}
@media only screen and (min-width: 600px) {
  #Blog section {
    background-color: revert;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
  #Blog section p {
    line-height: 2;
  }
}
#Blog section hr {
  margin-bottom: 1em;
}
#Blog section:nth-of-type(1) {
  padding-bottom: 1em;
}
#Blog section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#Blog section:nth-of-type(2) button {
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}
#Blog section:nth-of-type(2) button:nth-of-type(1) {
  background-color: lightgreen;
}
#Blog section:nth-of-type(2) button:nth-of-type(2) {
  background-color: lightyellow;
}
#Blog svg {
  display: block;
}

#PostContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  width: 100%;
  min-width: 100%;
  gap: 0.5em;
  border-bottom: 1px solid black;
  font-size: large;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}
#PostContent h2 {
  padding: 0 !important;
  margin: 0 !important;
}
#PostContent a {
  background-color: lightblue;
  align-self: flex-start;
  padding: 10px 10px 10px 10px;
}
@media only screen and (min-width: 600px) {
  #PostContent {
    padding-top: 0;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    gap: 1em;
  }
}

#SinglePost {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  font-size: 16pt;
  background-color: #f2740f;
  line-height: 2;
}
#SinglePost button {
  align-self: flex-start;
}
#SinglePost h3 {
  margin-bottom: 1em;
}
@media only screen and (min-width: 600px) {
  #SinglePost {
    background-color: revert;
  }
}

#Comments {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#Comments img {
  display: block;
  width: auto;
  height: auto;
  margin-right: 2em;
}
#Comments hr {
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}
#Comments section {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#Comments section:nth-of-type(1) div:first-child {
  margin-top: 1em;
}
#Comments section:nth-of-type(2) {
  flex-direction: row;
  gap: 2em;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1em;
}
#Comments section:nth-of-type(2) button {
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}
#Comments section:nth-of-type(2) button:nth-of-type(1) {
  background-color: lightgreen;
}
#Comments section:nth-of-type(2) button:nth-of-type(2) {
  background-color: lightyellow;
}
#Comments #comment {
  opacity: 0;
  transform: translateY(20px);
  animation: crystalFadeIn 1.4s ease-out forwards;
  position: relative;
}
#Comments #comment:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top left, rgba(182, 149, 192, 0.2), transparent 70%);
  filter: blur(6px);
  z-index: -1;
}
@keyframes crystalFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#Contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: yellow;
}
#Contact section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2em;
  background-color: lightgreen;
  padding-left: 1em;
  padding-right: 1em;
}
#Contact section button {
  align-self: flex-start;
}
#Contact section h1 {
  font-size: 40pt !important;
}
#Contact section p {
  font-size: large !important;
  padding-right: 2em;
}
@media only screen and (min-width: 600px) {
  #Contact section {
    background-color: revert;
  }
}
@media only screen and (min-width: 767px) {
  #Contact {
    background-color: revert;
  }
}

#Albums {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#Albums section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  position: relative;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}
#Albums section:nth-of-type(2) figcaption {
  margin-top: 1em;
}
#Albums section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d9d9d9;
  padding-top: 1em;
  gap: 1em;
}
#Albums section:nth-of-type(3) p {
  font-size: large;
}
#Albums h1 {
  font-size: 32pt !important;
}

#Photos {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#Photos section:nth-of-type(1) {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  margin-top: 1em;
}
#Photos section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #d9d9d9;
}
#Photos section:nth-of-type(2) p {
  font-size: large;
}

.modal-content {
  background-color: transparent !important;
}

.modal-header {
  border-bottom: none !important;
}

.closeIcon {
  color: white;
  font-size: 80pt;
  display: flex;
  width: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .overlay {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

header {
  position: relative;
  display: flex;
}
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    content: "";
    height: 40vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url("/images/bronte-falls.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header h1,
  header h2,
  header h3,
  header h4,
  header h5,
  header h6 {
    z-index: 10000;
    color: white;
    letter-spacing: 20 !important;
  }
  header h1 {
    font-size: 48pt !important;
    text-shadow: 1px 1px 2px black;
  }
}
@media only screen and (min-width: 767px) {
  header {
    font-size: 48pt !important;
  }
}

nav ul {
  background-color: #5E3E78;
  display: flex;
  flex-direction: column;
  flex: 1;
  list-style-type: none;
}
@media only screen and (min-width: 768px) {
  nav ul {
    width: revert !important;
  }
}
@media only screen and (max-width: 600px) {
  nav ul {
    display: none;
  }
}
nav a {
  color: white;
  text-decoration: none;
}
@media only screen and (min-width: 767px) {
  nav a {
    font-size: xx-large !important;
  }
}
@media only screen and (min-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100vw;
    justify-content: space-evenly;
  }
  nav a {
    font-size: large;
  }
}
.top-row,
article {
  padding-left: 0 !important;
}

main {
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: #DAADE3;
  clear: both !important;
  padding-left: 0.5em;
  padding-right: 2em;
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 0.5em;
    padding-bottom: 2em;
  }
  main h1 {
    font-size: 38pt !important;
  }
  main h2 {
    font-size: 32pt !important;
  }
  main section {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: flex-start;
    width: 100%;
  }
  main section article {
    width: 50%;
  }
}

.menuIcon {
  color: yellow;
  width: 80px;
  height: 80px;
}

.mobileNav {
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 2000 !important;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
}
.mobileNav ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3em !important;
  position: relative;
  z-index: 2000 !important;
  list-style-type: none;
  align-items: center;
  padding-left: 0 !important;
  height: 100vh !important;
}
.mobileNav ul a {
  position: relative;
  z-index: 10000 !important;
  color: white;
  font-size: xx-large;
  text-decoration: none !important;
}

.sticky {
  position: fixed !important;
  z-index: 99999999 !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

footer {
  background-color: yellow;
  color: black;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: x-large;
  clear: both;
}
@media only screen and (min-width: 768px) {
  footer {
    font-size: x-large;
    background-color: #B89583;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both !important;
  }
}

.socialMedia {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
  width: 100%;
}
.socialMedia p {
  font-size: large;
}
.socialMedia svg {
  width: 10%;
}
@media only screen and (min-width: 600px) {
  .socialMedia {
    flex-direction: row;
    flex: 0;
    align-items: flex-start;
    align-self: flex-start;
    background-color: revert;
  }
}

#Sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5em;
  font-size: large;
}
#Sidebar img {
  width: 50%;
  border-radius: 50%;
  align-self: center;
}
#Sidebar a {
  color: revert !important;
  -webkit-text-decoration: revert !important;
          text-decoration: revert !important;
}
#Sidebar section {
  display: flex;
  flex-direction: column !important;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 1em;
}

.modal-header i {
  display: none !important;
}

.commentForm {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  padding-right: 2em;
  gap: 2em;
  background: linear-gradient(to bottom right, #f4f7fa, #eaeff5);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.commentForm button {
  align-self: flex-start;
  background-color: orange;
}
.commentForm input,
.commentForm textarea {
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  padding: 0.75rem;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.commentForm input:focus,
.commentForm textarea:focus {
  outline: none;
  border-bottom-color: #7f9cf5;
}

.featherlight {
  z-index: revert !important;
}

.featherlight-next {
  height: 60% !important;
}

.featherlight-previous {
  height: 60% !important;
}

.modal {
  width: 100% !important;
  min-width: 100% !important;
}

.photoPopup {
  display: none;
}

#lightbox-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
#lightbox-content .comments-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2em;
}
#lightbox-content .comments-container img {
  width: 10%;
}/*# sourceMappingURL=BlogV1.css.map */