* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    width: 100vw;
}


p {
    color: black;
}

h1 {
    font-size: 3em;
    color: black;
    position: relative;

    @media only screen and (max-width: 400px) {
        font-size: 2em;
    }
}

h2 {
    font-size: 2em;
    color: black;
    position: relative;

    @media only screen and (max-width: 400px) {
        font-size: 1.5em;
    }
}

h3 {
    font-size: 1.5em;
    color: black;
    position: relative;
}


svg { 
    position: relative;
    margin-bottom: -1px;
}


header {
    text-align: center;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0;
    align-items: center;
    width: 100%;
    background-color: #FF9810;

    #topNav {
        background-color: #942B99;
        padding-bottom: 1em;
        display: flex;
        flex-direction: row;
        flex: 1;
        width: 100vw;
        padding-top: 1em;
        padding-bottom: 1em;

        p, a {
            color: white;
            font-size: medium;
            display: flex;
            flex-direction: column;
        }

        section {
            display: flex;
            flex-direction: row;
            flex: 1;
            align-items: center;
            justify-content: center;
            width: 100vw;
            position: relative;
        }

        article {
            width: 50%;
            text-align: center;
            display: flex;
            flex-direction: row;
            flex: 1;
            align-items: center;
            justify-content: center;

            &:first-child {


                input[type=search] {
                    width: 25em;
                    padding: 10px;
                    border: 1px solid black;
                }

                .SearchIcon {
                    font-size: 3em !important;
                    fill: black !important;
                    margin-left: -1em;
                    position: relative;
                }
            }

            &:last-child {
                gap: 2em;
                color: white;
            }
        }

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    nav {
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex: 0;
        clear: both;


        ul {
            display: flex;
            flex-direction: row;
            flex: 0;
            align-items: center;
            justify-content: center;
            gap: 5em;
            padding-top: 1em;
            padding-bottom: 1em;
            background-color: #C876CC;
            color: white;
            width: 100vw;

            @media only screen and (max-width: 600px) {
                display: none;
            }

            @media only screen and (min-width: 600px) {
                gap: 3em;
            }

            @media only screen and (min-width: 700px) {
                gap: 4em;
            }

            @media only screen and (min-width: 800px) {
                gap: 5em;
            }

            @media only screen and (mid-with: 900px) {
                gap: 6em;
            }
        }

        a {
            font-size: x-large;
            color: black;
            font-weight: bold;
        }

        a:hover {
            text-decoration: underline;
        }
    }



    .headerBackground {
        background-image: url('../images/scarboroughsunset.svg');
        background-repeat: no-repeat;
        height: 300px;
        width: 100vw;
        position: relative;
        content: "";

        &:after {
            position: absolute;
            bottom: 0;
            height: 100px;
            content: "";
            background-color: #cfadff;
            z-index: 10000;
        }
    }
}



form {
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100vw;

    label {
        display: flex !important;
        text-align: left;
        color: black;
        margin-left: 1em;
        margin-right: 1em;

        @media only screen and (min-width: 600px) {
            width: 12em;
            padding-top: 5px;
            color: black;
            margin-left: 0;
            margin-right: 0;
        }
    }

    input {
        border: 1px solid black;
        padding: 5px 5px 5px 5px;
        margin-left: 1em;
        margin-right: 1em;
    }

    textarea {
        border: 1px solid black;
        width: 90vw !important;
    }

    div {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 600px) {
            flex-direction: row;
        }
    }

    button {
        display: flex;
        align-self: flex-start;
        margin: 0 auto !important;

        @media only screen and (min-width: 600px) {
            margin: 0 !important;
        }
    }

    p {
        padding-left: 1.5em !important;
        padding-right: 1em !important;

        @media only screen and (min-width: 600px) {
            text-align: left !important;
            display: flex;
            align-self: flex-start;
        }
    }

    .ck .ck-editor__main {
        width: 90vw;
        min-height: 200px !important;
        max-height: 200px !important;
        height: 200px !important;
        align-self: center;

        @media only screen and (min-width: 600px) {
            width: 30vw;
            min-height: 200px !important;
        }
    }

    .ck .ck-content {
        height: 200px !important;
    }


    .ck-voice-label {
        display: none !important;
    }

    .ck-placeholder {
        width: 100vw !important;
    }
}





footer {
    display: flex;
    flex-direction: column;
    flex: 0;
    align-items: center;
    clear: both;
    text-align: center;
    font-size: large;

    section {
        background-color: #0ffaf0;
        padding-top: 1em;
        padding-bottom: 1em;
        width: 100vw;
    }

    svg {
        display: block;
        position: relative;
        bottom: -1px;
        z-index: -1;
    }


    @media only screen and (min-width: 600px) {
        background-color: #FFEC6E;
        padding-top: 1em;
        padding-bottom: 1em;
    }


    &:before {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100vw;
        content: "Howdy";
        background-color: #0bde39;
        z-index: -1;
    }
}

main {
    position: relative;
    background-color: #CFADFF;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100vw;

    section { 
        display: flex; 
        flex-direction: column;
        flex: 1; 
        width: 100vw;

        @media only screen and (min-width: 600px) { 
            flex-direction: row; 
        }
    }

    article { 
        width: 50%;
    }
   

    p {
        margin-left: 0;
        font-size: medium;
        line-height: 1.5em;
    }

    &:before {
        display: flex;
        height: 300px;
        background-color: transparent;
        position: absolute;
        top: -10em;
        content: ".";
        z-index: -1 !important;
        width: 100vw;
    }


    @media only screen and (min-width: 600px) {
        padding-left: 1em;
    }
}



#Home {
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;

    h1 {
        text-align: center;
    }

    h2 {
        text-align: center;
    }

    img {
        width: 50%;
        border-radius: 50%;
        display: flex;
        margin: 0 auto;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;
        justify-content: center;


        @media only screen and (min-width: 600px) {
            flex-direction: row;
            align-items: center;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 5em;
    }

    .wave-container > section {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 3em;
        background-color: #FF9810;
        align-items: center;
        width: 100vw;

        button {
            background-color: lightblue;
            padding-left: 1em;
            padding-bottom: 0.5em;
            padding-top: 0.5em;
            padding-right: 1em;
            border: 1px solid black;
            font-size: large;
        }

        @media only screen and (min-width: 400px) {
            height: 70vh;
            padding-bottom: 2em;
            gap: 2em;
        }

        @media only screen and (min-width: 600px) {
            gap: 0 !important;
            flex-direction: row;
            justify-content: center;
        }

        @media only screen and (min-width: 500px) {
            gap: 1em;
        }

        &:before {
            display: flex;
            position: absolute;
            top: 0;
            content: "";
            background-color: #ff9810;
            width: 100vw;
            height: 100px;
        }
    }


    @media only screen and (min-width: 600px) {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

#About {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    height: 100%;
    padding-bottom: 2em;
    position: relative;
    height: 100vh;

    p {
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        font-size: large;
    }

    section {
        background-color: #DEBB0B;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 80vh;
    }

    h1 {
        display: flex;
        margin: 0 auto;
    }

    .wave-container > h1, i {
        background-color: #ffa500;
        width: 100vw;
        height: 100%;
        text-align: center;
    }

    .wave-container > svg {
        display: block;
    }

    .wave-container > section {
        &:after {
            display: flex;
            position: absolute;
            bottom: 0;
            height: 200px;
            width: 100vw;
            content: "Howdy";
            z-index: -1;
            background-color: #9ff500;
        }
    }

    &:before {
        display: flex;
        position: absolute;
        top: -11em;
        background-color: #debb0b;
        height: 160px;
        width: 100vw;
        content: "";
        z-index: -1;
    }

    button {
        display: flex;
        align-self: center;
        margin-top: 1em;
    }
}

#Blog {
    display: flex;
    flex-direction: column;
    flex: 0;
    height: 100%;
    position: relative;
    align-items: center;

    h1, h2 {
        display: flex;
        margin: 0 auto;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-wrap: wrap;
        height: 100%;
        background-color: #9ff500;



        @media only screen and (min-width: 600px) {
            background-color: transparent;
        }

        &:after {
            display: flex;
            position: absolute;
            bottom: 0;
            height: 100px;
            width: 100vw;
            z-index: -1;
            content: "";
            background-color: #0bde39;
        }
    }

    article {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .BlogItem {
        /* Blog item was nested wrongly here, this is why css selectors didn't work */
        margin-bottom: 2em;
        margin-left: 1em;
        margin-right: 1em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }



    @media only screen and (min-width: 600px) {
        background-color: transparent;
    }

    hr {
        color: #d9d9d9;
        display: flex;
        width: 100vw;
    }

    nav {
        ul {
            display: flex;
            flex-direction: row;
            flex: 0;
            gap: 1em;
            align-items: center;

            .sr-only {
                display: none;
            }

            li {
                &:nth-of-type(2) {
                    background-color: white;
                    padding: 5px 5px 5px 5px;
                    border: 1px solid black;
                    font-size: medium;
                }
            }
        }
    }

    .wave-container {
    }

    .loadMorePosts {
        background-color: pink;
        padding: 5px 5px 5px 5px;
        border: 1px solid black;
        display: flex;
        align-self: center;
        font-size: medium;
    }
}


#SinglePost {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    align-items: center;
    background-color: yellow;
    padding-bottom: 2em;
    position: relative;

    button {
        display: flex;
        margin: 0 auto;
        align-self: flex-start;
        background-color: green;
        color: white;
        font-size: large;
        padding: 5px 5px 5px 5px;
    }

    img {
        height: 200px;
        width: 100%;
    }

    p {
        text-align: left;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    article {
        width: 50%;
    }

    @media only screen and (min-width: 600px) {
        background-color: transparent;
        align-items: flex-start;
        gap: 0;
    }
}

#Comments {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: yellow;
    padding-bottom: 2em;
    position: relative;
    margin-top: 1em;

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-wrap: wrap;
        gap: 2em;

        div {
            /* Floated items need to be wrapped in a div with align-items: center */

            &:first-child {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                flex: 0;
                gap: 1em;
                align-items: center;

                .sr-only {
                    display: none;
                }

                li {
                    &:nth-of-type(2) {
                        background-color: white;
                        padding: 5px 5px 5px 5px;
                        border: 1px solid black;
                        font-size: medium;
                    }
                }
            }
        }
    }

    button {
        background-color: purple;
    }


    img {
        width: 100px;
        height: 100px;
        margin-right: 2em;
    }

    div {
        clear: both;
    }

    h3 {
        margin-top: 1em;
    }

    @media only screen and (min-width: 600px) {
        background-color: transparent;
        align-items: flex-start;
        width: 50vw;
    }
}

#Contact {
    display: flex;
    flex-direction: column;
    flex: 0;
    align-items: center;
    background-color: #0BDE39;
    font-size: medium;
    position: relative;

    section {
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;
    }

    p {
        padding-left: 1em;
        padding-right: 1em;
    }



    @media only screen and (min-width: 600px) {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;


        article {
            &:first-child {
                gap: 0;
            }
        }
    }

    &:after { 
        display: flex; 
        position: absolute; 
        bottom: -6em; 
        height: 200px;
        width: 100vw;
        background-color: #0bde39;
        content: "";
        z-index: -1;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);

    * {
        z-index: 100;
        position: relative;
    }
}

.sticky {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    flex: 0;
    align-items: center;
    z-index: 20000 !important;
    background-color: rgba(0,0,0,0.6);

    .Menu {
        color: white;
    }
}

.Menu {
    color: black;
    font-size: 5em !important;
}

.MobileMenu {
    background-color: rgba(0,0,0,0.6);
    z-index: 2000 !important;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 2em;
    align-items: center;
    width: 100vw;

    ul {
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;
        gap: 2em;
        position: relative;
        z-index: 20000 !important;
    }

    a {
        color: white;
        font-size: xx-large;
        position: relative;
        z-index: 20000 !important;
    }
}

#recaptcha {
    display: block !important;
}
