* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

header {
  text-align: center;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0;
  width: 100vw;
}
header #topNav {
  background-color: #942B99;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100vw;
  padding-top: 1em;
  padding-bottom: 1em;
}
header #topNav section {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
}
header #topNav article {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}
header #topNav article:first-child {
  align-items: flex-end;
  margin: 0;
}
header #topNav article:first-child input[type=search] {
  width: 25em;
  padding: 10px;
  border: 1px solid black;
}
header #topNav article:first-child .SearchIcon {
  font-size: 3em !important;
  fill: black !important;
  margin-left: -1em;
}
header #topNav article:last-child {
  gap: 2em;
}
header #topNav article:last-child a {
  color: white;
  font-size: large;
}
header nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 0;
  clear: both;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex: 0;
  align-items: center;
  justify-content: center;
  gap: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #C876CC;
  color: white;
  width: 100vw;
}
header nav a {
  font-size: x-large;
  color: black;
  font-weight: bold;
}
header nav a:hover {
  text-decoration: underline;
}
header .headerBackground {
  background-image: url("../images/scarboroughsunset.svg");
  background-repeat: no-repeat;
  height: 300px;
  width: 100vw;
  position: relative;
  content: "";
}
header .headerBackground:after {
  position: absolute;
  bottom: 0;
  height: 100px;
  content: "";
  background-color: #cfadff;
  z-index: 10000;
}

form {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 2em;
  margin-top: 1em;
}
form input {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  width: 90vw;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}
form div:last-child {
  width: 100%;
  display: block;
}
form button {
  display: flex;
  align-self: flex-start;
  margin: 0 auto !important;
}
form p {
  padding-left: 1.5em !important;
  padding-right: 1em !important;
}

footer {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  clear: both;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}
@media only screen and (min-width: 600px) {
  footer {
    background-color: #FFEC6E;
  }
}

main {
  position: relative;
  background-color: #CFADFF;
  display: flex !important;
  flex-direction: column;
  flex: 0;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}
main:before {
  display: flex;
  height: 300px;
  background-color: transparent;
  position: absolute;
  top: -10em;
  content: ".";
  z-index: -1 !important;
  width: 100vw;
}
main section {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
@media only screen and (min-width: 600px) {
  main section {
    flex-direction: row !important;
  }
}
main article {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
main article:first-child {
  gap: 5em;
}
main article:last-child {
  text-align: center;
  align-items: center;
}
main article img {
  width: 50%;
  text-align: center;
  border-radius: 50%;
}

#Home {
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#Home h1 {
  margin: 0 auto;
  font-size: 3em;
}
#Home h2 {
  margin: 0 auto;
  font-size: 2em;
}
#Home img {
  width: 50%;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}
#Home .wave-container > section {
  gap: 2em;
}
#Home .wave-container > h1, #Home i {
  background-color: #ffa500;
  width: 100vw;
  height: 100%;
}
#Home .wave-container > svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 1000ms cubiz-bezier(0.23, steps(1, start), 0.32, 1) forwards;
  font-size: 0;
}
#Home .wave-container > svg:before {
  display: flex;
  position: relative;
  height: 100%;
  content: "";
  background-color: #ffa500;
}

#About {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  background-color: orange;
  height: 100%;
  padding-bottom: 2em;
}
#About p {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  font-size: large;
}

#Blog {
  display: flex;
  flex-direction: column;
  flex: 0;
  height: 100%;
  background-color: yellow !important;
  position: relative;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
#Blog h1, #Blog h2 {
  display: flex;
  margin: 0 auto;
}
#Blog .mud-card-content, #Blog .mud-card-actions {
  background-color: yellow !important;
}

#SinglePost {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 2em;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: yellow;
}
#SinglePost button {
  display: flex;
  align-self: flex-start;
}
#SinglePost img {
  height: 200px;
  width: 100%;
  display: flex;
}

#Comments {
  display: flex;
  flex-direction: column;
  flex: 0;
  height: 100%;
  background-color: yellow;
  padding-bottom: 2em;
}

#Contact {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  background-color: lightskyblue;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay * {
  z-index: 100;
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 20000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}

.Menu {
  color: black;
  font-size: 5em;
}

.MobileMenu {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 2em;
  align-items: center;
  width: 100vw;
}
.MobileMenu ul {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  gap: 2em;
  position: relative;
  z-index: 20000 !important;
}
.MobileMenu a {
  color: white;
  font-size: xx-large;
  position: relative;
  z-index: 20000 !important;
}

.ck-content {
  max-height: 200px !important;
  min-height: 200px !important;
  width: 90vw !important;
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.ck-dropdown__button {
  display: none !important;
}
