* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

p {
  margin: 0 !important;
}

form {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 1em;
  width: 70vw;
  position: relative;
}
form div {
  width: 100vw;
  position: relative;
}
form input {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  width: 100vw;
}
form textarea {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  align-self: flex-start;
}
@media only screen and (max-width: 400px) {
  form label {
    display: none;
  }
}
form button {
  align-self: flex-start;
}

.sticky {
  display: flex;
  z-index: 50000;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  padding-top: 1em;
  padding-bottom: 1em;
}
.sticky svg {
  display: flex;
  margin: 0 auto;
  color: white;
  font-weight: bold;
  width: 50px;
  height: 50px;
}

header {
  display: flex;
  flex-direction: column;
  flex: 0;
  position: relative;
  z-index: 50000 !important;
  padding-top: 1em;
  padding-bottom: 1em;
}
header a {
  display: block;
}
header svg {
  width: 50px;
  height: 50px;
  color: black;
}
header .sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
header .sticky svg {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
}

#Home {
  display: flex;
  flex-direction: column;
  flex: 0;
  position: relative;
}
#Home section {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 3em;
  align-items: center;
  background-color: #ffa500;
  height: 80vh;
  position: relative;
}
#Home section button {
  display: flex;
  align-self: flex-start;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
  background-color: darkorange;
}
#Home section img {
  width: 50%;
  border-radius: 50%;
}
#Home svg {
  position: relative;
  top: -1px;
}
#Home:after {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: -1;
  height: 200px;
  content: ".";
  width: 100vw;
  background-color: #F7E339;
}

#About {
  display: flex;
  flex-direction: column;
  flex: 0;
  position: relative;
}
#About section {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  flex: 0;
  height: 100vh;
  position: relative;
  background-color: #f7e339;
}
#About section p {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}
#About section button {
  display: flex;
  align-self: flex-start;
  margin: 0 auto;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
  background-color: darkolivegreen;
  color: white;
}
#About section:after {
  position: absolute;
  bottom: 0;
  background-color: #f7e339;
  display: flex;
  content: "";
  height: 200px;
  z-index: -1;
}
#About svg {
  position: absolute;
  top: -1px;
  z-index: -1;
}

#Blog {
  display: flex;
  flex-direction: column;
  flex: 0;
  position: relative;
}
#Blog section {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: flex-start;
  gap: 1em;
  background-color: #9FF739;
  position: relative;
  padding-left: 1em;
  padding-right: 1em;
  height: 100vh;
  min-height: 100vh;
}
#Blog section:after {
  display: flex;
  height: 100px;
  position: absolute;
  bottom: 0;
  content: "";
}
#Blog section h1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
#Blog:before {
  position: absolute;
  top: 0;
  content: "";
  height: 100px;
  width: 100vw;
  display: flex;
  z-index: -1;
  background-color: #f7e339;
}
#Blog:after {
  position: absolute;
  bottom: 0;
  content: "";
  height: 500px;
  width: 100vw;
  display: flex;
  background-color: cyan;
  z-index: -1;
}

#menu {
  border: 0 !important;
  background-color: transparent !important;
}
#menu ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  gap: 3em;
}
#menu a {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

#Post {
  background-color: beige;
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  justify-content: flex-start;
}
#Post p {
  padding-left: 1em;
  padding-right: 1em;
  line-height: 2;
}

#Comments {
  display: flex;
  flex-direction: column;
  flex: 0;
  background-color: yellow;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  height: 100% !important;
}
#Comments img {
  width: 15%;
  vertical-align: top !important;
}
#Comments button {
  align-self: flex-start;
}
#Comments form {
  width: 100%;
  margin-top: 1em;
}
#Comments form label {
  display: none;
}
#Comments form input {
  width: 100%;
}

#Contact {
  display: flex;
  flex-direction: column;
  flex: 0;
  position: relative;
  height: 100vh;
  min-height: 100vh;
  background-color: cyan;
}
#Contact section {
  display: flex;
  flex-direction: column;
  flex: 0;
  background-color: cyan;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}
#Contact:before {
  position: absolute;
  top: 0;
  content: ".";
  background-color: cyan;
  height: 100px;
  z-index: -1;
  display: flex;
}

.ck-editor__editable_inline {
  min-height: 100px !important;
  width: 100% !important;
  min-width: 100% !important;
}

.modal-content {
  background-color: transparent !important;
  border: 0 !important;
}

.modal-body {
  border: 0 !important;
}
