@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: revert !important;
    font-weight: revert !important;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;

    div {
        display: flex;
        flex-direction: column;
    }

    input {
        padding: 5px 5px 5px 5px;
        border: 1px solid black;

    }

    label {
        font-size: large;
    }

    br {
        display: none;
    }
}



#Home {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-image: url('/images/mobile-home-background.svg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    text-align: center;
    position: relative;
    background-color: #F29F05;
    color: white;

    img {
        width: 50%;
        border-radius: 50%;
        align-self: center;
        display: flex;
        margin: 0 auto;
    }

    h1 {
        font-size: 38pt !important;
        margin-bottom: 0 !important;
    }

    h2 {
        font-size: 30pt !important;
    }


    @media only screen and (min-width: 600px) {
        align-items: flex-start;
        align-self: flex-start;
        text-align: left;
        font-size: large;
        background-color: revert;
        background-image: none;
        width: revert;

        section {
            display: flex;
            flex-direction: column;
            flex: 1;

            p {
                padding-left: 2em;
                padding-right: 2em;
            }

            &:nth-of-type(1) {
                background-color: lightgoldenrodyellow;
                width: 100%;
                height: 100%;
                flex-grow: 1;
                flex: 0;
                gap: 2em;
                align-items: center;
                padding-top: 2em;
                padding-bottom: 2em;

                p {
                    font-size: x-large;
                }

                h1 {
                    font-size: 42pt !important;
                }
            }

            &:nth-of-type(2) {
                background-color: lightgreen;
                flex: 0;
                width: 100%;
                height: 100%;
                padding-top: 2em;
                padding-bottom: 2em;
            }
        }
    }

    @media only screen and (min-width: 600px) {
        height: revert;
    }

    @media only screen and (min-width: 767px) {

        background-size: 100%;
        background-position: center;
        padding-left: 0 !important;
        color: black;
        gap: 1em;

        h1 {
            font-size: 38pt !important;
        }

        section {
            background-color: revert !important;
        }


        p {
            font-size: x-large;
        }
    }
}

#About {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    overflow: scroll;

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 2em;
        background-color: #F29F05;
        padding-top: 6em;

        @media only screen and (min-width: 768px) {
            padding-left: 1em;
            padding-right: 1em;
        }

        p {
            padding-left: 1em;
            padding-right: 1em;
        }
    }

    svg {
        position: absolute;
        bottom: 0;
        margin-bottom: 0 !important;
    }

    h1 {
        font-size: 40pt !important;
        color: black !important;
        display: flex;
        margin: 0 auto;
    }

    p {
        color: black !important;
        font-size: 15pt;

    }

    @media only screen and (max-width: 600px) {
        align-items: center;
    }


}

#Blog {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    color: black !important;
    position: relative;
    overflow: hidden;


    h1 {
        padding-left: 16px;
        font-size: 42pt !important;
    }

    &:before {
        position: absolute;
        display: flex;
        height: 500px;
        background-color: #f2740f;
        content: "";
        width: 100vw;
        z-index: -1;
        margin-bottom: 0 !important;

        @media only screen and (min-width: 600px) {
            background-color: revert;
            position: relative;
            height: 100%;
            width: 100%;
            background-color: revert;
            z-index: revert;
        }
    }

    &:after {

        content: "";
        position: absolute;
        bottom: -1px;
        height: 100px;
        width: 100vw;
        background-color: lightgreen;
        z-index: -1;

        @media only screen and (min-width: 600px) {
            background-color: revert;
        }
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #f2740f;
        position: relative;


        @media only screen and (min-width: 600px) {
            background-color: revert;
            width: 100%;
            padding-left: 1em;
            padding-right: 1em;
            gap: 0;

        }

        hr {

            margin-bottom: 1em;
        }


    }

    button {
        align-self: flex-start !important;
    }

    svg {
        display: block;
    }
}

#PostContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    width: 100%;
    min-width: 100%;
    gap: 10px;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
    font-size: large;


    button {
        align-self: flex-start !important;
    }

    @media only screen and (min-width: 600px) {
        padding-top: 0;
        padding-bottom: 1em;
        padding-left: 0;
        padding-right: 0;
        gap: 1em;
    }


    @media only screen and (min-width: 767px) {}
}

#SinglePost {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    font-size: large;
    background-color: #f2740f;
    line-height: 2;

    button {
        align-self: flex-start;
        margin-bottom: 1em;
    }

    p {
        font-size: 18pt !important;
    }

    @media only screen and (min-width: 600px) {
        background-color: revert;
    }
}


#Comments {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-top: 1px solid black;

    img {
        width: 20% !important;
    }



    hr {
        color: black;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    p {
        &:nth-of-type(1) {
            margin-bottom: 1em;
        }
    }
}

#Contact {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: yellow;

    section {
        display: flex;
        flex-direction: column;
        background-color: lightgreen;

        padding-left: 1em;
        padding-right: 1em;
        height: 100vh;

        button {
            align-self: flex-start;
        }

        h1 {
            font-size: 40pt !important;
        }

        p {
            font-size: large !important;
            padding-right: 2em;
        }

        @media only screen and (min-width: 600px) {
            background-color: revert;
            height: 100%;
            align-items: stretch;
            overflow: visible;
        }
    }

    @media only screen and (min-width: 767px) {
        background-color: revert;
        height: 100%;
        width: 100%;
    }

}

#Albums {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    position: relative;
    width: 100%;

    h1 {
        font-size: 32pt !important;
    }
}

#Photos {
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5em;
        margin-top: 1em;
    
}

.ck-editor__editable {
    min-height: 100px;
}


.modal-content {
    background-color: transparent !important;
}


.modal-header {
    border-bottom: none !important;
}


.closeIcon {
    color: white;
    font-size: 80pt;
    display: flex;

    width: 100%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 600px) {
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;

    }
}

header {
    position: relative;
    display: flex;

    @media only screen and (min-width: 600px) {
        display: flex;
        content: "";
        height: 40vh;
        position: relative;
        align-items: center;
        justify-content: center;
        background-image: url('/images/nature-colourful.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            z-index: 10000;
            color: white;
            letter-spacing: 20 !important;
        }

        h1 {
            font-size: 48pt !important;
            text-shadow: 1px 1px 2px black;


        }
    }

    @media only screen and (min-width: 767px) {
        font-size: 48pt !important;
    }
}

nav {
    ul {
        background-color: lightgreen;
        display: flex;
        flex-direction: column;
        flex: 1;

        @media only screen and (max-width: 600px) {
            display: none;
        }
    }

    a {
        color: black;

        @media only screen and (min-width: 767px) {
            font-size: xx-large !important;
        }
    }

    @media only screen and (min-width: 600px) {
        ul {
            display: flex;
            flex-direction: row;
            flex: 1;
            padding-top: 1em;
            padding-bottom: 1em;
            width: 100vw;
            justify-content: space-evenly;
        }

        a {
            font-size: large;
        }
    }

    @media only screen and (min-width: 767px) {}
}

.top-row,
article {
    padding-left: 0 !important;
}

main {
    color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: #D99C2B;
    clear: both !important;
    padding-left: 2em;
    padding-right: 2em;

    @media only screen and (min-width: 767px) {
        padding-top: 2em;
        padding-bottom: 2em;

        h1 {
            font-size: 38pt !important;
        }

        h2 {
            font-size: 32pt !important;
        }

        section {
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 1em;
            align-items: flex-start;
            width: 100%;

            article {
                width: 50%;
            }


        }


    }
}





.menuIcon {
    color: yellow;
    width: 80px;
    height: 80px;
}

.mobileNav {
    background-color: rgba(0, 0, 0, 0.6) !important;
    z-index: 2000 !important;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;

    ul {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 3em !important;
        position: relative;
        z-index: 2000 !important;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        padding-left: 0 !important;
        height: 100vh !important;
    }

    a {
        position: relative;
        z-index: 10000 !important;
        color: white;
        font-size: xx-large;
        text-decoration: none !important;
    }
}

.sticky {
    position: fixed !important;
    z-index: 9999 !important;
    top: 0 !important;
    right: 0 !important;
    left: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}

.error {
    color: red;
    font-weight: bold;

    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

footer {
    background-color: yellow;
    color: black;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: x-large;
    clear: both;

    @media only screen and (min-width: 768px) {
        font-size: x-large;
        background-color: #403E2A;
        color: white;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.socialMedia {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;

    width: 100%;

    p {
        font-size: large;
    }

    svg {
        width: 10%;
    }

    @media only screen and (min-width: 600px) {
        flex-direction: row;
        flex: 0;
        align-items: flex-start;
        align-self: flex-start;
        background-color: revert;


    }


}

#Sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2em;


    img {
        width: 50%;
        border-radius: 50%;
        align-self: center;
    }

    section {
        width: revert;
        min-width: revert !important;
    }
}

.modal-header {
    i {
        display: none !important;
    }
}

.pagingDiv {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 2em;
}

.Paging {
    background-color: yellow;
    padding: 10px 10px 10px 10px;
    font-size: x-large;
    border: 1px solid black;
}