* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
  width: 100%;
}

p {
  padding-left: 1em;
  padding-right: 1em;
  color: black;
}

h1 {
  font-size: 3em;
  color: black;
  margin-left: 0.5em;
  position: relative;
}
@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 2em;
  color: black;
  margin-left: 0.5em;
  position: relative;
}
@media only screen and (max-width: 400px) {
  h2 {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 1.5em;
  color: black;
  margin-left: 0.5em;
  position: relative;
}

header {
  text-align: center;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  width: 100%;
  background-color: #FF9810;
}
header #topNav {
  background-color: #942B99;
  padding-bottom: 1em;
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100vw;
  padding-top: 1em;
  padding-bottom: 1em;
}
header #topNav p, header #topNav a {
  color: white;
  font-size: medium;
  display: flex;
  flex-direction: column;
}
header #topNav section {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100vw;
  position: relative;
}
header #topNav article {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: center;
}
header #topNav article:first-child input[type=search] {
  width: 25em;
  padding: 10px;
  border: 1px solid black;
}
header #topNav article:first-child .SearchIcon {
  font-size: 3em !important;
  fill: black !important;
  margin-left: -1em;
  position: relative;
}
header #topNav article:last-child {
  gap: 2em;
  color: white;
}
@media only screen and (max-width: 600px) {
  header #topNav {
    display: none;
  }
}
header nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 0;
  clear: both;
}
header nav ul {
  display: flex;
  flex-direction: row;
  flex: 0;
  align-items: center;
  justify-content: center;
  gap: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #C876CC;
  color: white;
  width: 100vw;
}
header nav a {
  font-size: x-large;
  color: black;
  font-weight: bold;
}
header nav a:hover {
  text-decoration: underline;
}
header .headerBackground {
  background-image: url("../images/scarboroughsunset.svg");
  background-repeat: no-repeat;
  height: 300px;
  width: 100vw;
  position: relative;
  content: "";
}
header .headerBackground:after {
  position: absolute;
  bottom: 0;
  height: 100px;
  content: "";
  background-color: #cfadff;
  z-index: 10000;
}

form {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 2em;
  margin-top: 1em;
  width: 100vw;
}
form label {
  display: flex !important;
  text-align: left;
  color: black;
}
@media only screen and (min-width: 600px) {
  form label {
    align-items: center;
    width: 10em;
    display: inline-block;
    align-items: center;
    height: 100%;
    float: left;
    padding-top: 5px;
    color: black;
  }
}
form input {
  border: 1px solid black;
  padding: 5px 5px 5px 5px;
  width: 40vw;
}
form textarea {
  border: 1px solid black;
}
form div {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
form div:last-child {
  padding: 0;
  align-self: flex-start;
}
@media only screen and (min-width: 600px) {
  form div {
    align-items: flex-start;
    flex-direction: row;
  }
}
form button {
  display: flex;
  align-self: flex-start;
  margin: 0 auto !important;
}
@media only screen and (min-width: 600px) {
  form button {
    margin: 0 !important;
  }
}
form p {
  padding-left: 1.5em !important;
  padding-right: 1em !important;
}
@media only screen and (min-width: 600px) {
  form p {
    text-align: left !important;
    display: flex;
    align-self: flex-start;
  }
}
form .ck-content {
  max-height: 200px !important;
  min-height: 200px !important;
}
form .ck-dropdown__button {
  display: none !important;
}
form .ck-voice-label {
  display: none !important;
}
form .ck-placeholder {
  width: 100vw !important;
}

footer {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  clear: both;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-size: large;
  background-color: #0FFAF0;
}
@media only screen and (min-width: 600px) {
  footer {
    background-color: #FFEC6E;
  }
}

main {
  position: relative;
  background-color: #CFADFF;
  display: flex !important;
  flex-direction: column;
  flex: 0;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
}
main p {
  margin-bottom: 1.5em;
  font-size: medium;
  line-height: 1.5em;
}
main:before {
  display: flex;
  height: 300px;
  background-color: transparent;
  position: absolute;
  top: -10em;
  content: ".";
  z-index: -1 !important;
  width: 100vw;
}
main section {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
@media only screen and (min-width: 600px) {
  main section {
    flex-direction: row !important;
  }
}
main article {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}
main article:last-child {
  text-align: center;
  align-items: center;
}
main article img {
  width: 50%;
  text-align: center;
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  main article {
    text-align: left;
  }
}

#Home {
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#Home h1 {
  text-align: center;
}
#Home h2 {
  text-align: center;
}
#Home img {
  width: 50%;
  border-radius: 50%;
  display: flex;
  margin: 0 auto;
}
#Home article {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
#Home .wave-container > section {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 3em;
  background-color: #FF9810;
  align-items: center;
  width: 100vw;
}
#Home .wave-container > section button {
  background-color: lightblue;
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  border: 1px solid black;
  font-size: large;
}
@media only screen and (min-width: 400px) {
  #Home .wave-container > section {
    height: 100vh;
    gap: 2em;
  }
}
@media only screen and (min-width: 600px) {
  #Home .wave-container > section {
    gap: 0 !important;
  }
}
@media only screen and (min-width: 500px) {
  #Home .wave-container > section {
    gap: 1em;
  }
}
#Home .wave-container > h1, #Home i {
  background-color: #ffa500;
  width: 100vw;
  height: 100%;
  text-align: center;
}
#Home .wave-container > svg {
  display: block;
  transform-origin: bottom;
  animation: animateWave 1000ms cubiz-bezier(0.23, steps(1, start), 0.32, 1) forwards;
  font-size: 0;
}
#Home .wave-container > svg:before {
  display: flex;
  position: relative;
  height: 100%;
  content: "";
  background-color: #ffa500;
}
#Home:after {
  position: absolute;
  bottom: 0;
  height: 250px;
  width: 100vw;
  content: ".";
  background-color: #DEBB0B;
  z-index: -1;
}

#About {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  background-color: #DEBB0B;
  height: 100%;
  padding-bottom: 2em;
}
#About p {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  font-size: large;
}

#Blog {
  display: flex;
  flex-direction: column;
  flex: 0;
  height: 100%;
  position: relative;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
#Blog h1, #Blog h2 {
  display: flex;
  margin: 0 auto;
}
#Blog .MudCard {
  border: 0;
}
@media only screen and (min-width: 600px) {
  #Blog .MudCard h2 {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 600px) {
  #Blog .MudCard button {
    margin-left: 1em;
  }
}
@media only screen and (min-width: 600px) {
  #Blog .MudCard p {
    font-size: medium;
  }
}
#Blog .mud-card-content {
  padding: 0 !important;
}
@media only screen and (min-width: 600px) {
  #Blog {
    background-color: transparent;
  }
}
#Blog hr {
  color: #d9d9d9;
  display: flex;
  width: 100vw;
}
#Blog nav ul {
  display: flex;
  flex-direction: row;
  flex: 0;
  gap: 1em;
  align-items: center;
}
#Blog nav ul .sr-only {
  display: none;
}
#Blog nav ul li:nth-of-type(2) {
  background-color: white;
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
  font-size: medium;
}
#SinglePost {
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 0.5em;
  align-items: center;
  background-color: yellow;
  padding-bottom: 2em;
}
#SinglePost button {
  display: flex;
  margin: 0 auto;
  align-self: flex-start;
  background-color: green;
  color: white;
  font-size: large;
  padding: 5px 5px 5px 5px;
}
#SinglePost img {
  height: 200px;
  width: 100%;
  display: flex;
}

#Comments {
  display: flex;
  flex-direction: column;
  flex: 0;
  height: 100%;
  background-color: yellow;
  padding-bottom: 2em;
}
#Comments button {
  background-color: purple;
}

#Contact {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  background-color: #0BDE39;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: medium;
}
#Contact input {
  width: 30vw;
}
#Contact label {
  width: 12em;
}
#Contact section {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  padding-left: 5em;
}
#Contact form div:last-child {
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  #Contact {
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
  }
  #Contact article:first-child {
    gap: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay * {
  z-index: 100;
  position: relative;
}

.sticky {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  z-index: 20000 !important;
  background-color: rgba(0, 0, 0, 0.6);
}
.sticky .Menu {
  color: white;
}

.Menu {
  color: black;
  font-size: 5em !important;
}

.MobileMenu {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000 !important;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  flex-direction: column;
  flex: 0;
  gap: 2em;
  align-items: center;
  width: 100vw;
}
.MobileMenu ul {
  display: flex;
  flex-direction: column;
  flex: 0;
  align-items: center;
  gap: 2em;
  position: relative;
  z-index: 20000 !important;
}
.MobileMenu a {
  color: white;
  font-size: xx-large;
  position: relative;
  z-index: 20000 !important;
}

#recaptcha {
  display: block !important;
}

.ck .ck-editor__main {
  width: 30vw !important;
}
