/* Note on VSCode the scss compiler only compiles to css instead of .min.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    
}

p {
    margin: 0 !important;
}

ul {
    margin: 0 !important;
}

form {
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 1em;
    width: 100%;
    position: relative;

    div {
        width: 100%;
        position: relative;
    }

    input {
        border: 1px solid black;
        padding: 5px 5px 5px 5px;
        width: 100%;
    }

    textarea {
        border: 1px solid black;
        padding: 5px 5px 5px 5px;
        align-self: flex-start;
    }

    label {
        @media only screen and (max-width: 400px) {
            display: none;
        }
    }

    button {
        align-self: flex-start;
    }
}



.sticky {
    display: flex;
    z-index: 50000;
    position: fixed;
    background-color: rgba(0,0,0,0.6);
    width: 100vw;
    padding-top: 1em;
    padding-bottom: 1em;

    svg {
        display: flex;
        margin: 0 auto;
        color: white;
        font-weight: bold;
        width: 50px;
        height: 50px;
    }
}

main { 
    display: flex; 
    flex-direction: column;
    flex: 1;
    flex-grow: 1;
    height: 100vh !important;
    min-height: 100vh;
    position: relative;

    
}

header {
    display: flex;
    flex-direction: column;
    flex: 0;
    position: relative;
    z-index: 50000 !important;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100vw;
    align-items: center;
    justify-content: center;

    a {
        display: block;
    }

    svg {
        width: 50px;
        height: 50px;
        color: black;
    }

    nav {
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;
        width: 100%;
        position: relative;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: column;
            flex: 1;
            list-style-type: none;
            position: relative;
            width: 100vw;
            align-items: center;
            justify-content: space-between;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-left: 0;

            @media only screen and (min-width: 400px) {
                flex-direction: row;
                justify-content: space-evenly;
                background-color: #365902;
            }

            @media only screen and (orientation: landscape) {
                gap: 2em;
            }

            @media only screen and (orientation: portrait) {
                gap: 1em;
                padding-right: 2em;
            }

            @media only screen and (min-width: 1900px) { 
                gap: 0;
                
            }
        }

        a {
            text-decoration: none;
            font-size: large;
            color: white;

         
        }


        @media (orientation: landscape) {
            background-color: transparent !important;
            justify-content: flex-start;
            width: 100vw;
        }


        @media only screen and (min-width: 400px) {
            background-color: deepskyblue;
            padding: 0 !important;
        }
    }


    .sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        background-color: rgba(0,0,0,0.6);

        svg {
            color: white;
            width: 30px;
            height: 30px;
            display: flex;
        }
    }

    @media only screen and (min-width: 400px) {
        padding: 0;
    }
}

.coverPhoto {
    display: block;
    background-image: url('../images/butterfly.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    width: 100vw;
    height: 300px;
    content: "";

    @media only screen and (orientation: landscape) {
        display: flex;
        height: 400px;
    }
}

footer {
    text-align: center;
    width: 100vw;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #BF5B04;
    color: white;
    clear: both;
}



#Home {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 4em;
        background-color: #ffa500;
        position: relative;
      

        button {
            display: flex;
            align-self: flex-start;
            margin: 0 auto;
            padding: 5px 5px 5px 5px;
            border: 1px solid black;
            background-color: darkorange;
        }

        img {
            width: 50%;
            border-radius: 50%;

            @media only screen and (min-width: 600px) {
                text-align: center;
                margin: 0 auto;
            }

            @media screen and (min-width: 1190px) { 
                width: 30%;
            }
        }



        @media only screen and (min-width: 400px) {
            flex-direction: row;
            gap: 0;
            justify-content: center;
        }

        @media only screen and (min-width: 600px) {
            background-color: #F2B705;
            flex-direction: row;
            flex: 1 1 auto;
            margin-top: -1px;
        }



        @media only screen and (orientation: portriat) {
            gap: 0;
        }

        article {
            width: 50%;
            text-align: center;



            p {
                @media only screen and (min-width: 600px) {
                    font-size: x-large;
                    padding-left: 2em;
                    justify-content: flex-start;
                    align-items: flex-start;
                }
            }
        }

        svg {
            position: relative;
            top: -1px;
        }

        button {
            align-self: flex-start;
        }

        &:after {
            display: flex;
            position: absolute;
            bottom: -6em;
            z-index: -1;
            height: 100px;
            content: ".";
            width: 100vw;
            background-color: #F7E339;

            @media only screen and (min-width: 400px) {
                display: none;
            }
        }
    }


    @media screen and (min-width: 1190px) {
        
    }
}

#About {
    display: flex;
    flex-direction: column;
    flex: 0;
    position: relative;

    section {
        padding-top: 5em;
        display: flex;
        flex-direction: column;
        flex: 0;
        gap: 2em;
        height: 100vh;
        position: relative;
        background-color: #f7e339 !important;

        h1 {
            display: flex;
            margin: 0 auto;
        }

        p {
            padding-left: 1em;
            padding-right: 1em;
            padding-bottom: 1em;
        }

        ul {
            display: flex;
            flex-direction: column;
            flex: 0;
            gap: 0.5em;
            margin-top: 1em;
            margin-left: 1em;
            padding-left: 1em;
            padding-right: 1em;
            font-size: large;
        }

        button {
            display: flex;
            align-self: flex-start;
            margin: 0 auto;
            padding: 5px 5px 5px 5px;
            border: 1px solid black;
            background-color: darkolivegreen;
            color: white;
        }

        img {
            display: flex;
            margin: 0 auto;
            width: 50%;
            border-radius: 50%;
        }


        &:after {
            position: absolute;
            bottom: 0;
            background-color: #f7e339;
            display: flex;
            content: "";
            height: 200px;
            z-index: -1;
        }
    }

    svg {
        position: absolute;
        top: -1px;
        z-index: -1;
    }
}


#Blog {
    display: flex;
    flex-direction: column;
    flex: 0;
    position: relative;
    width: 100%;

    section {
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: flex-start;
        gap: 1em;
        background-color: #9FF739;
        position: relative;
        height: 100vh;
        min-height: 100vh;
        width: 100%;
        min-width: 100%;
        padding-left: 1em;
        padding-right: 1em;

        h1 {
            padding-top: 1em;
            padding-bottom: 1em;
        }

        &:nth-of-type(3) { 
            padding-top: 1em;
            padding-bottom: 1em;
        }


        @media only screen and (min-width: 600px) {
            background-color: #ffa500;
            height: revert;
            min-height: revert;

            &:nth-of-type(2) {
                flex-direction: row;
                align-items: unset;
            }
        }
    }

    &:before {
        position: absolute;
        top: 0;
        content: "";
        height: 100px;
        width: 100vw;
        display: flex;
        z-index: -1;
        background-color: #f7e339;

        @media only screen and (min-width: 600px) {
            background-color: transparent;
            height: revert;
        }
    }

    &:after {
        position: absolute;
        bottom: 0;
        content: "";
        height: 200px;
        width: 100vw;
        display: flex;
        z-index: -1;
        background-color: cyan;

        @media only screen and (min-width: 600px) {
            background-color: transparent;
            height: revert;
        }
    }

    .card {
        width: 100% !important;
        min-height: 200px;

        button {
            justify-self: flex-start;
        }

        @media only screen and (min-width: 600px) {
            width: 20em !important;
            height: revert;
        }
    }

    @media only screen and (min-width: 600px) {
        height: revert;

        &:nth-of-type(2) {
            flex-direction: row;
        }
    }

    article { 
        padding-left: 1em;
        padding-right: 1em;
    }
}

#menu {
    border: 0 !important;
    background-color: rgba(0,0,0,0.6) !important;
    width: 100vw !important;
    padding: 0 !important;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex: 0;
        align-items: center;
        gap: 3em;
        width: 100%;
        min-width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

    a {
        color: white;
        font-size: xx-large;
        text-decoration: none;
    }
}

#Post {
    display: flex;
    flex-direction: column;
    flex: 0;
    align-items: center;
    justify-content: flex-start;
    background-color: gold;

    p {
    
        line-height: 2;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-bottom: 1em;

       article { 
           width: 50%;
           padding-left: 1em;
           padding-right: 1em;
        }
    }
}

#Comments {
    display: flex;
    flex-direction: column;
    flex: 0;
    position: relative;
    height: 100% !important;

    img {
        width: 15%;
        vertical-align: top !important;
    }

    button {
        align-self: flex-start;
    }


    form {
        width: 100%;
        margin-top: 1em;

        label {
            display: none;
        }

        input {
            width: 100%;
        }
    }
}

#Contact {
    display: flex;
    flex-direction: column;
    flex: 0;
    position: relative;
    height: 100vh;
    min-height: 100vh;

    section {
        display: flex;
        flex-direction: column;
        flex: 0;
        background-color: cyan;
        height: 100vh;
        padding-top: 5em;
    }
}

.ck-editor__editable_inline {
    min-height: 200px !important;
    width: 100% !important;
    min-width: 100% !important;
}

.modal-content {
    background-color: transparent !important;
    border: 0 !important;
    width: 100% !important;
    min-width: 100vw !important;
}

.modal-body {
    padding: 0 !important;

    ul {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.modal-dialog {
    margin: 0 !important;
}

.modal {
    width: 100vw !important;
    min-width: 100vw !important;
}

#Albums { 
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: #ffa500;
    padding-left: 1em;
    padding-right: 1em;
}
