@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert !important;
  font-weight: revert !important;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1em;
}
form div {
  display: flex;
  flex-direction: column;
}
form input {
  padding: 5px 5px 5px 5px;
  border: 1px solid black;
}
form label {
  font-size: large;
}
form br {
  display: none;
}

#Home {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  background-image: url("/images/mobile-home-background.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: relative;
  background-color: #F29F05;
  color: white;
}
#Home img {
  width: 50%;
  border-radius: 50%;
  align-self: center;
  display: flex;
  margin: 0 auto;
}
#Home h1 {
  font-size: 38pt !important;
  margin-bottom: 0 !important;
}
#Home h2 {
  font-size: 30pt !important;
}
@media only screen and (min-width: 600px) {
  #Home {
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
    font-size: large;
    background-color: revert;
    background-image: none;
    width: revert;
  }
  #Home section {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  #Home section p {
    padding-left: 2em;
    padding-right: 2em;
  }
  #Home section:nth-of-type(1) {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex: 0;
    gap: 2em;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  #Home section:nth-of-type(1) p {
    font-size: x-large;
  }
  #Home section:nth-of-type(1) h1 {
    font-size: 42pt !important;
  }
  #Home section:nth-of-type(2) {
    background-color: lightgreen;
    flex: 0;
    width: 100%;
    height: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
@media only screen and (min-width: 600px) {
  #Home {
    height: revert;
  }
}
@media only screen and (min-width: 767px) {
  #Home {
    background-color: revert;
    background-size: 100%;
    background-position: center;
    width: revert;
    padding-right: 5em;
  }
  #Home h1 {
    font-size: 38pt !important;
  }
  #Home section {
    background-color: revert !important;
  }
}

#About {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  overflow: scroll;
}
#About section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2em;
  background-color: #F29F05;
  padding-top: 6em;
}
@media only screen and (min-width: 768px) {
  #About section {
    padding-left: 1em;
    padding-right: 1em;
  }
}
#About section p {
  padding-left: 1em;
  padding-right: 1em;
}
#About svg {
  position: absolute;
  bottom: 0;
  margin-bottom: 0 !important;
}
#About h1 {
  font-size: 40pt !important;
  color: black !important;
  display: flex;
  margin: 0 auto;
}
#About p {
  color: black !important;
  font-size: 15pt;
}
@media only screen and (max-width: 600px) {
  #About {
    align-items: center;
  }
}

#Blog {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: black !important;
  position: relative;
}
#Blog h1 {
  padding-left: 16px;
  font-size: 42pt !important;
}
#Blog:before {
  position: absolute;
  display: flex;
  height: 500px;
  background-color: #f2740f;
  content: "";
  width: 100vw;
  z-index: -1;
  margin-bottom: 0 !important;
}
@media only screen and (min-width: 600px) {
  #Blog:before {
    background-color: revert;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: revert;
    z-index: revert;
  }
}
#Blog:after {
  content: ".";
  position: absolute;
  bottom: -1px;
  height: 100px;
  width: 100vw;
  background-color: lightgreen;
  z-index: -1;
}
@media only screen and (min-width: 600px) {
  #Blog:after {
    background-color: revert;
  }
}
#Blog section {
  display: flex;
  flex-direction: column;
  flex: 0;
  background-color: #f2740f;
  position: relative;
}
@media only screen and (min-width: 600px) {
  #Blog section {
    background-color: revert;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    gap: 0;
  }
}
#Blog section hr {
  margin-bottom: 1em;
}
#Blog button {
  align-self: flex-start !important;
}
#Blog svg {
  margin-bottom: -1px;
}

#PostContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid black;
  font-size: large;
}
#PostContent button {
  align-self: flex-start !important;
}
@media only screen and (min-width: 600px) {
  #PostContent {
    padding-top: 0;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
    gap: 1em;
  }
}
@media only screen and (min-width: 767px) {
  #PostContent {
    width: 80%;
  }
}

#SinglePost {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 1em;
  padding-right: 1em;
  font-size: large;
  background-color: #f2740f;
  line-height: 2;
}
#SinglePost p {
  font-size: 18pt !important;
}
@media only screen and (min-width: 600px) {
  #SinglePost {
    background-color: revert;
  }
}

#Comments {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-top: 1px solid black;
}
#Comments img {
  width: 20% !important;
}
#Comments hr {
  color: black;
  margin-top: 1em;
  margin-bottom: 1em;
}
#Comments p:nth-of-type(1) {
  margin-bottom: 1em;
}

#Contact {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: yellow;
}
#Contact section {
  display: flex;
  flex-direction: column;
  background-color: lightgreen;
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
  height: 100vh;
}
#Contact section button {
  align-self: flex-start;
}
#Contact section h1 {
  font-size: 40pt !important;
}
#Contact section p {
  font-size: large !important;
  padding-right: 2em;
}
#Contact section br {
  /* Hack for getting rid of the strange br element that appeared above the button */
  display: none !important;
}
#Contact svg:after {
  position: absolute;
  bottom: 0;
  background-color: yellow;
  content: ".";
  width: 100vw;
  z-index: 1000;
}

.ck-editor__editable {
  min-height: 100px;
}

.modal-content {
  background-color: transparent !important;
}

.modal-header {
  border-bottom: none !important;
}

.closeIcon {
  color: white;
  font-size: 80pt;
  display: flex;
  width: 100%;
  min-width: 100%;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 600px) {
  .overlay {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

header {
  position: relative;
  display: flex;
}
@media only screen and (min-width: 600px) {
  header {
    display: flex;
    content: "";
    height: 30vh;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url("/images/sunset-beach-large.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  header h1,
  header h2,
  header h3,
  header h4,
  header h5,
  header h6 {
    z-index: 10000;
    color: white;
    letter-spacing: 20 !important;
  }
  header h1 {
    font-size: 48pt !important;
    text-shadow: 1px 1px 2px black;
  }
}
@media only screen and (min-width: 767px) {
  header {
    font-size: 48pt !important;
  }
}

nav ul {
  background-color: #473959;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media only screen and (max-width: 600px) {
  nav ul {
    display: none;
  }
}
nav a {
  color: white;
}
@media only screen and (min-width: 767px) {
  nav a {
    font-size: xx-large !important;
  }
}
@media only screen and (min-width: 600px) {
  nav ul {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100vw;
    justify-content: space-evenly;
  }
  nav a {
    font-size: large;
  }
}
main {
  background-color: #F2CB05;
  color: black;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  main {
    flex-direction: row;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  main section {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    align-items: flex-start;
  }
  main section:first-child {
    width: 50%;
    padding-left: 2em;
  }
  main section:first-child p {
    font-size: x-large;
  }
  main section:first-child h1 {
    color: black;
    font-size: 38pt !important;
  }
  main section:last-child {
    width: revert !important;
  }
}

.menuIcon {
  color: yellow;
  width: 80px;
  height: 80px;
}

.mobileNav {
  background-color: rgba(0, 0, 0, 0.6) !important;
  z-index: 2000 !important;
  justify-content: center;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
}
.mobileNav ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 3em !important;
  position: relative;
  z-index: 2000 !important;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding-left: 0 !important;
  height: 100vh !important;
}
.mobileNav a {
  position: relative;
  z-index: 10000 !important;
  color: white;
  font-size: xx-large;
  text-decoration: none !important;
}

.sticky {
  position: fixed !important;
  z-index: 9999 !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

footer {
  background-color: yellow;
  color: black;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: x-large;
  clear: both;
}
@media only screen and (min-width: 768px) {
  footer {
    font-size: medium;
    background-color: #f28729;
  }
}

.socialMedia {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  gap: 2em;
  width: 100%;
}
.socialMedia p {
  font-size: large;
}
@media only screen and (min-width: 600px) {
  .socialMedia {
    flex-direction: row;
    flex: 0;
    align-items: flex-start;
    background-color: revert;
    justify-content: space-between;
  }
}

#Sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2em;
}
#Sidebar img {
  width: 50%;
  border-radius: 50%;
  align-self: center;
}
#Sidebar section {
  width: revert;
  min-width: revert !important;
}

.modal-header i {
  display: none !important;
}/*# sourceMappingURL=BlogV1.css.map */