* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

header {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  z-index: 500;
}

.MobileHeader {
  position: relative;
  z-index: 500;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media only screen and (min-width: 600px) {
  .MobileHeader {
    display: none;
  }
}
.MobileHeader section {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-width: 100%;
}
.MobileHeader section:first-child {
  flex-direction: row;
  gap: 5em;
}
.MobileHeader section:last-child {
  flex-direction: column;
  gap: 2em;
  padding-top: 1em;
}
.MobileHeader section:last-child img {
  width: 60%;
  border-radius: 50%;
}
@media only screen and (min-width: 600px) {
  .MobileHeader section:last-child img {
    width: 50%;
  }
}

.TabletHeader {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100vw;
}
@media only screen and (max-width: 600px) {
  .TabletHeader {
    display: none;
  }
}
.TabletHeader section {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 500;
}
.TabletHeader section:first-child nav ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 4em;
  background-color: #321d45;
  position: relative;
  z-index: 500;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.TabletHeader section:first-child nav li svg {
  width: 50px !important;
  height: 50px !important;
  display: flex;
  margin: 0 auto;
}
.TabletHeader section:first-child nav a {
  font-size: x-large;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}
.TabletHeader section:nth-of-type(2) {
  align-items: center;
}
.TabletHeader .bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90vh;
  width: 100vw;
}
