@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Posts>

<div id="Blog">
    @if (Model.Count() == 0)
    {
    }
    else
    {
        foreach (Posts post in Model)
        {
            <h2>@post.PostTitle</h2>
        }
    }
</div>

@functions { 
    public static string Truncate(string value, int maxChars) {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + ".....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return System.Text.RegularExpressions.Regex.Replace(html, "<.*?>", string.Empty);
    }
}