@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Http
@using PersonalWebsiteMVC.Models
@model List<Contents>

<h1 class="bg bg-info p-1">pCloud</h1>


<form method="post" asp-action="Auth" asp-controller="Home" asp-area="pCloud">
	<button class="btn btn-link">Login to pCloud</button>
</form>

@try
{
@Model.Count()
}
catch (ArgumentNullException ex)
{
	@ex.Message
}
