@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Net.Http.Headers
@using Microsoft.AspNetCore.Http
@using PersonalWebsiteMVC.Models
@using PersonalWebsiteMVC.Data
@using RestSharp
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using System.Text
@using System.Net.Http
@using Microsoft.Extensions.Configuration
@inject IPCloudAuth _auth
@inject ApplicationDbContext _db
@inject IConfiguration _config
@inject IWebHostEnvironment _env
@model List<ContentItem>

<h1 class="bg bg-info p-1">pCloud</h1>
<a class="btn btn-primary" asp-action="Create" asp-controller="Home" asp-area="pCloud" asp-route-folderid="19500076302">Create</a>

@TempData["Message"]
@Environment.GetEnvironmentVariable("PCloudToken")

<form method="post" asp-action="GetAuth" asp-controller="Home" asp-area="pCloud">
     <button class="btn btn-link">Login</button>
</form>


<ul>
     <li><a id="selectAll" href="#">Select All</a></li>
     <li><a id="addToDb" href="#">Add To Database</a></li>
     <li><a id="delFromDb" href="#">Delete From Database</a></li>
</ul>

<p class="error"></p>



<div id="Gallery">
     @if (Model is not null)
     {
          <section>
               @foreach (ContentItem item in Model)
               {

                    var album = _db.Albums.Where(a => a.Name == item.name).FirstOrDefault();
                    if (album is not null)
                    {
                         if (album.CoverPhoto is not null)
                         {

                              var thumb = Thumbnail(album.CoverPhoto!, "600x400");
                         
                              <img src="@Url.Action("GetThumb", "Home", new { fileid = album.CoverPhoto })">
                         }
                    }

               }
          </section>
     }
</div>

@functions {
   
     

     string Thumbnail(string fileid, string size)
     {
         
          var client = new RestClient("https://eapi.pcloud.com/");
          var request = new RestRequest("getthumblink");
          request.AddParameter("access_token", Environment.GetEnvironmentVariable("PCloudToken"));
          request.AddParameter("fileid", fileid);
          request.AddParameter("size", size);
          request.AddParameter("skipauth", "1");
          var response = client.ExecuteAsync(request).Result;
         dynamic json = JsonConvert.DeserializeObject(response.Content!)!;
          return "https://" + json.hosts[0] + json.path;
     }

}


@section Scripts {
     <script>
          // Script to fade in figcaption on mouse over
          $(function () {
               $("#Gallery section").find("figure").each((index, item) => {
                    let figcaption = $(item).find("figcaption");

               });
          });
     </script>

     <script>
          // Script to select all checkboxes and add them to array to be processed.
          let albums = []; // Array to hold all checked albums

          document.getElementById("selectAll").addEventListener("click", function (e) {
               e.preventDefault();
               let cb = document.querySelector("#Gallery section").querySelectorAll('input[type="checkbox"]');
               cb.forEach(function (item, index) {
                    item.checked = true; // Check all checkboxes

                    $.ajax({ // Check if album is in database using Ajax
                         method: "GET",
                         url: "/pCloud/Albums/GetID",
                         data: { name: item.value },
                         cache: false,
                         async: false,
                         success: function(message) {
                             console.log(message);
                         },
                         error: function(error) {
                             console.log(error);
                         }
                    });


                    if (id === 0) {

                         albums.push({ Name: item.value, DateCreated: item.dataset['date'] });
                    } else {

                         albums.push({ AlbumID: id });
                    }

               });
          });

          // Script to add value to array if checkboxes are individually checked
          document.querySelector("#Gallery section").querySelectorAll('input[type="checkbox"]').forEach(function (item, index) {
               item.addEventListener('click', function (e) {
                   var checkDb = $.ajax({
                       method: "GET",
                       url: "/pCloud/Albums/CheckInDb",
                       data: { name: item.value },
                       async: false,
                       cache: false,
                   }).responseText;
                   console.log(checkDb);

                   console.log(e.target);
                   console.log(item.value);
                       $.ajax({ // Check if album is in database using Ajax
                         method: "GET",
                         url: "/pCloud/Albums/GetID",
                         data: { name: item.value },
                         cache: false,
                         async: false,
                         success: function(message) {
                              if (message === undefined) {
                                   console.log('Album is not in database.');
                                   albums.push({ Name: item.value, DateCreated: e.target.dataset['date'] });
                              } else {
                                   albums.push({ AlbumID: message });
                              }
                         },
                         error: function(error) {
                              console.log(error);
                         }
                    });


               });
          });

          // Script to add selected albums to database using Ajax
          $("#addToDb").on('click', function (e) {
               e.preventDefault();
                console.log(albums);

               $.ajax({
                    method: "POST",
                    url: "/pCloud/Albums/AddMultipleAlbumsToDb",
                    headers: {
                         "Content-Type": "application/json"
                    },
                    dataType: 'json',
                    data: JSON.stringify(albums),
                    async: false,
                    cache: false,
                    success: function (message) {
                        //console.log(message);
                         window.location.reload();
                    },
                    error: function (error) {
                         console.log(error);
                    }
               });
          });

          // Script to delete selected items from database using Ajax
          $("#delFromDb").on('click', function (e) {
               e.preventDefault();
               console.log(albums);
               $.ajax({
                    method: "POST",
                    url: "/pCloud/Albums/DelMultipleFromDb",
                    headers: {
                         "Content-Type": "application/json"
                    },
                    dataType: 'json',
                    data: JSON.stringify(albums),
                    async: false,
                    cache: false,
                    success: function (message) {
                        window.location.reload();
                    },
                    error: function (error) {
                         console.log(error);
                    }
               });
          });

     </script>

}