@page "/blog"
@page "/blog/{Page:int}"
@using Microsoft.AspNetCore.WebUtilities
@using System.Text.RegularExpressions
@using PersonalWebsiteMVC.Models
@inject ApplicationDbContext _db
@inject NavigationManager nav

@if (Model.Count() == 0)
{
}
else 
{
    if (Id > 0)
    {
        var uri = nav.ToAbsoluteUri(nav.Uri);
        if (uri.Fragment.Contains("Comments")){
        }
        else
        {
            var post = _db.Posts.Where(p => p.PostID == Id).FirstOrDefault();
            <div id="SinglePost">
                <button onclick="history.back()">Go Back</button>
                <h1>@post!.PostTitle</h1>
                @((MarkupString)post.PostContent!)

                <BlogComments PostID="@post.PostID" />
            </div>
        }
    }
    else 
    {
        <h1>Blog</h1>

        <section>
            @foreach (var item in Model)
            {
                var result = Truncate(item.PostContent!, 150);

                <section>
                    @if (item.FeaturedImage != null)
                    {
                    }

                    <div id="PostContent">
                        <h2>@item.PostTitle</h2>
                        @RemoveHTMLTags(result)
                        <button type="button" class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" @onclick="(() => ViewPost(item.PostID))">Read</button>
                    </div>
                </section>
            }
            <Paging PI="pagingInfo" PageClassesEnabled="true" PageClass="Paging" PageClassSelected="active" />
        </section>
    }
}

@functions {
    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + "....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return Regex.Replace(html, "<.*?>", string.Empty);
    }


}


@code {
    [SupplyParameterFromQuery(Name = "id")]
    public int Id { get; set; } = 0;
    [Parameter]
    public int page { get; set; }

    public IEnumerable<PersonalWebsiteMVC.Models.Posts> Model { get; set; } =
    Enumerable.Empty<PersonalWebsiteMVC.Models.Posts>();

    PagingInfo pagingInfo = new PagingInfo();

    protected override void OnParametersSet()
    {
        CreatePagingInfo();
    }

    public void CreatePagingInfo()
    {
        var AllPosts = _db.Posts;

        int PageSize = 1;
        page = page == 0 ? 1 : page;
        pagingInfo.CurrentPage = page;
        pagingInfo.TotalItems = AllPosts.Count();
        pagingInfo.ItemsPerPage = PageSize;

        var skip = PageSize * (Convert.ToInt32(page) - 1);
        Model = AllPosts.Skip(skip).Take(PageSize).ToList();
    }

    public async Task ViewPost(int id)
    {
        var query = new Dictionary<string, string>
            {
                {"id", id.ToString() },
            };
        nav.NavigateTo(QueryHelpers.AddQueryString("Blog", query!));
        await Task.CompletedTask;
    }
}