@page "/"

<div id="Home">
<h1>Welcome</h1>

<p>Hi, welcome to the site.</p>

<p>Here you will find my personal blog, photo albums and portfolio.  Please feel free to browse around and comment.</p>

<p>Thanks for visiting!</p>
</div>