@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MixModel
@inject ApplicationDbContext _db

@TempData["Message"]

<div id="Comments">

    <h3>Comments</h3>

    

    @if (Model.AllComments.Count() == 0)
    {
        <p>No comments have been found for this post.  Be the first to add a comment using the form below.</p>
    }
    else
    {
    }

    <form method="post" asp-action="AddComment" asp-controller="Comments">
        <div class="text-danger" asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Comments.CommentAuthor">Name:</label>
            <input asp-for="Comments.CommentAuthor">
        </div>
        <div class="form-group">
            <label asp-for="Comments.CommentAuthorEmail">Email:</label>
            <input asp-for="Comments.CommentAuthorEmail">
        </div>
        <div class="form-group">
            <label asp-for="Comments.CommentAuthorUrl">Website:</label>
            <input asp-for="Comments.CommentAuthorEmail">
        </div>
        <div class="form-group">
            <label asp-for="Comments.CommentContent">Comment:</label>
            <textarea asp-for="Comments.CommentContent" rows="10" cols="30" id="ckeditor1"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>


@section Scripts { 

    <script>
        console.log("Hello World!");
    </script>
}