


@if (ViewBag.MyComments is not null)
{
    <br>
    <div id="Comments">
        @foreach (Comments comment in ViewBag.MyComments)
        {
            <div class="flex flex-row flex-1">
                <img
                    src="https://gravatar.com/avatar/27205e5c51cb03f862138b22bcb5dc20f94a342e744ff6df1b8dc8af3c865109?d=mp&f=y">

                @comment.CommentAuthor
            </div>
            @comment.CommentContent
        }

    </div>
}