@if (Model.AllComments.Count == 0)
{
    <hr>
    <p>No comments have been found just now. Be the first to add a comment using the form below.</p>


}
else
{

    <partial name="~/Views/Mobile/CommentCard.cshtml" />
    <button id="loadMoreComments">Load More</button>
    <button id="showLessComments">Show Less</button>
}


<partial name="~/Views/Mobile/CommentForm.cshtml" model="Model" />


@section Scripts {
    <script>
       
    </script>
}