

@if (Model.AllComments.Count == 0)
{
    <hr>
    <p>No comments have been found just now.  Be the first to add a comment using the form below.</p>

    
}

<partial name="~/Views/Mobile/CommentForm.cshtml" model="Model" />