@model MixModel

<p>Share your thoughts on this post using the form below.</p>

<form method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Name:</label>
        <input id="name" placeholder="John Smith">
    </div>
    <div>
        <label>Email:</label>
        <input id="email" type="email" placeholder="john@johnsmith.com">
    </div>
    <div>
        <label>Website:</label>
        <input id="website" placeholder="https://www.johnsmith.com">
    </div>
    <div>
        <label asp-for="Comments.CommentContent">Comment:</label>
        <textarea rows="10" cols="30" id="ckeditor1" placeholder="This is a great website...."></textarea>
    </div>
    <input type="hidden" name="PostTitle" value="@Model.Posts!.PostTitle">
    <input type="hidden" asp-for="Comments.PostID" value="@Model.Posts!.PostID">
    @* <div>
        <p>Please take a second to do the captcha and prove you're not a robot. This helps me fight spam. Thank you.</p>
        <div id="g-recaptcha" data-sitekey="6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz"></div>
    </div> *@

    <button type="submit">Comment</button>
</form>