@model MixModel
@TempData["Message"]
@Model.Comments.CommentAuthor

<form method="post" asp-action="AddComment" asp-controller="Blog">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Comments.CommentAuthor">Name:</label>
        <input asp-for="Comments.CommentAuthor" placeholder="John Smith">
    </div>
    <div>
        <label asp-for="Comments.CommentAuthorEmail">Email:</label>
        <input asp-for="Comments.CommentAuthorEmail" type="email" placeholder="john@johnsmith.com">
    </div>
    <div>
        <label asp-for="Comments.CommentAuthorUrl">Website:</label>
        <input asp-for="Comments.CommentAuthorUrl" placeholder="https://www.johnsmith.com">
    </div>
    <div>
        <label asp-for="Comments.CommentContent">Comment:</label>
        <textarea rows="10" cols="30" asp-for="Comments.CommentContent" placeholder="This is a great website...."></textarea>
    </div>
    <input type="hidden" name="PostTitle" value="@Model.Posts!.PostTitle">
    <input type="hidden" asp-for="Comments.PostID" value="@Model.Posts!.PostID">
    @* <div id="recaptcha" data-sitekey="6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz"></div> *@
    
    <button type="submit">Comment</button>
</form>