<div id="Comments">

    @if (Model.AllComments.Count == 0)
    {
        <hr>
        
        <div class="comments-container"></div>
    }
    else
    {
        <hr>

        <section>
            <p>@Model.AllComments.Count comments have been found for this post.</p>
            <partial name="~/Views/Mobile/CommentCard.cshtml" />
        </section>
        <section>
            <button id="loadMoreComments">More</button>
            <button id="showLessComments">Less</button>
        </section>

    }


    <partial name="~/Views/Mobile/CommentForm.cshtml" model="Model" />

</div>