@model ContactFormModel

<h2>Contact</h2>

@TempData["Message"]

<form method="post">
    <div>
        <label asp-for="Name">Name:</label>
        <input id="name" placeholder="John Smith">
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input id="email" placeholder="john@johnsmith.com">
    </div>
    <div>
        <label asp-for="Website">Website:</label>
        <input id="website" placeholder="https://www.johnsmith.com">
    </div>
    <div>
        <label asp-for="Message">Message:</label>
        <textarea id="ckeditor1" placeholder="This is a great website...." rows="10" cols="30"></textarea>
    </div>
    <div>
        <div id="g-recaptcha" data-sitekey="6LeCBlUrAAAAAGJFT1Rt-4hojR6NfEvqzsvZwnOz"></div>
    </div>
    <button type="submit">Contact</button>
</form>
