@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="progress-container">
    <div class="progess-bar" id="myBar"></div>
</div>
<div id="Home">
    <div class="overlay">
        <header>

            <partial name="~/Views/Partial/_MobileNav.cshtml" />
        </header>
        <h1>Hi, I'm Douglas!</h1>
        <img src="/images/me.jpg">
        <h2>Thanks for visiting!</h2>

    </div>
</div>

<div id="About">
    <section>
        <h1>About Me</h1>
        <img src="/images/Me.jpg">

        <p>I'm Douglas, a web developer with a First Class Honours degree from University of the West of Scotland (UWS), and a strong interest in creating practical, modern web applications.  During my studies, I achieved 95% in the Internet Scripting (ASP.NET Core) module, which I'm really proud of, and strengthened my skills in building reliable, effective solutions.</p>

           <p>This website is part portfolio, part blog and part photo gallery.  Here, I share my projects, document what I'm learning along the way, and post resources that I hope others will find useful.</p>

           <p>Outside of coding, I've always been drawn to music.  I studied composition at university, still enjoy playing the piano, and plan to take up the clarinet again.  Balancing creativity and problem-solving keeps me motivated, both in development and life.</p>
    </section>
</div>

<div id="Blog">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#f29f05" fill-opacity="1"
            d="M0,32L48,32C96,32,192,32,288,74.7C384,117,480,203,576,240C672,277,768,267,864,240C960,213,1056,171,1152,160C1248,149,1344,171,1392,181.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
        </path>
    </svg>


    <partial name="~/Views/Mobile/Posts.cshtml" />

    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#f27405" fill-opacity="1"
            d="M0,256L48,261.3C96,267,192,277,288,266.7C384,256,480,224,576,229.3C672,235,768,277,864,250.7C960,224,1056,128,1152,128C1248,128,1344,224,1392,272L1440,320L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
        </path>
    </svg>

</div>

<div id="Contact">
    <section>
    <partial name="Contact.cshtml" />
    </section>
     <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 256">     <path fill="#90EE90" fill-opacity="1" d="M0,192L48,170.7C96,149,192,107,288,85.3C384,64,480,64,576,74.7C672,85,768,107,864,96C960,85,1056,43,1152,64C1248,85,1344,171,1392,213.3L1440,256L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">     </path> </svg>
    
</div>

<footer>
    Copyright &copy; Douglas McGregor @DateTime.Now.ToString("yyyy")
</footer>