@inject ApplicationDbContext _db

@if (_db.Posts.Count() == 0)
{
}
else
{
    <div id="Blog">

        <section>
           <Partial name="~/Views/Mobile/PostCard.cshtml" />
        </section>
        <section>
             <button id="loadMoreBtn">Load More</button>
            <button id="showLessBtn">Show Less</button>
            
        </section>
    </div>
}


@functions {
    public static string Truncate(string value, int maxChars)
    {
        return value.Length <= maxChars ? value : value.Substring(0, maxChars) + ".....";
    }

    public static string RemoveHTMLTags(string html)
    {
        return System.Text.RegularExpressions.Regex.Replace(html, "<.*?>", string.Empty);
    }
}
