@model PersonalWebsiteMVC.Models.Posts
@using PersonalWebsiteMVC.Data
@inject ApplicationDbContext db
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<h1 class="bg-info text-white">Create</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

@TempData["Message"]

<form method="post" id="createPost" asp-action="SavePost" asp-controller="Blog" asp-area="Admin" enctype="multipart/form-data" name="CreateForm">

    <div class="form-group">
        <label asp-for="PostContent">Content:</label>
        <!-- Note: textarea needs the name attribute or else data posted will be null -->
        <textarea asp-for="PostContent" id="ckeditor1" name="txtPost" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="PostTitle">Title:</label>
        <input asp-for="PostTitle" class="form-control" id="title" />
    </div>
    <div class="form-group">
        <label class="form-label col-sm-2">Featured Image:</label>
        <input type="file" name="File1" class="form-control" id="image">
    </div>
    <div class="form-group">
        <label asp-for="CategoryID">Category:</label>
        <select asp-for="CategoryID" class="form-control" id="category">
            @foreach (var item in db.Categories)
            {
                <option value="@item.CategoryID" />
                @item.Category
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="#">Save Draft</a>

</form>


@section Scripts { 
    <script>
        $(function () {
            $(this).find('a').on('click', function (e) {
                e.preventDefault();
                //let data = $("#createPost").serialize();
                var formData = {
                    PostTitle: $("#title").val()
                };
                console.log(formData);
                $.ajax({
                    method: "POST",
                    url: "@Url.Action("SaveDraft", "Blog")",
                    data: JSON.stringify(formData),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    async: false,
                    cache: false,
                    processData: false,
                    success: function (message) {
                        console.log(message);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
             
            });
        });
    </script>
}



